@import 'main';

.Card3 {
  border-radius: 8px;
  background-color: $main-3;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
}

.Card-title {
    font-family: Raleway;
    font-size: 1.4em;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
    margin-top: 12px;
    margin-bottom: 26px;

}
.Card-content {
  font-family: Raleway;
  font-size: 1em;
  text-align: left;
  color: $grey-1;
}

.Rectangle-7-Copy-3 {
  width: 100%;
  border-radius: 4px;
  background-color: $grey-1;
}

.Radio-Label-Copy-2 {
  font-family: Raleway;
  padding-top: 4px;
  font-size: 0.85em;
  font-weight: bold;
  text-align: center;
  color: $main-1;
}
