<nav [hidden]="isNavBarHidden" class=" justify-content navbar navbar-toggleable-md navbar-inverse fixed-top"
     style="background-color: #4d1274">
  <div class="container">
    <div class="col-2">
      <a class="navbar-brand mb-0" href="#">
        <img src="assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Walnov
      </a>
    </div>
    <div class="dropdown col-2">
      <a class="btn btn-sm btn-secondary dropdown-toggle" href="https://example.com" id="dropdownMenuLink"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Comunidad
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Walls</a>
        <a class="dropdown-item" href="#">ChatStories</a>
        <a class="dropdown-item" href="#">Relatos Cortos</a>
      </div>
    </div>

    <input class="form-control h-75 col-3" type="text" placeholder="Search">

    <span class="fa-stack fal-lg hidden-lg-up col-1">
    <i class="fa fa-circle-o fa-stack-2x fa-inverse"></i>
    <i class="fa fa-search fa-stack-1x fa-inverse"></i>
    </span>

    <div class="dropdown col-1">
      <a class="btn btn-sm btn-secondary dropdown-toggle" href="https://example.com" id="dropdownMenuCrear"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-pencil"></i>
        Crear...
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuCrear">
        <a class="dropdown-item" routerLink="/crear-wall">Crear Walls</a>
        <a class="dropdown-item" href="#">Crear ChatStories</a>
        <a class="dropdown-item" href="#">Crear Relatos Cortos</a>
      </div>
    </div>

    <div class="col-2">
      <button class="btn btn-secondary btn-sm hidden-lg-down">Cómo Funciona</button>
    </div>

    <div class="col-1">
      <i class="fa fa-bell"></i>
      <i class="fa fa-inbox"></i>
    </div>

    <div class="col-1">
      <img src="https://lorempixel.com/22/22/cats" class="rounded-circle">
    </div>
  </div>
</nav>

