<nav [hidden]="isNavBarHidden" class=" justify-content navbar navbar-toggleable-md navbar-inverse fixed-top"
     style="background-color: #4d1274">
  <div class="container" style="padding: 0;">

    <div class="row" style="width:100%;">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-6">
            <div class="row-fluid">
              <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6"> -->
                <a class="navbar-brand mb-0" routerLink="/home">
                  <img src="assets/images/Logo Walnov-04.svg" width="40" height="30" class="d-inline-block align-top" alt="">
                  Walnov
                </a>
              <!-- </div> -->
            </div>
          </div>


          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-6 d-flex" style="padding-right: 40px;" id="secciones">
            <div class="d-flex flex-row justify-content-between" style="width:100%;">
              <div class="d-flex flex-column seccion">Walls</div>
              <div class="d-flex flex-column seccion" routerLink="/relatos">{{'all_relatos' | translate}}</div>
              <div class="d-flex flex-column seccion" routerLink="/chatstories">Chatstories</div>
            </div>
          </div>

          <div style="padding-right: 0px; padding-left: 0px;" class="col-xl-2 col-lg-2 col-md-1 col-sm-4 col-xs-6 d-flex justify-content-center">
              <div #buscador id="buscador"  [ngClass]="{'focused': this.searching}" class="d-flex hidden-md-down">
                  <input type="text" (keyup.enter)="searchTerm$.next($event.target.value)" class="inputtext" (focus)="this.searching=true" (focusout)="this.searching=false">
                  <i (click)="searchTerm$.next($event.target.value)" [ngClass]="{'focused2': this.searching}" class="fa fa-search fa-flip-horizontal" style="margin-right: 16px; line-height: 29px;" aria-hidden="true"></i>
              </div>
            <span class="Rectangle-4 hidden-lg-up"  style="top: 4px;">
              <!-- <i class="fa fa-circle-o fa-stack-2x fa-inverse"></i> -->
              <i class="fa fa-search fa-search-Copy fa-inverse fa-flip-horizontal"></i>
            </span>
          </div>

          <div class="d-flex col-xl-5 col-lg-5 col-md col-sm-6 col-xs-5" style="padding-left: 40px;" id="opciones">
            <div class="d-flex flex-row justify-content-between" style="width:100%;">
              <div style="margin-top: 6px;" class="d-flex flex-column">
                <a  class="boton-crear dropdown-toggle" href="https://example.com" id="dropdownMenuCrear"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  _<i style="margin-right: 7px" class="fa fa-pencil"></i>
                  {{'nav_crear' | translate}}&nbsp;&nbsp;
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuCrear">
                  <a class="dropdown-item" routerLink="/walls/crear-wall">{{'nav_crear' | translate}} Walls</a>
                  <a class="dropdown-item" [routerLink]="['/crear-chatstory', '0']">{{'nav_crear' | translate}} Chatstories</a>
                  <a class="dropdown-item" routerLink="/crear-relato">{{'nav_crear' | translate}} {{'all_relatos_cortos' | translate}}</a>
                </div>
              </div>
            <!-- </div> -->

              <!-- COMO FUNCIONA -->
              <div class="d-flex flex-column">
                  <button class="boton-como-funciona hidden-md-down">{{'nav_como_funciona' | translate}}</button>
                  <span class="Rectangle-4-Copy hidden-lg-up" style="top: 4px;">
                    <!-- <i class="fa fa-circle-o fa-stack-2x fa-inverse"></i> -->
                    <i class="fa fa-info fa-inverse"></i>
                  </span>
              </div>

              <div class="d-flex flex-column">
                  <i class="boton-notificaciones fa fa-bell"></i>
              </div>

              <div class="d-flex flex-column">
                  <i class="boton-mensajes fa fa-inbox"></i>
              </div>

              <div class="d-flex flex-column">
                <i class="img-rel boton-lenguage fa fa-globe" aria-hidden="true">
                  <app-nav-language-select></app-nav-language-select>
                </i>

              </div>

              <div id="imagen-perfil" class="d-flex flex-column img-rel" >
                  <app-profile-popover *ngIf="auth.isLoggedIn()"></app-profile-popover>
                  <app-prot-popover-register *ngIf="!auth.isLoggedIn()"></app-prot-popover-register>
                  <div [ngStyle]="{'background-image': 'url('+getProfilePicture()+')'}" class="rounded-circle nav-user-img img-responsive" (click)="popover()"></div>
              </div>
            </div>
          </div>




        </div>
      </div>

    </div>

  </div>
</nav>
