<div class="container-fluid" style="padding:0;">
  <div  class="row">
    <div  class="col-sm-12" style="padding:0; margin-top:-1.2em;">

        <div  class="Path-3 d-flex flex-column" style="padding: 6em 10em;">
          <div class="d-flex flex-row">
            <div class="d-flex flex-column">
              <div  class="d-flex flex-row align-self-start Walnov">
                <div class="d-flex flex-column">
                  <span class="number d-flex flex-row" style="margin-right:10px;">404,</span>
                </div>
                <div class="d-flex flex-column justify-content-end">
                  <span class="d-flex flex-row text" style="padding-bottom:11px; font-size:40px;">{{'pagina_no_encontrada' | translate}}</span>
                </div>
              </div>
              <div  class="d-flex flex-row align-self-start Walnov text-2" style="font-size:20px; font-weight:normal; margin-top:15px;">
                {{'pagina_no_encontrada_mensaje' | translate}}
              </div>
            </div>
            <div class="d-flex flex-column justify-content-end ml-auto">
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            </div>
          </div>
          <div  class="d-flex flex-row align-self-center Walnov" style="font-size:15px; margin-top:50px;">
            {{'pagina_no_encontrada_mensaje_2' | translate}}
          </div>

          <div  class="d-flex flex-row align-self-center justify-content-around Walnov" style="width:60%; font-size:15px; margin-top:35px;">
            <li><span routerLink="/home">Home</span></li>
            <li><span>Walls</span></li>
            <li><span routerLink="/relatos">{{'all_relatos' | translate}}</span></li>
            <li><span routerLink="/chatstories">Chatstories</span></li>
          </div>

          <div  class="d-flex flex-row align-self-center Walnov" style="margin-top:65px; font-size:40px;">
            Walnov
          </div>
          <div  class=" d-flex flex-row align-self-center mensaje">
            {{'landing_mobile_mensaje' | translate}}
          </div>

        </div>


    </div>
