@import "main";

.vertical-center{
  position: absolute;
  left: 1em;
  top: 50%;
  transform: translateY(-50%);
}

.vertical-center-right{
    left:initial;
    right:1em;
    top: 40%;
}

.fa:hover{
  cursor: pointer;
}

.character{
  position: relative;
  background-color: #d8d8d8;
  border-radius: 0.3em;
  margin-left: 0.25em;
  margin-right: 0.25em;
  padding-left: 1em;
  padding-right: 1em;
  height: 1.5em
}
.character .fa{
    color: $grey-8;
}
.char-name{
  font-family: Raleway;
  font-size: 9px;
  font-weight: 500;
  letter-spacing: 0.6px;
  text-align: left;
  color: $grey-8;
}
.row-margin{
  margin-top:0.5em;
  margin-bottom: 0.5em;
}

.true{
    background-color: white;
    color: black;
}

span{
  line-height: inherit;
}
