.character{
  background-color: #d8d8d8;
  border-radius: 0.3em;
  margin-left: 0.25em;
  margin-right: 0.25em;
  padding-left: 1em;
  padding-right: 1em;
  height: 1.5em
}
.row-margin{
  margin-top:0.5em;
  margin-bottom: 0.5em;
}

.true{
    background-color: white;
    color: black;
}

span{
  line-height: inherit;
}
