<div class="outside-container">
  <div class="d-flex flex-column">
    <div class="title">
      ¡Esta será la zona de actividad reciente de los usuarios a los que sigas!
    </div>
    <div class="container-title d-flex align-items-center justify-content-center section">
      Empieza siguiendo al menos 5 usuarios de nuestra comunidad
    </div>
    <div class="d-flex section">
      <div class="d-flex flex-column align-items-start full-width">
        <div class="title-label">
          ¡Busca a tus amigos!
        </div>
        <div class="custom-input d-flex justify-content-end align-items-center almost-full-width">
          <input type="text" name="" value="" class="form-control" placeholder="Escribe su nombre de usuario">
          <span class="fa fa-search"></span>
        </div>
      </div>
      <div class="d-flex flex-column align-items-start half-width">
        <div class="title-label">
          Ordenar
        </div>
        <select class="form-control" name="">
          <option value="relevantes">Más relevantes</option>
        </select>
      </div>
    </div>
  </div>
  <div class="title-label section d-flex">
    <span>Usuarios recomendados</span>
    <div class="button d-flex align-items-center justify-content-center ml-auto" [ngClass]="{'button-disabled': this.seguidos < 5}" (click)="continue()">
      Continuar
    </div>
  </div>
  <div class="users d-flex flex-wrap align-items-center justify-content-center">
    <app-card-follow-user *ngFor="let user of users" [user]="user" [seguido]="user.seguido" (followClick)="user.seguido ? unfollow(user) : follow(user)"></app-card-follow-user>
  </div>
</div>
