<div class="container">
  <div class="content">
    <div class="header">
      <div class="page" (click)="this.view='walls'" [ngClass]="{'current-page': this.view==='walls'}">
        Walls
      </div>
      <div class="page"(click)="this.view='historias'" [ngClass]="{'current-page': this.view==='historias'}">
        Historias
      </div>
      <div class="page"(click)="this.view='continuaciones'" [ngClass]="{'current-page': this.view==='continuaciones'}">
        Continuaciones
      </div>
      <div class="page"(click)="this.view='chatstories'" [ngClass]="{'current-page': this.view==='chatstories'}">
        Chatstories
      </div>
      <div class="page"(click)="this.view='relatos'" [ngClass]="{'current-page': this.view==='relatos'}">
        Relatos cortos
      </div>
    </div>
    <div class="content-container" [ngSwitch]="this.view">
      <app-user-content-chatstories *ngSwitchCase="'chatstories'"></app-user-content-chatstories>
      <app-user-content-relatos *ngSwitchCase="'relatos'"></app-user-content-relatos>
    </div>
  </div>
</div>
