<div class="container">
  <div class="content">
    <div class="header">
      <div class="page" (click)="changeView('walls')" [ngClass]="{'current-page': this.router.url.includes('walls')}">
        Walls
      </div>
      <div class="page" (click)="changeView('historias')" [ngClass]="{'current-page': this.router.url.includes('historias')}">
        {{'all_historias' | translate}}
      </div>
      <div class="page" (click)="changeView('continuaciones')" [ngClass]="{'current-page': this.router.url.includes('continuaciones')}">
        {{'all_continuaciones' | translate}}
      </div>
      <div class="page" (click)="changeView('chatstories')" [ngClass]="{'current-page': this.router.url.includes('chatstories')}">
        Chatstories
      </div>
      <div class="page" (click)="changeView('relatos')" [ngClass]="{'current-page': this.router.url.includes('relatos')}">
        {{'all_relatos_cortos' | translate}}
      </div>
    </div>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
