.visible{
  position: fixed;
  top: 55px !important;
  z-index: 99;
  margin: 0 auto;
  transform: translateX(-50%);
  left: 50%;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.18);
  background-color: #ffffff;
  padding: .5em 2em .5em 1em;
  font-family: Raleway;
  font-size: 14px;
  text-align: left;
  diplay: initial;
}
.p-2{
  padding-right:2em !important;
}
.alert{
  position:fixed;
  top:0;
  transition: top .5s linear;
}

.alert:hover{
  cursor: pointer;
}

.message{
  font-family: Raleway;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: left;
  color: #4a4a4a;
}
.text{
  font-family: Raleway;
  font-size: 14px;
  text-align: left;
  color: #4a4a4a;
}

alert-success-border-botton {
  border-bottom: solid #A855E3 .15em;
}

alert-warning-border-botton {
  border-bottom: solid #F0AF28 .15em;
}

alert-error-border-botton {
  border-bottom: solid red .15em;
}

