<div class="outside-container">
  <div class="title d-flex justify-content-center">
    {{'user_cuenta' | translate}}
  </div>
  <div class="link" [ngClass]="{'active': this.view==='datos'}" (click)="clickView('datos')">
    {{'user_profile' | translate}}
  </div>
  <div class="link" [ngClass]="{'active': this.view==='preferencias'}" (click)="clickView('preferencias')">
    {{'user_preferencias' | translate}}
  </div>
  <div class="link" [ngClass]="{'active': this.view==='premium'}" (click)="clickView('premium')">
    {{'user_premium' | translate}}
  </div>
</div>
