// $container-max-widths: (
//   sm: 760px,
//   md: 1166px,
//   lg: 1275px,
//   xl: 2000px
// ) !default;
$grid-breakpoints: (
  xs: 0,
  sm: 100px,
  md: 300px,
  lg: 762px,
  xl: 1170px
) !default;
