<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-3 cols-no-padding">
      <app-card-categorias (category)='changeCategory($event)'></app-card-categorias>
      <app-card-publicidad class="Publi"></app-card-publicidad>
    </div>
    <div class="col-lg-10 col-md-9 cols-no-padding">
      <app-card-relatos-paginador [categoria] = 'this.categoria' [relatosFiltrados] = 'this.relatosFiltrados'></app-card-relatos-paginador>
      <div class="d-flex flex-row align-items-center justify-content-center">
        <div class="load-more-button d-flex align-items-center justify-content-center" *ngIf="this.repositorio.paginadorCardsRelatos?.final" (click)="loadMore()"><span class="fa fa-plus"></span></div>
        <div class="load-more-button d-flex align-items-center justify-content-center" *ngIf="!this.repositorio.paginadorCardsRelatos?.inicio" (click)="scrollTop()"><span class="fa fa-chevron-up"></span></div>
      </div>
    </div>
  </div>
</div>
