<div class="card Rectangle-3-Copy-4 hidden-md-down">
  <div class="card-block">
    <h4 class="Card-title">Usuarios que son tendencia</h4>
    <div class="Rectangle-3" *ngFor="let usuario of usuarios">
      <div class="row-fluid" style="padding-left:12px; padding-top:12px">
        <img class="Imagen-Usuario" src={{usuario.imagen}} alt="Foto de perfil">
        <span class="Nombre-Usuario">{{usuario.nombre}}</span>
      </div>
      <ul class="Estadisticas-Usuario">
        <li>{{usuario.walls}} Walls</li>
        <li>{{usuario.chatstories}} Chatstories</li>
        <li>{{usuario.relatos}} Relatos cortos</li>
      </ul>
    </div>
    <button id="tetas" (click)="tetas()" type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title"
            data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover
    </button>
  </div>
</div>
