@import 'main';

.Rectangle-3-Copy-4 {
  //width: 299px;
  //height: 214px;
  border-radius: 8px;
  //background-color: #ffffff;
  background-color: $grey-1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  margin-bottom: 17px;
}

.Card-title {
  padding-top: 4px;
  font-family: Raleway;
  font-size: 1.2em;
  font-weight: 500;
  text-align: center;
  //color: #808080;
  color: $grey-7;

}

.Rectangle-3 {
  //width: 252.5px;
  //height: 131px;
  border-radius: 8px;
  margin-top: 20px;
  //background-color: #ffffff;
  background-color: $grey-1;
  border: solid 1px #e0e0e0;
}

.Imagen-Usuario {
  height: 22px;
  width: 22px;
  margin-top: -3px;
  border-radius: 50%;

}

.Nombre-Usuario {
  //max-width: 105px;
  //margin-top: 25px;
  margin-left: -5px;
  font-family: Raleway;
  font-size: 1.2em;
  font-weight: 600;
  text-align: left;
  //color: #8427bf;
  color: $main-1;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;

}

.Estadisticas-Usuario {
  margin-top: 12px;
  margin-bottom: 5px;
  line-height: 25px;
  padding-left:12px;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  color: #6c626f;

}

.btn-usuario {
  position: absolute;
  //margin-right: 70px;
  //padding-right: 25px;
  //bottom: 30px;
  right: 25px;
  //left: 200px;
  border: 0;
  background: 0;
  outline: none;
  cursor: pointer;
  //margin-left: -20px;
  //text-align: right;
  font-family: Raleway;
  font-size: 12px;
  font-weight: bold;
  //text-align: right;
  //color: #8427bf;
  color: $main-1;

}

.btn-usuario:focus{
  outline: none;

}

.fa-arrow-circle-right {
  color: $main-1;
  font-size: 20px;
}

.close-Copy {
  //margin-top: -10px;
  position: relative;
  right: 10px;
  bottom: 10px;
  //top: 62px;
  //color: $grey-7;
  //margin-left: 50px;
  object-fit: contain;


}

.ellipsis {
  color: $main-1;
  font-weight: bold;
}

.btn-close {
  border: 0;
  background: 0;
  outline: none;
  cursor: pointer;

}

.btn-close:focus {
  outline: none;

}
