<div [ngSwitch]="this.vista">
  <div *ngSwitchCase="'guardado'"class="container">
    <div class="title">
      {{'home_card_descubre' | translate}}
      {{'home_card_descubre_2' | translate}}
    </div>
    <div class="button">
      {{'home_card_descubre_3' | translate}}
    </div>
  </div>
  <div *ngSwitchCase="'userProfile'"class="container-2">
    <div class="title-2">
      {{'user_profile_apoyar' | translate}}
                  MalenaKrueger
      {{'user_profile_apoyar_message' | translate}}
    </div>
    <div class="d-flex justify-content-center">
      <div *ngIf = '!suscrito' (click) = "suscribir();" class="button-2">
    {{'user_profile_suscribir' | translate}}
      </div>
      <div *ngIf = "this.translate.currentLang === 'es'">
        <div *ngIf = 'suscrito' (click) = "unsuscribe();" class="button-3">
          <div class="btn-content">
            {{'user_profile_suscrito' | translate}}
          </div>
        </div>
      </div>
      <div *ngIf = "this.translate.currentLang === 'en'">
        <div *ngIf = 'suscrito' (click) = "unsuscribe();" class="button-3-2">
          <div  class="btn-content-2">
            {{'user_profile_suscrito' | translate}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
