@import 'main';

.container{
  width: 100%;
  border-radius: 8px;
  background-color: $grey-1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  padding:2em;
}

.title{
  font-family: Raleway;
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  line-height: 1.43;
  text-align: center;
  color: $main-3;
}

.button{
  margin-top:1em;
  font-family: Raleway;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: $grey-1;
  border-radius: 44px;
  background-color: $main-3;
  padding:.5em;
    &:hover{
      cursor: pointer;
      background-color: $main-4;
    }
}

.container-2{
  width: 100%;
  border-radius: 8px;
  background-color: $main-3;
  padding:2em;
  margin-top: 13px;
}

.title-2{
  font-family: Raleway;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: $grey-1;
}

.button-2{
  width: 85%;
  margin-top:1em;
  font-family: Raleway;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: $main-1;
  border-radius: 4px;
  background-color: $grey-1;
  padding:.3em 0.3em;
    &:hover{
      cursor: pointer;
    }
}

.button-3{

  .btn-content {
    position: relative;
    content: 'Suscrito';
  }

  // width: 85%;
  margin-top:1em;
  font-family: Raleway;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: $main-1;
  border-radius: 4px;
  background-color: $grey-1;
  padding:.3em 3.2em;
    &:hover{
      cursor: pointer;
      &::after {
        content: "Desuscribirse";
      }
    }
}

.button-3:hover {
  .btn-content {
      display: none;
    }
}

.button-3-2{

  .btn-content-2 {
    position: relative;
    content: 'Suscribed';
  }

  // width: 85%;
  margin-top:1em;
  font-family: Raleway;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: $main-1;
  border-radius: 4px;
  background-color: $grey-1;
  padding:.3em 3.2em;
    &:hover{
      cursor: pointer;
      &::after {
        content: "Unsuscribe";
      }
    }
}

.button-3-2:hover {
  .btn-content-2 {
      display: none;
    }
}
