<div [ngSwitch]="userType">
  <div *ngSwitchCase="'normal'" class="container">
    <div class="shapes">
      <div class="shape-1"></div>
      <div class="shape-2"></div>
      <div class="shape-3"></div>
      <div class="shape-4"></div>
      <div class="shape-5"></div>
      <div class="shape-6"></div>
      <div class="shape-7"></div>
      <div class="shape-8"></div>
    </div>
    <div class="img-profile" [ngStyle]="{'background-image': 'url('+this.user?.perfil.foto_perfil+')'}">
      <span *ngIf="this.user?.perfil.descripcion" class="tooltiptext">{{this.user?.perfil.descripcion}}</span>
      <!-- <div class="message-img">
        <span class="fa fa-comment"></span>
      </div> -->
    </div>
    <div class="info-container">
      <span class="user-name">{{this.user?.perfil.nombre}}</span>
      <div class="status">
        <div class="status-text">{{this.user?.perfil.numWallsCreated}} Walls</div>
        <div class="status-text">{{this.user?.perfil.numChatStoriesCreated}} Chatstories</div>
        <div class="status-text">{{this.user?.perfil.numRelatosCreated}} {{'all_relatos_cortos' | translate}}</div>
      </div>
      <div class="button" *ngIf="!checkUser() && !isAlreadyFollowed()" (click)="follow()">
        {{'user_profile_conectar' | translate}}
      </div>
      <div class="button-2" *ngIf="!checkUser() && isAlreadyFollowed()" (click)="unFollow()">
        {{'all_siguiendo' | translate}}
      </div>
      <div class="button-2">
        {{'user_profile_message' | translate}}
      </div>
      <div class="button">
        {{'all_donar' | translate}}
      </div>
    </div>
    <div class="followers-container">
      <div class="number-followers-container">
        <span class="number-followers">{{ user?.seguidores.length }} {{'user_profile_seguidores' | translate}}</span>
      </div>
      <div class="followers">
        <div class="img-follower">
        </div>
        <div class="img-follower">
        </div>
        <div class="img-follower">
        </div>
        <div class="img-follower">
        </div>
      </div>
      <div class="all-followers-button" (click)="allFollowers()">{{'user_profile_todos' | translate}}</div>
    </div>
  </div>
  <div *ngSwitchCase="'partner'" class="container">
    <div class="shapes">
      <div class="shape-1"></div>
      <div class="shape-2"></div>
      <div class="shape-3"></div>
      <div class="shape-4"></div>
      <div class="shape-5"></div>
      <div class="shape-6"></div>
      <div class="shape-7"></div>
      <div class="shape-8"></div>
    </div>
    <div class="Oval-3">
      <span class="tooltiptext">Descripción del Usuario 200 caracteres 3 wolf moon. Actually beard single-origin coffee, twee 90's PBR Echo Park sartorial try-hard freegan Portland ennui. Selvage jean shortsfd 90’s.</span>
      <!-- <div class="message-img">
        <span class="fa fa-comment"></span>
      </div> -->
      <div class="img-profile-2">
        <div class="semicircle d-flex justify-content-center">
          <div class="Tipo-Usuario">
            Partner
          </div>
        </div>
      </div>
    </div>
    <div class="info-container">
      <span class="user-name">MalenaKrueger</span>
      <div class="status">
        <div class="status-text">23 Walls</div>
        <div class="status-text">4 Chatstories</div>
        <div class="status-text">8 {{'all_relatos_cortos' | translate}}</div>
      </div>
      <div class="button">
        {{'user_profile_conectar' | translate}}
      </div>
      <div class="button-2">
        {{'user_profile_message' | translate}}
      </div>
    </div>
    <div class="followers-container">
      <div class="number-followers-container">
        <span class="number-followers">34.954 {{'user_profile_seguidores' | translate}}</span>
      </div>
      <div class="followers">
        <div class="img-follower">
        </div>
        <div class="img-follower">
        </div>
        <div class="img-follower">
        </div>
        <div class="img-follower">
        </div>
      </div>
      <div class="all-followers-button"  (click)="allFollowers()">{{'user_profile_todos' | translate}}</div>
    </div>
  </div>
  <div *ngSwitchCase="'premium'" class="container">
    <div class="shapes">
      <div class="shape-1"></div>
      <div class="shape-2"></div>
      <div class="shape-3"></div>
      <div class="shape-4"></div>
      <div class="shape-5"></div>
      <div class="shape-6"></div>
      <div class="shape-7"></div>
      <div class="shape-8"></div>
    </div>
    <div class="Oval-4">
      <span class="tooltiptext">Descripción del Usuario 200 caracteres 3 wolf moon. Actually beard single-origin coffee, twee 90's PBR Echo Park sartorial try-hard freegan Portland ennui. Selvage jean shortsfd 90’s.</span>
      <!-- <div class="message-img">
        <span class="fa fa-comment"></span>
      </div> -->
      <div class="img-profile-3">
        <div class="semicircle d-flex justify-content-center">
          <div class="Tipo-Usuario">
            Premium
          </div>
        </div>
      </div>
    </div>
    <div class="info-container">
      <span class="user-name">MalenaKrueger</span>
      <div class="status">
        <div class="status-text">23 Walls</div>
        <div class="status-text">4 Chatstories</div>
        <div class="status-text">8 {{'all_relatos_cortos' | translate}}</div>
      </div>
      <div class="button">
        {{'user_profile_conectar' | translate}}
      </div>
      <div class="button-2">
        {{'user_profile_message' | translate}}
      </div>
    </div>
    <div class="followers-container">
      <div class="number-followers-container">
        <span class="number-followers">34.954 {{'user_profile_seguidores' | translate}}</span>
      </div>
      <div class="followers">
        <div class="img-follower">
        </div>
        <div class="img-follower">
        </div>
        <div class="img-follower">
        </div>
        <div class="img-follower">
        </div>
      </div>
      <div class="all-followers-button" (click)="allFollowers()">{{'user_profile_todos' | translate}}</div>
    </div>
  </div>
</div>
