<div class="container-fluid">
  <div class="row">
    <div class="col-2 cols-no-padding user-card-top">
      <app-card-info-chatstory></app-card-info-chatstory>
    </div>

    <div class="col-7">
      <div class="outside-container">
        <div class="row no-padding full-height">
          <div class="description">
            {{chatStory?.descripcion}}
          </div>
          <div class="col-12 no-padding full-height col-chatstory-preview">
            <div class="chatstory-preview-image" [ngStyle]="{'background-image': 'url(\''+chatStory?.urlImagen+'\')'}">
            </div>
            <div id="preview" class="chatstory-preview" [ngStyle]="{'background-image': 'linear-gradient(to bottom, rgba(41, 186, 111, 0), '+chatStory?.categoria.color+')'}" #preview>
              <div class="messages-content" #previewScroll>
                <div class="row no-padding" *ngFor="let m of this.messagesArray">
                  <app-chatstory-message [big]="true" [message]="m" (click)="loadMessage(m)"></app-chatstory-message>
                </div>
              </div>
            </div>
            <div class="click-box" #clickBox (click)="nextMessageClick()">
              {{'chatstories_ver_footer' | translate}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3 hidden-md-down cols-no-padding">
        <app-card-usuario-tendencia></app-card-usuario-tendencia>
        <app-card-chatstory-relevante></app-card-chatstory-relevante>
        <!-- <app-card-publicidad></app-card-publicidad> -->

    </div>

  </div>

</div>
