@import "main";

.outside-container{
  // padding: 2.5em;
  padding: 2em;
  position: relative;
  height: 604px;
  border-radius: 8px;
  background-color: #fdfdfd;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
}
.messages-content{
  position: absolute;
  top:1em;
  height:80%;
  overflow-y: auto;
  padding: 0 2em;
}

.user-card-top {
  padding-top:2em;
}

.description {
  font-family: Raleway;
  font-size: .9em;
  text-align: left;
  color: #4a4a4a;
  color: var(--grey-8);
}

.chatstory-preview{
  margin-top: 16px;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  // background-image: linear-gradient(to bottom, rgba(41, 186, 111, 0), $cat-2);
}
.messages-content::-webkit-scrollbar{
  display: initial;
}
.chatstory-preview-image{
  margin-top:16px;
  border-radius: 8px;
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(.2em);
}

.col-chatstory-preview{
  overflow: hidden;
  border-radius: 8px;
}

.no-padding{
  padding: 0;
  margin: 0;
}

.full-height{
  height: 100%;
}

.click-box{
  height: 50px;
  text-align: center;
  user-select: none;
  width: 97%;
  position: absolute;
  bottom: 2%;
  background-color: rgba(0,0,0,0.50);
  left: 50%;
  transform: translateX(-50%);
  padding: 1em 3em;
  border-radius: 8px;
  color: wheat;
  transition: background-color 0.2s linear;
}
.click-box:hover{
  cursor: pointer;
}
.click-box:active{
  background-color: rgba(0,0,0,0.15);
}
