<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-3 cols-no-padding">
      <app-card-info-chatstory [chatstory]="chatStory"></app-card-info-chatstory>
    </div>

    <div class="col-lg-7 col-md-9">
      <div class="outside-container">
        <div class="row no-padding full-height">
          <div class="d-flex flex-column" style="width:100%;">
            <div class="d-flex flex-row" style="width:100%;">
              <div class="d-flex flex-column" style="width:70%;">
                <div class="d-flex flex-row chat-title" title="{{chatStory?.titulo}}">
                  <div class="ellipsis">
                    {{chatStory?.titulo}}
                  </div>
                </div>
                <div class="d-flex flex-row description">
                  <div class="ellipsis" title="{{chatStory?.descripcion}}">
                    {{chatStory?.descripcion}}
                  </div>
                </div>
              </div>
              <div class="d-flex flex-column justify-content-around ml-auto" style="width:25%;">
                <div class="d-flex flex-row justify-content-center" *ngIf="this.checkAllow()">
                  <div class="d-flex flex-column align-items-center"  [ngClass]="{'user-chatstory': checkUserChatstory()}">
                    <button type="button" [ngClass]="{'Rectangle-7-Copy-4': !this.inLibrary, 'Rectangle-7-Copy-4-2': this.inLibrary}" (click)='addToLibrary()' name="button" style="cursor:pointer;">
                      <div class="btn-details">
                        {{this.addLibraryText()}}
                      </div>
                    </button>
                  </div>
                </div>
                <div class="d-flex flex-row justify-content-around">
                  <span class="compartir">{{'modal_compartir_redes' | translate}}</span><i class="fa fa-twitter" aria-hidden="true" title="Twitter" style="margin-top:5px;"></i><i class="fa fa-facebook-official" title="Facebook" aria-hidden="true" style="margin-top:5px;"></i>
                </div>
              </div>
            </div>

          </div>
          <div class="col-12 no-padding col-chatstory-preview" style="height:90%;">
            <div class="chatstory-preview-image" [ngStyle]="{'background-image': 'url(\''+chatStory?.urlImagen+'\')'}">
            </div>
            <div id="preview" class="chatstory-preview" [ngStyle]="{'background-image': 'linear-gradient(to bottom, rgba(41, 186, 111, 0), '+chatStory?.categoria.color+')'}" #preview>
              <div class="messages-content" #previewScroll>
                <div class="row no-padding" *ngFor="let m of this.messagesArray">
                  <app-chatstory-message [big]="true" [message]="m" (click)="loadMessage(m)"></app-chatstory-message>
                </div>
              </div>
            </div>
            <div class="click-box" #clickBox (click)="nextMessageClick()">
              {{'chatstories_ver_footer' | translate}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 hidden-md-down" style="padding-left:0px;">
        <app-card-usuario-tendencia></app-card-usuario-tendencia>
        <app-card-chatstory-relevante></app-card-chatstory-relevante>
        <!-- <app-card-publicidad></app-card-publicidad> -->

    </div>

  </div>

</div>
