<div class="container-fluid">
  <div class="row">
    <div class="col-2 cols-no-padding">

    </div>

    <div class="col-8">
      <div class="outside-container">
        <div class="row no-padding full-height">
          <div class="col-12 no-padding full-height col-chatstory-preview">
            <div class="chatstory-preview-image" [ngStyle]="{'background-image': 'url(\''+this.chatStory.img+'\')'}">
            </div>
            <div id="preview" class="chatstory-preview" [ngStyle]="{'background-image': 'linear-gradient(to bottom, rgba(41, 186, 111, 0), '+this.chatStory.categoria.color+')'}" #preview>
              <div class="messages-content">
                <div class="row no-padding" *ngFor="let m of this.messagesArray">
                  <app-chatstory-message [big]="true" [message]="m" (click)="loadMessage(m)"></app-chatstory-message>
                </div>
              </div>
            </div>
            <div class="click-box" (click)="nextMessage()" (keydown.enter)="nextMessageSpace($event)">
              Haz click aquí o pulsa la barra espaciadora
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-2 hidden-md-down cols-no-padding">
        <app-card-usuario-tendencia></app-card-usuario-tendencia>
        <app-card-wall-relevante></app-card-wall-relevante>
        <!-- <app-card-publicidad></app-card-publicidad> -->

    </div>

  </div>

</div>
