<div class="outside-container" *ngIf="this.message">
  <div class="loader" *ngIf="this.message?.type==='loader'">

  </div>
  <div #content class="content-container d-flex flex-column zoomIn animated" [ngSwitch]="this.message?.type" *ngIf="this.message?.type!='loader'">
    <app-modal-decoration></app-modal-decoration>
    <div class="title-box d-flex align-items-center justify-content-center">
      {{this.message.text}}
    </div>
    <div class="button-box d-flex justify-content-end" *ngSwitchCase="'info'">
      <div class="button d-flex align-items-center justify-content-center" (click)="clear()">
        {{'modal_info' | translate}}
      </div>
    </div>
    <div class="share d-flex flex-column" *ngSwitchCase="'share'">
      <div class="d-flex">
        <div class="d-flex flex-column justify-content-start margin-right">
          <div class="simple-title">
            {{'modal_compartir_enlace' | translate }}
          </div>
          <div id="copyToClipboard" class="link margin-top-1" >
            {{ message.enlaceCopiar }}
          </div>
          <div class="">
            <div class="button-white margin-top-1" (click)="copy()">
              <span *ngIf="!isCopied">{{'modal_copy' | translate }}</span>
              <span *ngIf="isCopied">{{'modal_copied' | translate }}</span>
            </div>
          </div>
        </div>
        <div class="d-flex flex-column justify-content-start">
          <div class="simple-title">
            {{'modal_compartir_redes' | translate }}
          </div>
          <div class="share-buttons d-flex">
            <div class="sqr-button facebook">
              <span class="fa fa-facebook"></span>
            </div>
            <div class="sqr-button google">
              <span class="fa fa-google-plus"></span>
            </div>
            <div class="sqr-button twitter">
              <span class="fa fa-twitter"></span>
            </div>
            <div class="sqr-button linkedin">
              <span class="fa fa-linkedin"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="button-row d-flex align-itmes-end justify-content-end">
        <div class="button" (click)="clearAndNavigate()">
          {{'home_reciente_button_1' | translate}}
        </div>
      </div>
    </div>
  </div>
</div>
