<div class="container-fluid Rectangle-2">
  <div class="d-flex flex-row justify-content-between Rectangle-6">
    <div class="d-flex flex-column align-self-center header-1 ml-auto mr-auto">
      <div class="d-flex">
        {{'partner_titulo' | translate}}
      </div>
    </div>
    <div class="d-flex flex-column Oval-3 mr-auto" style="margin-left:40px;">
      <div class="shape-1"></div>
      <div class="shape-2"></div>
      <div class="shape-3"></div>
      <div class="shape-4"></div>
      <div class="shape-5"></div>
      <div class="shape-6"></div>
      <div class="shape-7"></div>
      <div class="shape-8"></div>
      <div class="shape-9"></div>
      <div class="shape-10"></div>
      <div class="shape-11"></div>
      <div class="shape-12"></div>
      <div class="shape-13"></div>
      <div class="img-profile-2">
        <div class="semicircle d-flex justify-content-center">
          <div class="Tipo-Usuario">
            Partner
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column d-flex align-self-center header-2 ml-auto">
      <div class="d-flex">
        {{'partner_oferta' | translate}}
      </div>
    </div>
  </div>
  <div class="Rectangle-7">
    <div class="title">
      {{'partner_pregunta' | translate}}
    </div>
    <div class="d-flex justify-content-center">
      <div class="Line-Copy">
      </div>
    </div>
    <div class="d-flex justify-content-center info-1">
      <div class="d-flex flex-column Rectangle-7-Copy-3 ml-auto btn-1" style="margin-top:12px;">
        <div class="button-content">
          {{'partner_suscripcion' | translate}}
        </div>
      </div>
      <div class="d-flex flex-column detalles ml-auto">
        {{'partner_suscripcion_2' | translate}}
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="Line-Copy-2">
      </div>
    </div>
    <div class="d-flex justify-content-center info-2">
      <div class="d-flex flex-column detalles-2 mr-auto">
        {{'partner_apoyo' | translate}}
      </div>
      <div class="d-flex flex-column Rectangle-7-Copy-3 mr-auto btn-2" style="margin-top:12px;">
        <div class="button-content">
          {{'partner_donacion' | translate}}
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="Line-Copy-2">
      </div>
    </div>
    <div class="d-flex justify-content-center info-2">
      <div class="d-flex flex-column ml-auto icon" style="margin-top:26px;">
        <div class="Oval-6-Copy-4">
          <div class="Oval-6-Copy-3">
          </div>
          <div class="Oval-6-Copy-2">
          </div>
          <div class="Oval-6-Copy">
          </div>
          <div class="Oval-6">
            <div class="W">
              W
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column detalles ml-auto">
        {{'partner_iconos' | translate}}
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="Line-Copy-2">
      </div>
    </div>
    <div class="Plus">
      {{'partner_mas' | translate}}
    </div>
    <div class="Plus-2">
      {{'partner_mas_2' | translate}}
    </div>
    <div class="d-flex justify-content-center">
      <div class="Rectangle-5 d-flex justify-content-center align-items-center">
        <div class="Rectangle-7-Copy-4 d-flex justify-content-center align-items-center" style="width:45%; cursor:pointer;">
          <div class="d-flex button-content">
            {{'partner_solicitud' | translate}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
