@import "main";

.launcher{
  position: absolute;
  width: 100%;
  height: 100%;
}

div{
  outline:0;
}

.c-popover{
  width: 20vw;
  position: absolute;
  top: calc(100% + 15px);
  right: -15px;
  padding:1em 2em;
  background-color:$main-1;
  border-radius:.5em;
  cursor:initial;
  box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.24);
  &::after{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 15px 15px 15px;
    border-color: transparent transparent $main-1 transparent;
    position: absolute;
    bottom:99%;
    right: 15px;
    cursor:initial;
  }
}

.block{
  margin: .5em 0;
}

.username{
  font-family: Raleway;
  font-size: 1em;
  color:white;
  &:hover{
    cursor: pointer;
    text-decoration: underline;
  }
}

.title{
  font-family: Raleway;
  font-size: 1em;
  color:white;
  font-weight: bold;
  &:hover{
    cursor: pointer;
    text-decoration: underline;
  }
}

.lvl-button{
  margin-top:1.2em;
  border-radius: 3em;
  background-color: $main-4;
  font-family: Raleway;
  font-size: .9em;
  color:white;
  text-align: center;
  padding: .2em 2em;
  &:hover{
    cursor: pointer;
    background-color: $main-3;
  }
}
