@import "main";

section {
  width: 100%;
  // height: 100%;

}

.Walnov {
  font-family: 'Maven Pro';
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  color: $grey-1;
}

.mensaje-movil {
  font-family: Raleway;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: $grey-1;
}

.intro {
  // width: 1280px;
  height: 765px !important;
  position: relative;
  z-index: 0;
  padding: 0 !important;
  overflow: hidden;
  // padding-top: 40px !important;
  // height: initial !important;
  // opacity: 0.87;
  // mix-blend-mode: hard-light;
  background: none !important;
  background-image: none !important;
}

.filtro-1 {
  // width: 1280px;
  // height: 710px !important;
  position: absolute;
  z-index: 3;
  height: 100%;
  width: 100%;
  object-fit: contain;
  opacity: 0.87;
  mix-blend-mode: hard-light;
  background-image: linear-gradient(162deg, #080011, #c86dd7);
}

.filtro-2 {
  position: absolute;
  top: 0;
  // padding-top: 40px;
  height: 100%;
  width: 100%;
  z-index: 1;
  object-fit: contain;
  opacity: 0.87;
  background-image: linear-gradient(338deg, #6c0092, #9c6dd7);
}

.container {

  padding-right: 40px !important;
  padding-left: 40px !important;
  // z-index: 99 !important;
}

.Barra {
  // width: 98px;
  // height: 16px;
  font-family: Raleway;
  font-size: 14px;
  text-align: left;
  color: $grey-1;
}

.Rectangle-2 {
  height: fit-content;
  width: fit-content;
  padding: 5px 30px;
  border-radius: 4px;
  background-color: $main-3;
  font-size: 12px !important;
  &:hover {
    background-color: $main-1;
  }
}

.margenes {
  margin-left: -1.2em !important;
  margin-right: -1.2em !important;
}

.mensaje {
  font-family: Raleway;
  font-weight: bold;
  text-align: left;
  color: $grey-1;
}

.mensaje-2 {
  font-size: 38px;
  // fonte
  line-height: 1.4;
}

.mensaje-1 {
  font-size: 24px;
  font-weight: 300 !important;
}

.Rectangle-7-Copy {
  height: fit-content;
  width: fit-content;
  padding: 12px 20px;
  border-radius: 4px;
  border: solid 1px $grey-1;
  cursor: pointer;
  &:hover {
    background-color: $grey-1;
    color: #6c0092;
    text-decoration: none !important;

  }
}

.btn-content {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: $grey-1;
}

@media (min-width: 768px) and (max-width: 991px) {
  .mensaje-2 {
    font-size: 25px !important;
  }

  .mensaje-1 {
    font-size: 18px !important;
  }

  .btn-content {
    font-size: 12px !important;
  }

  .img-responsive {
    height: 400px !important;
  }
  .container {

    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .intro {
    // width: 1280px;
    height: 615px !important;
  }

  .que-es {
    // width: 1280px;
    height: 615px !important;
  }

  .triangulos-principal {

    top: 160px !important;
  }

}

@media (min-width: 992px) and (max-width: 1199px) {

  .triangulos-principal {

    top: 150px !important;
  }

  .mensaje-2 {
    font-size: 30px !important;
  }

  .mensaje-1 {
    font-size: 20px !important;
  }

  .btn-content {
    font-size: 15px !important;
  }

  .img-responsive {
    height: 430px !important;
  }

  .intro {
    // width: 1280px;
    height: 650px !important;
  }

  .que-es {
    // width: 1280px;
    height: 615px !important;
  }

}

.no-padding {
  padding: 0 !important;
}

.imagen {
  position: relative;
  // background-image: url("assets/images/landing/bitmap.png");

}

.footer-intro{
    position: absolute;
    bottom: -100px;
    width: 120%;
    left: 0px;
    z-index: 4;
    height: 240px;
    background-color: white;
    transform: rotate(-5deg);
}

@media (min-width: 1200px) and (max-width: 1439px) {
  .footer-intro {
      bottom: -106px !important;

  }

  .que-es {
    height: 660px !important;
  }

}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer-intro {
      bottom: -160px !important;

  }

}

.desplegable {
  position: relative;
  bottom: 25px;
  z-index: 99;
  // width: 58.2px;
  // height: 14.8px;
  opacity: 0.3;
  color: $main-3;
  font-size: 20px;
}

.fa-angle-down { transform: scale(4,1.5); }

@media (min-width: 1200px) {

  .img-responsive {
    height: 493px !important;
    object-fit: contain;
  }

}

.img-responsive {
  // height: 493px !important;
  object-fit: contain;
}

.foto-Landing {
  position: absolute;
  // top: 0;
  z-index: 2;
  opacity: 0.3;
  width: 100%;
  // height: 125%;
  object-fit: contain;
}

.triangulos-principal {
  position: absolute;
  // bottom: 0;
  top: 142px;
  z-index: 5;
  // opacity: 0.3;
  width: 100%;
  // height: 675px;
  object-fit: contain;
}

@media (max-width: 1199px) {
  .foto-Landing {
    width: initial !important;
    height: 125% !important;
    // object-fit: contain;
  }
}

@media (max-width: 1439px) {
  .foto-Landing {
    top:0 !important;
    // object-fit: contain;
  }
}

.que-es {
  // width: 1280px;
  height: 685px;
  position: relative;
  z-index: 0;
  padding: 0 !important;
  overflow: hidden;
  // padding-top: 40px !important;
  // height: initial !important;
  // opacity: 0.87;
  // mix-blend-mode: hard-light;
  // border: 3px solid #555 !important;
  background-color: white !important;
  background-image: none !important;

}

.que-es-titulo {
  font-family: Raleway;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: $main-1;

}

.seccion-titulo {
  margin-top: 30px;
  margin-bottom: 12px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: $main-1;
}

.seccion-contenido {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.28;
  text-align: center;
  color: #6c626f;

}

.Group-6 {
  width: 162px;
  height: 125px;
  object-fit: contain;
}

.Group-3 {
  width: 134px;
  height: 104px;
  object-fit: contain;
}

.Group-15 {
  width: 144px;
  height: 111px;
  object-fit: contain;
}

.footer-que-es{
    position: absolute;
    bottom: -100px;
    width: 120%;
    left: 0px;
    z-index: 4;
    height: 240px;
    background-image: linear-gradient(to bottom, #8429ac, $main-2);
    transform: rotate(-5deg);
}

@media (min-width: 1200px) and (max-width: 1439px) {
  .footer-que-es {
      bottom: -106px !important;

  }

}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer-que-es {
      bottom: -160px !important;

  }

}
