<!--======== intro =========-->
<div class="container-fluid margenes" style="margin-top:-5em; padding: 0;">
  <section class="intro">
    <div class="filtro-1">
    </div>
    <div class="filtro-2">
    </div>
    <img src="assets/images/landing/foto-landing.png"
     srcset="assets/images/landing/foto-landing@2x.png 2x,
             assets/images/landing/foto-landing@3x.png 3x"
     class="foto-Landing">
     <img src="assets/images/landing/triangulos-principal.svg"
      class="triangulos-principal">

    <div class="footer-intro">
    </div>

      <div class="container" style="z-index:99 !important; padding-top:40px !important;">

        <div class="row">
          <div class="col-12">
            <div class="d-flex flex-row" style="margin-bottom:105px;">
              <div class="d-flex flex-column">
                <div class="d-flex flex-row">
                  <img  alt="" class="" height="55" src="assets/images/Logo Walnov-04.svg" width="110">
                  <div  class="Walnov">
                    Walnov
                  </div>
                </div>

              </div>
              <div class="d-flex flex-column justify-content-center Barra ml-auto" style="width:55%;">
                <div class="d-flex flex-row justify-content-between">
                  <div class="d-flex align-self-center" style="cursor:pointer;">Qué es</div>
                  <div class="d-flex align-self-center" style="cursor:pointer;">Lee</div>
                  <div class="d-flex align-self-center" style="cursor:pointer;">Crea</div>
                  <div class="d-flex align-self-center" style="cursor:pointer;">Colabora</div>
                  <div class="d-flex align-self-center" style="cursor:pointer;">
                    <div class="Rectangle-2" href="#" role="button" routerLink="home">
                      Accede
                    </div>
                  </div>
                </div>

              </div>
            </div>


          </div>
          <div class="col-12" style="padding-left:70px; padding-right:70px;">
            <div class="col-md-6 col-sm-8 col-xs-12 no-padding">
              <div class="intro-content mensaje">
                <div class="mensaje-1" style="margin-bottom:40px;">Una nueva forma de disfrutar del placer de leer y crear historias.</div>
                <div class="mensaje-2" style="margin-bottom:60px;">Descubre la primera plataforma de escritura colaborativa del mundo.</div>
                <div class="d-flex flex-row justify-content-start">
                  <a class="Rectangle-7-Copy btn-content" href="#" role="button" routerLink="home">¡Empieza el viaje ya!</a>
                  <a class="Rectangle-7-Copy btn-content" style="margin-left:20px;" href="#" role="button" routerLink="home">Descarga la app</a>

                </div>


              </div>
            </div>
            <div class="col-md-6 col-sm-8 col-xs-12 no-padding">
              <div class="imagen">
                <img src="assets/images/landing/m-vil.png"
                  srcset="assets/images/landing/m-vil.png 2x,
                  assets/images/landing/m-vil.png 3x"
                  class="img-responsive ml-auto" alt="intro-image">
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- </div> -->
    <div class="d-flex flex-row justify-content-center" style="width:100%;">
      <div class="desplegable">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </div>
    </div>
  </section>
<!-- final de intro -->


<!-- inicio de que es -->
  <section class="que-es">

    <div class="footer-que-es">
    </div>

      <div class="container" style="z-index:99 !important;">

        <div class="row">
          <div class="col-12" style="padding-left:70px; padding-right:70px;">
            <div class="d-flex flex-row justify-content-center">
              <div class="d-flex que-es-titulo" style="margin-bottom:68px;">
                QUÉ ES
              </div>
            </div>

            <div class="d-flex flex-row justify-content-between">
              <div class="d-flex flex-column" style="width:27%;">
                <div class="d-flex flex-row justify-content-center">
                  <img src="assets/images/landing/icono-libro.svg"
                    class="Group-6">
                </div>
                  <div class="seccion-titulo">
                    LEE
                  </div>
                  <div class="seccion-contenido">
                    Sigue a los autores que más te gusten y disfruta de sus creaciones eligiendo entre más de 10 categorías.
                  </div>
              </div>

              <div class="d-flex flex-column" style="width:27%;">
                <div class="d-flex flex-row justify-content-center" style="margin-top:110px;">
                  <img src="assets/images/landing/icono-pluma.svg"
                    class="Group-3">
                </div>
                  <div class="seccion-titulo">
                    CREA
                  </div>
                  <div class="seccion-contenido">
                    Crea tus propios walls, relatos o chatstories públicos o privados y haz que la gente te siga.
                  </div>
              </div>

              <div class="d-flex flex-column" style="width:27%;">
                <div class="d-flex flex-row justify-content-center">
                  <img src="assets/images/landing/icono-personas.svg"
                    class="Group-15">
                </div>
                  <div class="seccion-titulo">
                    COLABORA
                  </div>
                  <div class="seccion-contenido">
                    Colabora en la creación de  historias continuando otros walls y conectando con otros usuarios.
                  </div>
              </div>
            </div>
          </div>

        </div>
      </div>

  </section>
</div>

<!--======== end intro =========-->
<!--======== support =========-->
<!-- <section class="support margenes">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-md-4">
            <div class="media">
              <div class="media-left media-middle">
                <i class="fa fa-windows"></i>
              </div>
              <div class="media-body">
                <h3>Windows</h3>
                <p>Lorem ipsum dolor sit amet</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="media">
              <div class="media-left media-middle">
                <i class="fa fa-android"></i>
              </div>
              <div class="media-body">
                <h3>Android</h3>
                <p>Lorem ipsum dolor sit amet</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="media">
              <div class="media-left media-middle">
                <i class="fa fa-apple"></i>
              </div>
              <div class="media-body">
                <h3>Apple</h3>
                <p>Lorem ipsum dolor sit amet</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!--======== end support =========-->

<!--======== Our Services =========-->
<!-- <section id="service" class="service margenes">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1 class="section-title">Our Services</h1>
          <p class="section-para">Lorem ipsum dolor sit amet reprehenderit, enim eiusmod high life accusamus terry richardson ad
            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod cusamus terry.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="media">
              <div class="media-left">
                <i class="lnr lnr-screen"></i>
              </div>
              <div class="media-body">
                <h3 class="media-heading">Bootstrap</h3>
                <p>Lorem Ipsum adalah text contoh dikan didalam industri pencet typesetting pabila pencetak yang.</p>
              </div>
            </div>

            <div class="media">
              <div class="media-left">
                <i class="lnr lnr-screen"></i>
              </div>
              <div class="media-body">
                <h3 class="media-heading">Wordpress</h3>
                <p>Lorem Ipsum adalah text contoh dikan didalam industri pencet typesetting pabila pencetak yang.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="media">
              <div class="media-left">
                <i class="lnr lnr-laptop-phone"></i>
              </div>
              <div class="media-body">
                <h3 class="media-heading">Font Awesome</h3>
                <p>Lorem Ipsum adalah text contoh dikan didalam industri pencet typesetting pabila pencetak yang.</p>
              </div>
            </div>
            <div class="media">
              <div class="media-left">
                <i class="lnr lnr-screen"></i>
              </div>
              <div class="media-body">
                <h3 class="media-heading">Responsive</h3>
                <p>Lorem Ipsum adalah text contoh dikan didalam industri pencet typesetting pabila pencetak yang.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="media">
              <div class="media-left">
                <i class="lnr lnr-tablet"></i>
              </div>
              <div class="media-body">
                <h3 class="media-heading">Frash & Clean </h3>
                <p>Lorem Ipsum adalah text contoh dikan didalam industri pencet typesetting pabila pencetak yang.</p>
              </div>
            </div>
            <div class="media">
              <div class="media-left">
                <i class="lnr lnr-screen"></i>
              </div>
              <div class="media-body">
                <h3 class="media-heading">HTML & CSS3</h3>
                <p>Lorem Ipsum adalah text contoh dikan didalam industri pencet typesetting pabila pencetak yang.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="media">
              <div class="media-left">
                <i class="lnr lnr-laptop"></i>
              </div>
              <div class="media-body">
                <h3 class="media-heading">Drupal</h3>
                <p>Lorem Ipsum adalah text contoh dikan didalam industri pencet typesetting pabila pencetak yang.</p>
              </div>
            </div>
            <div class="media">
              <div class="media-left">
                <i class="lnr lnr-screen"></i>
              </div>
              <div class="media-body">
                <h3 class="media-heading">Joomla</h3>
                <p>Lorem Ipsum adalah text contoh dikan didalam industri pencet typesetting pabila pencetak yang.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!--======== end Our Services =========-->

<!--======== about us =========-->
<!-- <section class="about-us margenes">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-xs-12">
        <div class="about-content">
          <h1 class="section-title">About Us</h1>
          <p>Lorem ipsum dolor sit amet reprehenderit, enim eiusmod high life
            accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
            dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Haccusamus terry richardson ad squid. pwolf moon
            officia aute, non cupidatat skateboard. Wolf moon officia aute, non cupidatat skateboard
            dolor brunch. Food truck quinoa nesciunt cusamus terry richardson ad squid.</p>
          <a class="btn btn-default" href="#" role="button">Download <i class="lnr lnr-arrow-right"></i></a>
        </div>
      </div>
      <div class="col-md-7 col-xs-12">
        <div class="about-img"><img class="img-responsive" src="assets/images/landing/about-us.png" alt="about us image" /></div>
      </div>
    </div>
  </div>
</section> -->
<!--======== end about us =========-->

<!--======== Our portfolio =========-->
<!-- <section id="portfolio" class="work margenes">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1 class="section-title">Our Portfolio</h1>
          <p class="section-para">Lorem ipsum dolor sit amet reprehenderit, enim eiusmod high life accusamus terry richardson ad
            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod cusamus terry.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-3">
          <div class="single-work"><img src="assets/images/landing/work-1.jpg" alt="">
            <div class="service-overflow">
              <ul class="list-inline work-links text-center">
                <li><i class="lnr lnr-magnifier"></i></li>
                <li><i class="lnr lnr-link"></i></li>
                <li><i class="lnr lnr-thumbs-up"></i></li>
              </ul>
            </div>
          </div>

          <div class="single-work"><img src="assets/images/landing/work-2.jpg" alt="">
            <div class="service-overflow">
              <ul class="list-inline work-links text-center">
                <li><i class="lnr lnr-magnifier"></i></li>
                <li><i class="lnr lnr-link"></i></li>
                <li><i class="lnr lnr-thumbs-up"></i></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="single-work"><img src="assets/images/landing/work-2.jpg" alt="">
            <div class="service-overflow">
              <ul class="list-inline work-links text-center">
                <li><i class="lnr lnr-magnifier"></i></li>
                <li><i class="lnr lnr-link"></i></li>
                <li><i class="lnr lnr-thumbs-up"></i></li>
              </ul>
            </div>
          </div>

          <div class="single-work"><img src="assets/images/landing/work-1.jpg" alt="">
            <div class="service-overflow">
              <ul class="list-inline work-links text-center">
                <li><i class="lnr lnr-magnifier"></i></li>
                <li><i class="lnr lnr-link"></i></li>
                <li><i class="lnr lnr-thumbs-up"></i></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="single-work"><img src="assets/images/landing/work-1.jpg" alt="">
            <div class="service-overflow">
              <ul class="list-inline work-links text-center">
                <li><i class="lnr lnr-magnifier"></i></li>
                <li><i class="lnr lnr-link"></i></li>
                <li><i class="lnr lnr-thumbs-up"></i></li>
              </ul>
            </div>
          </div>

          <div class="single-work"><img src="assets/images/landing/work-2.jpg" alt="">
            <div class="service-overflow">
              <ul class="list-inline work-links text-center">
                <li><i class="lnr lnr-magnifier"></i></li>
                <li><i class="lnr lnr-link"></i></li>
                <li><i class="lnr lnr-thumbs-up"></i></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="single-work"><img src="assets/images/landing/work-2.jpg" alt="">
            <div class="service-overflow">
              <ul class="list-inline work-links text-center">
                <li><i class="lnr lnr-magnifier"></i></li>
                <li><i class="lnr lnr-link"></i></li>
                <li><i class="lnr lnr-thumbs-up"></i></li>
              </ul>
            </div>
          </div>

          <div class="single-work"><img src="assets/images/landing/work-1.jpg" alt="">
            <div class="service-overflow">
              <ul class="list-inline work-links text-center">
                <li><i class="lnr lnr-magnifier"></i></li>
                <li><i class="lnr lnr-link"></i></li>
                <li><i class="lnr lnr-thumbs-up"></i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!--======== end Our Work =========-->

<!--======== our Team =========-->
<!-- <section id="team" class="our-experts margenes">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1 class="section-title">Our Team</h1>
          <p class="section-para">Lorem ipsum dolor sit amet reprehenderit, enim eiusmod high life accusamus terry richardson ad
            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod cusamus terry.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="expert-box">
          <img src="assets/images/landing/team-1.jpg" alt="">
          <div class="expert-overflow">
            <ul class="list-inline text-center">
              <li><i class="fa fa-facebook"></i></li>
              <li><i class="fa fa-twitter"></i></li>
              <li><i class="fa fa-google-plus"></i></li>
            </ul>
          </div>
          <div class="name-plate text-center">
            <h3 class="expert-name">Peter Bruke</h3>
            <strong class="expert-tag">Founder / CEO</strong>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="expert-box">
          <img src="assets/images/landing/team-2.jpg" alt="">
          <div class="expert-overflow">
            <ul class="list-inline text-center">
              <li><i class="fa fa-facebook"></i></li>
              <li><i class="fa fa-twitter"></i></li>
              <li><i class="fa fa-google-plus"></i></li>
            </ul>
          </div>
          <div class="name-plate text-center">
            <h3 class="expert-name">Jack alfred </h3>
            <strong class="expert-tag">Co - founder</strong>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="expert-box">
          <img src="assets/images/landing/team-3.jpg" alt="">
          <div class="expert-overflow">
            <ul class="list-inline text-center">
              <li><i class="fa fa-facebook"></i></li>
              <li><i class="fa fa-twitter"></i></li>
              <li><i class="fa fa-google-plus"></i></li>
            </ul>
          </div>
          <div class="name-plate text-center">
            <h3 class="expert-name">Neal Potter</h3>
            <strong class="expert-tag">Co - founder</strong>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="expert-box">
          <img src="assets/images/landing/team-2.jpg" alt="">
          <div class="expert-overflow">
            <ul class="list-inline text-center">
              <li><i class="fa fa-facebook"></i></li>
              <li><i class="fa fa-twitter"></i></li>
              <li><i class="fa fa-google-plus"></i></li>
            </ul>
          </div>
          <div class="name-plate text-center">
            <h3 class="expert-name">Neal Potter</h3>
            <strong class="expert-tag">Co - founder</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!--======== end our Genius =========-->

<!--======== extra featrue =========-->
<!-- <section class="extra-feature margenes">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1 class="section-title">Promo Compatibility</h1>
          <p class="section-para">Lorem ipsum dolor sit amet reprehenderit, enim eiusmod high life accusamus terry richardson ad
            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod cusamus terry.</p>
          <ul class="list-inline platform text-center">
            <li><i class="lnr lnr-screen"></i><span>Relability</span></li>
            <li><i class="lnr lnr-laptop-phone"></i><span>Responsive</span></li>
            <li><i class="lnr lnr-smartphone"></i><span>Comfortable</span></li>
          </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="e-feature">
          <img class="feature-img" src="assets/images/landing/compatibility-img.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section> -->
<!--======== end extra featrue =========-->

<!--======== our sponsors =========-->
<!-- <section id="clients" class="our-sponsors margenes">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1 class="section-title">Trusted By People</h1>
          <p class="section-para">Lorem ipsum dolor sit amet reprehenderit, enim eiusmod high life accusamus terry richardson ad
            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod cusamus terry.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="list-inline sponsor-logo text-center">
          <li><img class="img-responsive" src="assets/images/landing/microsoft.png" alt="client log" /></li>
          <li><img class="img-responsive" src="assets/images/landing/instagram.png" alt="client log" /></li>
          <li><img class="img-responsive" src="assets/images/landing/google.png" alt="client log" /></li>
          <li><img class="img-responsive" src="assets/images/landing/converse.png" alt="client log" /></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="people">
          <p>Lorem ipsum dolor sit amet reprehenderit, enim eiusmod high life accusamus terry richardson ad
            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
          <div class="media">
            <div class="media-left">
              <img class="media-object" src="assets/images/landing/client-1.png" alt="sponsor image">
            </div>
            <div class="media-body">
              <h3 class="media-heading">K.Dutchmane</h3>
              <strong>Co-Founder- ThemeForest</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="people">
          <p>Lorem ipsum dolor sit amet reprehenderit, enim eiusmod high life accusamus terry richardson ad
            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
          <div class="media">
            <div class="media-left">
              <img class="media-object" src="assets/images/landing/client-1.png" alt="sponsor image">
            </div>
            <div class="media-body">
              <h3 class="media-heading">K.Dutchmane</h3>
              <strong>Co-Founder- ThemeForest</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="people">
          <p>Lorem ipsum dolor sit amet reprehenderit, enim eiusmod high life accusamus terry richardson ad
            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
          <div class="media">
            <div class="media-left">
              <img class="media-object" src="assets/images/landing/client-1.png" alt="sponsor image">
            </div>
            <div class="media-body">
              <h3 class="media-heading">K.Dutchmane</h3>
              <strong>Co-Founder- ThemeForest</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!--======== end recent evnt =========-->

<!--======== contact =========-->
<!-- <section id="contact" class="contact margenes">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1 class="section-title">Contact Us</h1>
          <p class="section-para">Lorem ipsum dolor sit amet reprehenderit, enim eiusmod high life accusamus terry richardson ad
            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod cusamus terry.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="sr-only" for="exampleInputEmail1">Your Name</label>
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Your Name">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label class="sr-only" for="exampleInputEmail2">Your Email</label>
              <input type="Email" class="form-control" id="exampleInputEmail2" placeholder="Your Email">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label class="sr-only" for="exampleInputEmail3">Phone</label>
              <input type="tel" class="form-control" id="exampleInputEmail3" placeholder="Phone">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="sr-only" for="exampleInputEmail3">Massage</label>
              <textarea class="form-control textarea" rows="5" placeholder="Massage"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="form-group text-center">
              <button type="submit" class="btn btn-default ">Send Massage</button>
            </div>
          </div>
        </div>
        <ul class="list-inline social-links text-center">
          <li><i class="fa fa-facebook"></i></li>
          <li><i class="fa fa-twitter"></i></li>
          <li><i class="fa fa-google-plus"></i></li>
          <li><i class="fa fa-dribbble"></i></li>
        </ul>
      </div>
    </div>
  </div>
</section> -->
<!--======== end contact =========-->

<!--======== footer =========-->
<!-- <footer class="footer margenes">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-md-12 text-center">
        <p>Designed By <a href="http://scripteden.com">Free Website Template</a> | Copyright 2016 | All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer> -->
<!--======== end footer =========-->
