@import "main";

section {
  width: 100%;
  // height: 100%;

}

.container {

  padding-right: 40px !important;
  padding-left: 40px !important;
  // z-index: 99 !important;
}

//intro

.Walnov {
  font-family: 'Maven Pro';
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  color: $grey-1;
}

.mensaje-movil {
  font-family: Raleway;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: $grey-1;
}

.intro {
  // width: 1280px;
  height: 692px !important;
  position: relative;
  z-index: 1;
  padding: 0 !important;
  overflow: hidden;
  // padding-top: 40px !important;
  // height: initial !important;
  // opacity: 0.87;
  // mix-blend-mode: hard-light;
  background: none !important;
  background-image: none !important;
}

.filtro-1 {
  // width: 1280px;
  // height: 710px !important;
  position: absolute;
  z-index: 4;
  height: 100%;
  width: 100%;
  object-fit: contain;
  opacity: 0.87;
  mix-blend-mode: hard-light;
  background-image: linear-gradient(162deg, #080011, #c86dd7);
}

.filtro-2 {
  position: absolute;
  top: 0;
  // padding-top: 40px;
  height: 100%;
  width: 100%;
  z-index: 2;
  object-fit: contain;
  opacity: 0.87;
  background-image: linear-gradient(338deg, #6c0092, #9c6dd7);
}

.foto-Landing {
  position: absolute;
  // top: 0;
  z-index: 3;
  opacity: 0.3;
  width: 100%;
  // height: 125%;
  object-fit: contain;
}

.triangulos-principal {
  position: absolute;
  // bottom: 0;
  top: 142px;
  z-index: 1;
  // opacity: 0.3;
  width: 100%;
  // height: 675px;
  object-fit: contain;
}

.triangulos-crear {
  position: absolute;
  // bottom: 0;
  top: 905px;
  z-index: 6;
  // opacity: 0.3;
  width: 100%;
  // height: 675px;
  object-fit: contain;
}

.triangulos-final {
  position: absolute;
  // bottom: 0;
  top: 1092px;
  z-index: 6;
  // opacity: 0.3;
  width: 100%;
  // height: 675px;
  object-fit: contain;
}

.triangulos-final-acceso {
  position: absolute;
  // bottom: 0;
  top: -222px;
  z-index: 6;
  // opacity: 0.3;
  width: 100%;
  // height: 675px;
  object-fit: contain;
}

.triangulos-principal-2 {
  position: absolute;
  // bottom: 0;
  top: 142px;
  z-index: 6;
  // opacity: 0.3;
  width: 100%;
  // height: 675px;
  object-fit: contain;
}

.triangulos-crear-2 {
  position: absolute;
  // bottom: 0;
  top: -261px;
  z-index: 6;
  // opacity: 0.3;
  width: 100%;
  // height: 675px;
  object-fit: contain;
}
a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
    &:hover {
      text-decoration: underline;
    }
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.Barra {
  // width: 98px;
  // height: 16px;
  font-family: Raleway;
  font-size: 14px;
  text-align: left;
  color: $grey-1;
  // &:hover {
  //   a {
  //
  //   }
  // }
}

.Rectangle-2 {
  height: fit-content;
  width: fit-content;
  padding: 5px 30px;
  border-radius: 4px;
  background-color: $main-3;
  font-size: 12px !important;
  &:hover {
    background-color: $main-1;
  }
}

.margenes {
  margin-left: -1.2em !important;
  margin-right: -1.2em !important;
}

.mensaje {
  font-family: Raleway;
  font-weight: bold;
  text-align: left;
  color: $grey-1;
}

.mensaje-2 {
  font-size: 38px;
  // fonte
  line-height: 1.4;
}

.mensaje-1 {
  font-size: 24px;
  font-weight: 300 !important;
}

.Rectangle-7-Copy {
  height: fit-content;
  width: fit-content;
  padding: 12px 20px;
  border-radius: 4px;
  border: solid 1px $grey-1;
  cursor: pointer;
  &:hover {
    background-color: $grey-1;
    color: #6c0092;
    text-decoration: none !important;

  }
}

.btn-content {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: $grey-1;
}



.no-padding {
  padding: 0 !important;
}

.imagen {
  position: relative;
  // background-image: url("assets/images/landing/bitmap.png");

}

.footer-intro{
    position: absolute;
    bottom: -100px;
    width: 120%;
    left: 0px;
    z-index: 5;
    height: 240px;
    background-color: white;
    transform: rotate(-5deg);
}



.desplegable {
  position: relative;
  bottom: 0;
  z-index: 99;
  // width: 58.2px;
  // height: 14.8px;
  opacity: 0.3;
  color: $main-3;
  font-size: 20px;
}

.fa-angle-down { transform: scale(4,1.5); }



.img-responsive {
  // height: 493px !important;
  object-fit: contain;
}


//seccion que es
.que-es {
  // width: 1280px;
  height: 685px;
  position: relative;
  z-index: 0;
  padding: 0 !important;
  overflow: hidden;
  // padding-top: 40px !important;
  // height: initial !important;
  // opacity: 0.87;
  // mix-blend-mode: hard-light;
  // border: 3px solid #555 !important;
  background-color: white !important;
  background-image: none !important;

}

.que-es-titulo {
  font-family: Raleway;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: $main-1;

}

.seccion-titulo {
  margin-top: 30px;
  margin-bottom: 12px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: $main-1;
}

.seccion-contenido {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.28;
  text-align: center;
  color: #6c626f;

}

.Group-6 {
  width: 162px;
  height: 125px;
  object-fit: contain;
}

.Group-3 {
  width: 134px;
  height: 104px;
  object-fit: contain;
}

.Group-15 {
  width: 144px;
  height: 111px;
  object-fit: contain;
}

.footer-que-es{
    position: absolute;
    bottom: -100px;
    width: 120%;
    left: 0px;
    z-index: 4;
    height: 240px;
    background-color: #8429ac;
    // background-image: linear-gradient(to bottom, #8429ac, $main-2);
    transform: rotate(-5deg);
}

//seccion lee
.lee {
  // width: 1280px;
  height: 1165px;
  position: relative;
  z-index: 0;
  padding: 0 !important;
  overflow: hidden;
  // padding-top: 40px !important;
  // height: initial !important;
  // opacity: 0.87;
  // mix-blend-mode: hard-light;
  // border: 3px solid #555 !important;
  // background-color: $main-2 !important;
  // background-image: none !important;
  background-image: linear-gradient(to bottom, #8429ac, $main-2) !important;

}

.lee-titulo {
  font-family: Raleway;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: $grey-1;

}

.categoria-titulo {
  font-family: Raleway;
  font-size: 19.6px;
  font-weight: bold;
  text-transform: uppercase;
  color: $grey-1;
}

.lee-contenido {
  font-family: Raleway;
  font-size: 24px;
  text-align: center;
  color: $grey-1;
}

.footer-lee{
    position: absolute;
    bottom: -100px;
    width: 120%;
    left: 0px;
    z-index: 4;
    height: 240px;
    // background-image: linear-gradient(to bottom, #8429ac, $main-2);
    transform: rotate(-5deg);
    background-color: white;
}

.Group-16 {
  position: relative;
  top: -25px;
  left: 10px;
  width: 119px;
  height: 29px;
  object-fit: contain;
  // position: relative;
  //   top: -25px;
  //   left: 16px;
  //   width: 142px;
  //   height: 29px;
  //   transform: scale(1.3,1);
  //   -o-object-fit: contain;
  //   object-fit: contain;
}

.categoria-cuadrado {
  width: 237.1px;
  height: 222.4px;
  // width: 189.1px;
  // height: 185.4px;
  position: relative;
  z-index: 0;
  border-radius: 8px;
  overflow: hidden;
  &:hover {
    .Fondo-Imagen {

      opacity: 1;
    }


  }
}

.capa-color {
  // width: 237.1px;
  // height: 222.4px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  border-radius: 8px;
  opacity: 0.8;

}

.categoria-contenido {
  // width: 237.1px;
  // height: 222.4px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 4;
  border-radius: 8px;
}

.imagen-categoria {
  // width: 237.1px;
  // height: 222.4px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  border-radius: 8px;
}

.Fondo-Imagen {
  position: absolute;
  z-index: 2;
  top:0;
  // width: 237.1px;
  // height: 222.4px;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
  border-radius: 8px;
  &:hover {
    opacity: 1;

  }

}

.cuadrados-categorias {
  margin-left: -40px;
  margin-right: -40px;
}

.mas-categorias {
  width: 512px;
  height: 223px;
  // width: 403px;
  // height: 177.38px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.2);
}

// crea

.crea {
  // width: 1280px;
  height: 2525px;
  position: relative;
  z-index: 0;
  padding: 0 !important;
  overflow: hidden;
  // padding-top: 40px !important;
  // height: initial !important;
  // opacity: 0.87;
  // mix-blend-mode: hard-light;
  // border: 3px solid #555 !important;
  background-color: white !important;
  background-image: none !important;

}

.footer-crea{
    position: absolute;
    bottom: -100px;
    width: 120%;
    left: 0px;
    z-index: 4;
    height: 240px;
    background-color: #8429ac;
    // background-image: linear-gradient(to bottom, #8429ac, $main-2);
    transform: rotate(-5deg);
}

.fondo-gris{
    position: absolute;
    width: 120%;
    left: -60px;
    top: 800px;
    opacity: 0.3;
    z-index: 4;
    height: 734px;
    background-color: $grey-4;
    border-bottom: solid 1px $grey-7;
    // background-image: linear-gradient(to bottom, #8429ac, $main-2);
    transform: rotate(-5deg);
}

.crea-contenido {
  font-family: Raleway;
  font-size: 24px;
  text-align: center;
  color: #6c626f;
}

.Page-3 {
  width: 474px;
  height: 652px;
  object-fit: contain;
}

.titulo-creacion {
  font-family: Raleway;
  font-size: 64px;
  font-weight: bold;
  text-align: left;
  color: $main-2;
}

.contenido-creacion {
  font-family: Raleway;
  font-size: 24px;
  text-align: left;
  color: #6c626f;
  margin-top: 25px;
  margin-bottom: 70px;
}

.boton-creacion {
  height: fit-content;
  width: fit-content;
  padding: 5px 15px 5px 15px;
  border-radius: 4px;
  background-color: #984dce;
  &:hover {
    cursor: pointer;
    background-color: $main-1;
  }
}

.boton-contenido {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: $grey-1;
}

.chatstory {
  width: 367px;
  height: 527px;
  object-fit: contain;
}

.Page-2 {
  width: 475px;
  height: 769px;
  object-fit: contain;
}

// seccion colabora
.colabora {
  // width: 1280px;
  height: 1315px;
  position: relative;
  z-index: 0;
  padding: 0 !important;
  overflow: hidden;
  // padding-top: 40px !important;
  // height: initial !important;
  // opacity: 0.87;
  // mix-blend-mode: hard-light;
  // border: 3px solid #555 !important;
  // background-color: $main-2 !important;
  // background-image: none !important;
  background-image: linear-gradient(to bottom, #8429ac, $main-2) !important;

}

.footer-colabora{
    position: absolute;
    bottom: -100px;
    width: 120%;
    left: 0px;
    z-index: 4;
    height: 240px;
    // background-image: linear-gradient(to bottom, #8429ac, $main-2);
    transform: rotate(-5deg);
    background-color: white;
}

.Group-16-2 {
  position: relative;
    top: -25px;
    left: 16px;
    width: 142px;
    height: 29px;
    transform: scale(1.3,1);
    -o-object-fit: contain;
    object-fit: contain;
}

.Mockup {
  width: 546px;
  height: 866px;
  // width: 460px;
  // height: 729.6px;
  object-fit: contain;
}

.colabora-contenido {
  font-family: Raleway;
  font-size: 18px;
  text-align: right !important;
  color: $grey-1;
}

.colabora-contenido-2 {
  font-family: Raleway;
  font-size: 18px;
  text-align: left !important;
  color: $grey-1;
}

.arrow {
	position: relative;
  margin: 0 auto;
  width: 100px;
  transform: rotate(-61deg);
  top: -70px;
  left: 86px;
}

.arrow .curve {
	border: 2px solid $grey-1;
	border-color: transparent transparent transparent $grey-1;
	height: 125px;
	// width: 1200px;
	border-radius: 230px 0 0 150px;
}

.arrow .point {
	position: absolute;
	left: 13px;
	top: 107px;
}

.arrow .point:before, .arrow .point:after {
	border: 1px solid $grey-1;
	height: 25px;
	content: "";
	position: absolute;
}

.arrow .point:before {
	top: -11px;
	left: -11px;
	transform:rotate(-74deg);
	-webkit-transform:rotate(-74deg);
  -moz-transform:rotate(-74deg);
  -ms-transform: rotate(-74deg);
}

.arrow .point:after {
  top: -20px;
	left: 5px;
	transform:rotate(12deg);
	-webkit-transform: rotate(12deg);
  -moz-transform:rotate(12deg);
  -ms-transform: rotate(12deg);
}

.arrow-2 {
	position: relative;
  margin: 0 auto;
  width: 100px;
  transform: scaleX(-1);
  // transform: rotate(-61deg);
  top: -60px;
  right: 95px;
}

.arrow-2 .curve {
  transform: rotate(-55deg);
	border: 2px solid $grey-1;
	border-color: transparent transparent transparent $grey-1;
	height: 125px;
	// width: 1200px;
	border-radius: 230px 0 0 150px;
}

.arrow-2 .point {

  transform: rotate(-55deg);
	position: absolute;
  right: 34px;
  top: 118px;
}

.arrow-2 .point:before, .arrow-2 .point:after {
	border: 1px solid $grey-1;
	height: 25px;
	content: "";
	position: absolute;
}

.arrow-2 .point:before {
	top: -11px;
	left: -11px;
	transform:rotate(-74deg);
	-webkit-transform:rotate(-74deg);
  -moz-transform:rotate(-74deg);
  -ms-transform: rotate(-74deg);
}

.arrow-2 .point:after {
  top: -20px;
	left: 5px;
	transform:rotate(12deg);
	-webkit-transform: rotate(12deg);
  -moz-transform:rotate(12deg);
  -ms-transform: rotate(12deg);
}

//seccion acceso

.acceso {
  // width: 1280px;
  height: 100%;
  position: relative;
  z-index: 0;
  padding: 0 !important;
  overflow: hidden;
  // padding-top: 40px !important;
  // height: initial !important;
  // opacity: 0.87;
  // mix-blend-mode: hard-light;
  // border: 3px solid #555 !important;
  background-color: white !important;
  background-image: none !important;

}
.acceso-titulo {
  font-family: Raleway;
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  color: $main-2;
}

.simple-container{

  padding:2em;
  width: 100%;

}

.relative-container{
  position: relative;
}

.error-span{
  color: red;
  position: absolute;
  top: calc(100% - 1em);
  font-size: .9em;
  left: 0;
}


.walgo{
  background-image: url(http://i.imgur.com/kOiyaaS.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

input:focus{
  border-color:$main-1;
}

input.error-input{
  border-color:red;
}

.link{
  font-family: Raleway;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: $main-1;
  margin-right: 1em;
  &:hover{
    text-decoration: underline;
    cursor: pointer;
  }
}

.title{
  /* autoprefixer: off */
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #faf1ff;
  color: $main-3;
  display: flex;
  align-items: center;
  padding: .5em 1.5em;

  & .fa-times{
    color:$grey-5;
    &:hover{
      cursor: pointer;
      color:$grey-10;
    }
  }
}
.alternatives{
  /* autoprefixer: off */
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}
.register-form{
  /* autoprefixer: off */
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 2.5em;
  & input{
    margin-bottom: 1em;
  }
}

.button-grid{
  /* autoprefixer: off */
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 2.5em;
  & .button{
    font-family: Raleway;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: $grey-1;
    background-color: $main-1;
    border-radius: 8px;
    height: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    // padding: .3em 2em;
    &:hover{
      cursor: pointer;
      background-color: $main-2;
    }
  }
  & .button-2{
    font-family: Raleway;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: $main-1;;
    background-color: $grey-1;
    border-radius: 8px;
    height: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    // padding: .3em 2em;
    border: solid 1px $main-1;
    &:hover{
      cursor: pointer;
      background-color: $main-1;
      color: $grey-1;
    }
  }
}


.simple-title{
  font-family: Raleway;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  color: #6c626f;
}

.icon{
  margin-top:1em;
  font-family: Raleway;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  color: $grey-1;
  border-radius: 8px;
  height: fit-content;
  padding-top: 5px;
  padding-bottom: 5px;
  // padding:.5em 1em;
  &:hover{
    cursor: pointer;
  }
  & .fa{
    width: 1.2em;
    margin-top: 5px;
  }
}

.facebook{
  background-color:#3a5695;
  &:hover{
    background-color: #1d2b4c;
  }
}
.twitter{
  background-color:#55acee;
  &:hover{
    background-color: #3979ab;
  }
}
.google{
  background-color:#e05139;
  &:hover{
    background-color: #9e301e;
  }
}


.c-popover{
  // display: none;
}
.up{
  bottom: calc(100% + 20px);
  right: -15px;
  &::after{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 15px 15px 15px;
    border-color: white transparent transparent transparent;
    position: absolute;
    top:99%;
    right: 15px;
    cursor:initial;
  }
}
.down{
  top: calc(100% + 20px);
  right: -15px;
  &::after{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 15px 15px 15px;
    border-color: transparent transparent white transparent;
    position: absolute;
    bottom:99%;
    right: 15px;
    cursor:initial;
  }
}
.visible{
  display: block !important;
  width: 35vw;
  /* height: 1100%; */
  position: absolute;
  /* top: -1200%; */

  /* -webkit-transform: translateX(50%); */
  /* transform: translateX(50%); */
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.24);

}
.launcher{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

//seccion footer
.footer-final {
  // width: 1280px;
  // height: 388px;
  padding-top: 54px;
  padding-bottom: 20px;
  background-color: #6c626f;
}

.footer-titulo {
  font-family: Raleway;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: $grey-1;
  margin-bottom: 20px;
}

.footer-contenido {
  font-family: Raleway;
  font-size: 14px;
  line-height: 2.43;
  text-align: left;
  color: $grey-1;
}

.Line-4 {
  width: 100%;
  // height: 3px;
  margin-bottom: 15px;
  margin-top: 30px;
  border: solid .5px #979797;
}

.pie-de-pagina {
  opacity: 0.6;
  font-family: Raleway;
  font-size: 14px;
  line-height: 2.43;
  text-align: left;
  color: $grey-1;
}

.enlace {
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.contacto {
  font-family: Raleway;
  font-size: 14px;
  line-height: 2.43;
  text-align: left;
  color: $grey-1;
}

.Ovalo-redes {
  width: 30px;
  position: relative;
  height: 30px;
  border: solid 1px $grey-1;
  border-radius: 50%;
  .fa {
    color: white;
    font-size: 15px;
  }
  .fa-facebook {

    position: absolute;
    top: 25%;
    left: 30%;

  }
  .fa-twitter {
    position: absolute;
    top: 25%;
    left: 25%;
  }
  .fa-instagram {
    position: absolute;
    top: 25%;
    left: 28%;
  }
  .fa-google-plus {
    position: absolute;
    top: 25%;
    left: 18%;
  }
  &:hover {
    cursor: pointer;
    background-color: $grey-1;
    .fa {
      color: #6c626f;
    }
  }
}
//responsive

@media (min-width: 768px) and (max-width: 991px) {

  .container {

    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  //intro

  .triangulos-principal {

    top: 160px !important;
  }

  .triangulos-principal-2 {

    top: 160px !important;
  }

  .mensaje-2 {
    font-size: 25px !important;
  }

  .mensaje-1 {
    font-size: 18px !important;
  }

  .btn-content {
    font-size: 12px !important;
  }

  .img-responsive {
    height: 400px !important;
  }


  .intro {
    // width: 1280px;
    height: 590px !important;
  }

  .footer-intro {
      // bottom: -160px !important;
      height: 214px !important;

  }

  .desplegable {
    bottom: 41px !important;
  }

  //que-es

  .que-es {
    // width: 1280px;
    height: 515px !important;
  }

  .footer-que-es {
    height: 213px !important;
  }

  .que-es-titulo {
    // font-family: Raleway;
    font-size: 20px !important;
    // font-weight: bold;
    // text-align: center;
    // color: $main-1;

  }

  .seccion-titulo {
    font-size: 15px !important;
  }

  .seccion-contenido {
    font-size: 15px !important;
  }

  // lee
  .lee {
    // width: 1280px;
    height: 845px !important;
  }

  .lee-titulo {
    // font-family: Raleway;
    font-size: 20px !important;
    // font-weight: bold;
    // text-align: center;
    // color: $main-1;

  }

  .lee-contenido {
    // font-family: Raleway;
    font-size: 20px !important;
    // font-weight: bold;
    // text-align: center;
    // color: $main-1;

  }

  .categoria-cuadrado {

    // width: 189.1px !important;
    // height: 177.38px !important;
    width: 154.1px !important;
    height: 144.55px !important;

  }

  .categoria-titulo {
    font-size: 16.6px !important;
  }

  .mas-categorias {
    width: 344px !important;
    height: 144.55px !important;
  }

  .footer-lee {
    height: 213px !important;
  }

  .triangulos-crear {
    top: 680px !important;
  }

  // crea
  .crea {
    // width: 1280px;
    height: 2012px !important;
  }

  .footer-crea {
    height: 213px !important;
  }

  .Page-3 {
    width: 390px !important;
  }

  .Page-2 {
    width: 390px !important;
  }

  .titulo-creacion {
    font-size: 40px !important;
  }

  .crea-contenido {
    font-size: 20px !important;
  }

  .contenido-creacion {
    font-size: 20px !important;
    margin-top: 20px !important;
    margin-bottom: 50px !important;
  }

  .boton-contenido {
    font-size: 16px !important;
  }

  .crea-contenido {
    margin-bottom: 0 !important;
  }

  .chat-contenido {
    margin-left: 75px !important;
  }

  .chatstory {
    width: 288px !important;
  }

  .interlineado {
    margin-bottom: -45px !important;
  }

  .interlineado-2 {
    margin-bottom: -70px !important;
  }

  .fondo-gris {
    top: 712px !important;
    height: 588px !important;
  }

  .triangulos-crear-2 {
    top: -165px !important;
  }

  // colabora
  .Mockup {

    width: 385px !important;
    height: 610.6px !important;
  }

  .colabora-contenido {
    font-size: 13px !important;
  }

  .colabora-contenido-2 {
    font-size: 13px !important;
  }

  .primera-columna {
    height: 305px !important;
    margin-top: 120px !important;
  }

  .segunda-columna {
    height: 375px !important;
    margin-top: 270px !important;
  }

  .arrow {
    left: 60px !important;
  }

  .arrow-2 {
    right: 65px !important;
  }

  .colabora {
    height: 930px !important;

  }

  .footer-colabora {
    height: 153px !important;
  }

  .acceso-titulo {
    font-size: 24px !important;
  }

  .triangulos-final {
    // position: absolute;
    // bottom: 0;
    top: 844px !important;
    // z-index: 6;
    // // opacity: 0.3;
    // width: 100%;
    // // height: 675px;
    // object-fit: contain;
  }

  .triangulos-final-acceso {
    // position: absolute;
    // bottom: 0;
    top: -85px !important;
    // z-index: 6;
    // // opacity: 0.3;
    // width: 100%;
    // // height: 675px;
    // object-fit: contain;
  }

  .icon {
    font-size: 14px !important;
  }

  .simple-title {
    font-size: 14px !important;
  }

  .link {
    font-size: 12px !important;
  }

  .button {
    font-size: 14px !important;
  }

  .button-2 {
    font-size: 14px !important;
  }

  //footer pagina
  .footer-titulo {
    font-size: 10px !important;
  }
  .footer-contenido {
    font-size: 10px !important;
  }
  .contacto {
    font-size: 10px !important;
  }

  .Ovalo-redes {
    .fa {
      font-size: 12px !important;
    }
  }

  .pie-de-pagina {
    font-size: 10px !important;
  }

  .parte-izquierda {
    width: 55% !important;
  }

  .redes {
    width: 75% !important;
  }

  .Ovalo-redes {
    width: 25px !important;
    height: 25px !important;
  }

}

@media (min-width: 992px) and (max-width: 1199px) {
  //intro
  .triangulos-principal {

    top: 150px !important;
  }

  .triangulos-principal-2 {

    top: 150px !important;
  }

  .mensaje-2 {
    font-size: 30px !important;
  }

  .mensaje-1 {
    font-size: 20px !important;
  }

  .btn-content {
    font-size: 15px !important;
  }

  .img-responsive {
    height: 430px !important;
  }

  .intro {
    // width: 1280px;
    height: 630px !important;
  }

  .desplegable {
    bottom: 25px !important;
  }

  .footer-intro {
      // bottom: -160px !important;
      height: 224px !important;

  }

  //que es
  .que-es {
    // width: 1280px;
    height: 555px !important;
  }

  .footer-que-es {

    height: 224px !important;
  }

  //lee
  .lee {
    // width: 1280px;
    height: 950px !important;
  }

  .categoria-cuadrado {

    width: 189.1px !important;
    height: 177.38px !important;
    // width: 154.1px;
    // height: 144.55px;

  }

  .triangulos-crear {
    top: 792px !important;
  }

  .mas-categorias {
    width: 415px !important;
    height: 177.38px !important;
  }

  .footer-lee {
      // bottom: -106px !important;
      height: 224px !important;

  }

  // crea
  .crea {
    // width: 1280px;
    height: 2448px !important;
  }

  .footer-crea {

    height: 224px !important;
  }
  .chat-contenido {
    margin-left: 90px !important;
  }

  .fondo-gris {
    top: 855px !important;
  }

  .triangulos-crear-2 {
    top: -158px !important;
  }

  //colabora
  .Mockup {

    width: 460px !important;
    height: 729.6px !important;
  }

  .colabora-contenido {
    font-size: 15px !important;
  }

  .colabora-contenido-2 {
    font-size: 15px !important;
  }

  .primera-columna {
    height: 335px !important;
    margin-top: 120px !important;
  }

  .segunda-columna {
    height: 440px !important;
    margin-top: 320px !important;
  }

  .arrow {
    left: 70px !important;
  }

  .arrow-2 {
    right: 75px !important;
  }

  .colabora {
    height: 1095px !important;

  }

  .footer-colabora {
    height: 164px !important;
  }

  .acceso-titulo {
    font-size: 30px !important;
  }

  .triangulos-final {
    // position: absolute;
    // bottom: 0;
    top: 996px !important;
    // z-index: 6;
    // // opacity: 0.3;
    // width: 100%;
    // // height: 675px;
    // object-fit: contain;
  }

  .triangulos-final-acceso {
    // position: absolute;
    // bottom: 0;
    top: -100px !important;
    // z-index: 6;
    // // opacity: 0.3;
    // width: 100%;
    // // height: 675px;
    // object-fit: contain;
  }

  //seccion footer
  .parte-izquierda {
    width: 55% !important;
  }

  .redes {
    width: 75% !important;
  }
}

@media (min-width: 1200px) and (max-width: 1439px) {
  // intro
  .footer-intro {
      bottom: -106px !important;
      height: 182px !important;

  }

  .desplegable {
    bottom: 30px !important;
  }


  // que es
  .footer-que-es {
      bottom: -106px !important;
      height: 183px !important;
  }

  .que-es {
    height: 575px !important;
  }

  // lee
  .footer-lee {
      bottom: -106px !important;
      height: 183px !important;

  }

  .lee {
    height: 1080px !important;
  }

  // crea
  .footer-crea {
      bottom: -106px !important;
      height: 183px !important;
  }

  .crea {
    height: 2432px !important;
  }

  .triangulos-crear-2 {
    // position: absolute;
    // bottom: 0;
    top: -176px !important;
    // z-index: 6;
    // opacity: 0.3;
    // width: 100%;
    // height: 675px;
    // object-fit: contain;
  }

  //colabora
  .colabora {
    height: 1250px !important;

  }

  .footer-colabora {
    height: 177px !important;
  }

  .triangulos-final {
    // position: absolute;
    // bottom: 0;
    top: 1142px !important;
    // z-index: 6;
    // // opacity: 0.3;
    // width: 100%;
    // // height: 675px;
    // object-fit: contain;
  }

  .triangulos-final-acceso {
    // position: absolute;
    // bottom: 0;
    top: -108px !important;
    // z-index: 6;
    // // opacity: 0.3;
    // width: 100%;
    // // height: 675px;
    // object-fit: contain;
  }

}

@media (min-width: 768px) and (max-width: 1199px) {
  // intro

  .footer-intro {
      bottom: -160px !important;
      // height: 224px !important;

  }




  // que es

  .footer-que-es {
      bottom: -160px !important;

  }

  // lee

  .footer-lee {
      bottom: -160px !important;

  }

  //crea
  .footer-crea {
      bottom: -160px !important;

  }

  .cuadrados-categorias {
    // justify-content: center !important;
  }

  .mas-categorias {
    // margin-right: 25px !important;
  }

  .chat-imagen {
    margin-left: auto !important;
  }

}

@media (min-width: 1200px) {

  //intro
  .img-responsive {
    height: 493px !important;
    object-fit: contain;
  }

}

@media (max-width: 1199px) {
  // intro

  .foto-Landing {
    width: initial !important;
    height: 125% !important;
    // object-fit: contain;
  }
}

@media (max-width: 1439px) {
  // intro
  .foto-Landing {
    top:0 !important;
    // object-fit: contain;
  }
}

@media (min-width: 1440px) {
  // intro
  .intro {
    height: 765px !important;
  }
}
