<!--======== intro =========-->
<div class="container-fluid margenes" style="margin-top:-5em; padding: 0;">

  <img src="assets/images/landing/triangulos-principal.svg"
   class="triangulos-principal">

  <section class="intro">
    <div class="filtro-1">
    </div>
    <div class="filtro-2">
    </div>
    <img src="assets/images/landing/foto-landing.png"
     srcset="assets/images/landing/foto-landing@2x.png 2x,
             assets/images/landing/foto-landing@3x.png 3x"
     class="foto-Landing">
    <img src="assets/images/landing/triangulos-principal.svg"
      class="triangulos-principal-2">

    <div class="footer-intro">
    </div>

      <div class="container" style="z-index:99 !important; padding-top:40px !important;">

        <div class="row">
          <div class="col-12">
            <div class="d-flex flex-row" style="margin-bottom:105px;">
              <div class="d-flex flex-column">
                <div class="d-flex flex-row">
                  <img  alt="" class="" height="55" src="assets/images/Logo Walnov-04.svg" width="110">
                  <div  class="Walnov">
                    Walnov
                  </div>
                </div>

              </div>
              <div class="d-flex flex-column justify-content-center Barra ml-auto" style="width:55%;">
                <div class="d-flex flex-row justify-content-between">
                  <div class="d-flex align-self-center" style="cursor:pointer;"><a class="nostyle" href="#que-es">Qué es</a></div>
                  <div class="d-flex align-self-center" style="cursor:pointer;"><a class="nostyle" href="#lee">Lee</a></div>
                  <div class="d-flex align-self-center" style="cursor:pointer;"><a class="nostyle" href="#crea">Crea</a></div>
                  <div class="d-flex align-self-center" style="cursor:pointer;"><a class="nostyle" href="#colabora">Colabora</a></div>
                  <div class="d-flex align-self-center" style="cursor:pointer;">
                    <div class="Rectangle-2" href="#" role="button" routerLink="home">
                      Accede
                    </div>
                  </div>
                </div>

              </div>
            </div>


          </div>
          <div class="col-12" style="padding-left:70px; padding-right:70px;">
            <div class="col-md-6 col-sm-8 col-xs-12 no-padding">
              <div class="intro-content mensaje">
                <div class="mensaje-1" style="margin-bottom:40px;">Una nueva forma de disfrutar del placer de leer y crear historias.</div>
                <div class="mensaje-2" style="margin-bottom:60px;">Descubre la primera plataforma de escritura colaborativa del mundo.</div>
                <div class="d-flex flex-row justify-content-start">
                  <a class="Rectangle-7-Copy btn-content" href="#" role="button" routerLink="home">¡Empieza el viaje ya!</a>
                  <a class="Rectangle-7-Copy btn-content" style="margin-left:20px;" href="#" role="button" routerLink="home">Descarga la app</a>

                </div>


              </div>
            </div>
            <div class="col-md-6 col-sm-8 col-xs-12 no-padding">
              <div class="imagen">
                <img src="assets/images/landing/m-vil.png"
                  srcset="assets/images/landing/m-vil.png 2x,
                  assets/images/landing/m-vil.png 3x"
                  class="img-responsive ml-auto" alt="intro-image">
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- </div> -->
    <div class="d-flex flex-row justify-content-center" style="width:100%;">
      <div class="desplegable">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </div>
    </div>
  </section>
<!-- final de intro -->


<!-- inicio de que es -->
  <section id="que-es" class="que-es">

    <div class="footer-que-es">
    </div>

      <div class="container" style="z-index:99 !important;">

        <div class="row">
          <div class="col-12" style="padding-left:70px; padding-right:70px;">
            <div class="d-flex flex-row">
              <div class="d-flex flex-column" style="width:100%;">
                <div class="d-flex flex-row align-self-center que-es-titulo">
                  QUÉ ES

                </div>
                <div class="d-flex flex-row align-self-center">
                  <img src="assets/images/landing/trazo_morado.svg"
                    class="Group-16">

                </div>

              </div>
            </div>

            <div class="d-flex flex-row justify-content-between">
              <div class="d-flex flex-column" style="width:27%;">
                <div class="d-flex flex-row justify-content-center">
                  <img src="assets/images/landing/icono-libro.svg"
                    class="Group-6">
                </div>
                  <div class="seccion-titulo">
                    <a class="nostyle" href="#lee">LEE</a>
                  </div>
                  <div class="seccion-contenido">
                    Sigue a los autores que más te gusten y disfruta de sus creaciones eligiendo entre más de 10 categorías.
                  </div>
              </div>

              <div class="d-flex flex-column" style="width:27%;">
                <div class="d-flex flex-row justify-content-center" style="margin-top:110px;">
                  <img src="assets/images/landing/icono-pluma.svg"
                    class="Group-3">
                </div>
                  <div class="seccion-titulo">
                    <a class="nostyle" href="#crea">CREA</a>
                  </div>
                  <div class="seccion-contenido">
                    Crea tus propios walls, relatos o chatstories públicos o privados y haz que la gente te siga.
                  </div>
              </div>

              <div class="d-flex flex-column" style="width:27%;">
                <div class="d-flex flex-row justify-content-center">
                  <img src="assets/images/landing/icono-personas.svg"
                    class="Group-15">
                </div>
                  <div class="seccion-titulo">
                    <a class="nostyle" href="#colabora">COLABORA</a>
                  </div>
                  <div class="seccion-contenido">
                    Colabora en la creación de  historias continuando otros walls y conectando con otros usuarios.
                  </div>
              </div>
            </div>
          </div>

        </div>
      </div>

  </section>

  <!-- final de que es -->

  <!-- inicio de lee -->
  <section id="lee" class="lee">

    <div class="footer-lee">
    </div>

    <img src="assets/images/landing/triangulos-crear.svg"
     class="triangulos-crear">

      <div class="container" style="z-index:99 !important;">

        <div class="row">
          <div class="col-12" style="padding-left:70px; padding-right:70px;">
            <div class="d-flex flex-row">
              <div class="d-flex flex-column" style="width:100%;">
                <div class="d-flex flex-row align-self-center lee-titulo">
                  LEE

                </div>
                <div class="d-flex flex-row align-self-center">
                  <img src="assets/images/landing/subrayado-titulos.svg"
                    class="Group-16">

                </div>

              </div>
            </div>

              <div class=" lee-contenido" style="margin-bottom:70px;">
                Encuentra las creaciones que más te gusten filtrando el contenido por <strong>categorías.</strong>
              </div>

            <div class="d-flex flex-row justify-content-between flex-wrap cuadrados-categorias">
              <div class="" *ngFor="let categoria of repositorio.categoriasAL">
                <div class="categoria-cuadrado" style="cursor:pointer; margin-bottom:25px;">
                  <div class="Fondo-Imagen">
                  </div>
                  <img class="img-fluid imagen-categoria" src="https://lorempixel.com/237/222" alt="">
                  <div class="capa-color" [style.backgroundColor] = 'getBackColor(categoria)'>
                  </div>
                  <div class="categoria-contenido d-flex flex-row justify-content-center">
                    <div class="d-flex flex-column justify-content-center" style="height:100%;">
                      <div class="categoria-titulo">
                        {{categoria.nombre | translate}}
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="mas-categorias">
                <div class="d-flex flex-row justify-content-center" style="height:100%;">
                  <div class="d-flex flex-column justify-content-center" style="height:100%;">
                    <div class="categoria-titulo">
                      Y PRONTO MUCHAS MÁS…
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

  </section>
  <!-- final de lee -->

  <!-- inicio de crea -->
  <section id="crea" class="crea">

    <img src="assets/images/landing/triangulos-crear.svg"
     class="triangulos-crear-2">

    <div class="footer-crea">
    </div>

    <div class="fondo-gris">
    </div>

      <div class="container" style="z-index:99 !important;">

        <div class="row">
          <div class="col-12" style="padding-left:70px; padding-right:70px;">
            <div class="d-flex flex-row">
              <div class="d-flex flex-column" style="width:100%;">
                <div class="d-flex flex-row align-self-center que-es-titulo">
                  CREA

                </div>
                <div class="d-flex flex-row align-self-center">
                  <img src="assets/images/landing/trazo_morado.svg"
                    class="Group-16">

                </div>

              </div>
            </div>

            <div class="crea-contenido" style="margin-bottom:70px;">
              ¡En <strong>Walnov</strong> todos podemos ser escritores! Empieza a desatar tu fantasía creando un wall che otros puedan seguir escibiendo, un relato corto o crea un chatstory
            </div>

            <div class="col-12 interlineado" style="margin-bottom:70px;">
              <div class="d-flex flex-row flex-wrap justify-content-between cuadrados-categorias">
                <div class="d-flex flex-column" style="width:60%;">
                  <img src="assets/images/landing/page-3.png"
                    srcset="assets/images/landing/page-3@2x.png 2x,
                    assets/images/landing/page-3@3x.png 3x"
                    class="Page-3">
                </div>

                <div class="d-flex flex-column justify-content-center" style="width:40%;">
                  <div class="titulo-creacion">
                    WALL
                  </div>
                  <div class="contenido-creacion">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis quam eget lacus pellentesque faucibus.
                  </div>
                  <div class="boton-creacion">
                    <div class="boton-contenido">
                      Crear Wall
                    </div>
                  </div>
                </div>
              </div>


            </div>

            <div class="col-12 interlineado-2" style="margin-bottom:70px;">
              <div class="d-flex flex-row flex-wrap justify-content-between cuadrados-categorias">
                <div class="d-flex flex-column justify-content-center chat-contenido" style="width:45%;">
                  <div class="titulo-creacion" style="text-align:right !important;">
                    CHATSTORY
                  </div>
                  <div class="contenido-creacion" style="text-align:right !important;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis quam eget lacus pellentesque faucibus.
                  </div>
                  <div class="boton-creacion" style="align-self:flex-end !important;">
                    <div class="boton-contenido" (click) = "this.router.navigate(['/crear-chatstory/0']);">
                      Crear Chatstory
                    </div>
                  </div>

                </div>

                <div class="d-flex flex-column chat-imagen" style="width:40%;">
                  <img src="assets/images/landing/chatstory.png"
                    srcset="assets/images/landing/chatstory@2x.png 2x,
                    assets/images/landing/chatstory@3x.png 3x"
                    class="chatstory">
                </div>
              </div>


            </div>

            <div class="col-12">
              <div class="d-flex flex-row flex-wrap justify-content-between cuadrados-categorias">
                <div class="d-flex flex-column" style="width:60%;">
                  <img src="assets/images/landing/page-2.png"
                    srcset="assets/images/landing/page-2@2x.png 2x,
                    assets/images/landing/page-2@3x.png 3x"
                    class="Page-2">
                </div>

                <div class="d-flex flex-column justify-content-center" style="width:40%;">
                  <div class="titulo-creacion">
                    RELATO
                  </div>
                  <div class="contenido-creacion">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis quam eget lacus pellentesque faucibus.
                  </div>
                  <div class="boton-creacion">
                    <div class="boton-contenido" (click) = "this.router.navigate(['/crear-relato/0'])">
                      Crear Relato
                    </div>
                  </div>
                </div>
              </div>


            </div>

          </div>

        </div>
      </div>

  </section>
  <!-- final de crea -->

  <!-- incio de colabora -->
  <section id="colabora" class="colabora">

    <div class="footer-colabora">
    </div>

    <img src="assets/images/landing/triangulos-final.svg"
     class="triangulos-final">

      <div class="container" style="z-index:99 !important;">

        <div class="row">
          <div class="col-12" style="padding-left:70px; padding-right:70px;">
            <div class="d-flex flex-row">
              <div class="d-flex flex-column" style="width:100%;">
                <div class="d-flex flex-row align-self-center lee-titulo">
                  COLABORA

                </div>
                <div class="d-flex flex-row align-self-center">
                  <img src="assets/images/landing/subrayado-titulos.svg"
                    class="Group-16-2">

                </div>

              </div>
            </div>

            <div class="lee-contenido" style="margin-bottom:70px;">
              En Walnov tienes el poder de dejar tu huella decidiendo como continua la historia. Crea continuaciones de walls ya creados o incluso escribe una alternativa a una continuación ya existente.
            </div>
            <div class="d-flex flex-row justify-content-beetwen cuadrados-categorias">
              <div class="d-flex flex-column justify-content-between primera-columna" style="width:20%; height: 365px; margin-top: 120px;">
                <div class="colabora-contenido">
                  Escribir es crear mundos. Cuando leas un wall que te inspira no dudes en crear una <strong>continuación</strong>.
                </div>
                <div class="colabora-contenido" style="text-transform:uppercase;">
                  <strong>
                    ¡Podrías ser uno
                    de los autores
                    de una gran historia!
                  </strong>
                </div>

                <!-- <div class="content"> -->
                  <div class="arrow">
                    <div class="curve"></div>
                    <div class="point"></div>
                  </div>
                <!-- </div> -->
              </div>
              <div class="d-flex flex-column" style="width:60%;">
                <div class="d-flex flex-row justify-content-center">
                  <img src="assets/images/landing/mockup.png"
                     srcset="assets/images/landing/mockup@2x.png 2x,
                             assets/images/landing/mockup@3x.png 3x"
                     class="Mockup">
                </div>

              </div>
              <div class="d-flex flex-column justify-content-around segunda-columna" style="width:20%; height:500px; margin-top: 384px;">
                <div class="colabora-contenido-2">
                  ¿Acaban de matar a tu personaje favorito?
                </div>

                <div class="colabora-contenido-2">
                  ¿La historia no está yendo hacia donde crees que deberia?
                </div>

                <div class="colabora-contenido-2">
                  Escribe tu <strong>continuación alternativa</strong>
                </div>

                <div class="colabora-contenido-2">
                  <strong>
                    ¡AHORA TIENES EL PODER
                    DE CAMBIAR LA HISTORIA!
                  </strong>
                </div>

                <div class="arrow-2">
                  <div class="curve"></div>
                  <div class="point"></div>
                </div>
              </div>

            </div>

          </div>

        </div>
      </div>

  </section>
  <!-- final de colabora -->

  <!-- inicio de acceso -->
  <section class="acceso" style="padding-bottom: 35px !important;">

    <!-- <div class="footer-crea">
    </div> -->
    <img src="assets/images/landing/triangulos-final.svg"
     class="triangulos-final-acceso">

    <div class="container" style="z-index:99 !important;">

      <div class="row">
        <div class="col-12" style="padding-left:70px; padding-right:70px;">
          <div class="d-flex flex-row justify-content-center">
            <div class="d-flex flex-row acceso-titulo" style="width:48%;">
              ¡Empieza a disfrutar ya
              de la experiencia Walnov!
            </div>
          </div>
          <div class="d-flex flex-row justify-content-center">
            <div class="d-flex flex-row c-popover" style="width:47%;">
              <div class="simple-container">
                <div class="icon facebook d-flex justify-content-center" style="width:100%;" (click)="doSocialLogin('/apiv1/users/oauth/facebook?url=')">
                  <span class="fa fa-facebook"></span>
                  <span>Sign in with Facebook</span>
                </div>
                <div class="icon google d-flex justify-content-center" style="width:100%;" (click)="doSocialLogin('/apiv1/users/oauth/google?url=')">
                  <span class="fa fa-google"></span>
                  <span>Sign in with Google </span>
                </div>
                <div class="icon twitter d-flex justify-content-center" style="width:100%;" (click)="doSocialLogin('/apiv1/users/oauth/twitter?url=')">
                  <span class="fa fa-twitter"></span>
                  <span>Sign in with Twitter</span>
                </div>
                <div *ngIf="showAlert" class="icon title d-flex justify-content-center">
                  <span>{{ alertMessage }}</span>
                  <span class="fa fa-times ml-auto" (click)="close()"></span>
                </div>

                <div class="register-form d-flex flex-column">
                  <div class="d-flex flex-column"  *ngIf="this.view==='register'">
                    <div class="relative-container d-flex flex-column">
                      <span class="simple-title">Email</span>
                      <input (focus) = "this.validateForm.controls['mail'].markAsUntouched();" [formControl]="this.validateForm.controls['mail']" #mail type="text" name="" value="" class="form-control" [ngClass]="{'error-input': !this.validateForm.controls['mail'].valid && this.validateForm.controls['mail'].touched}">
                      <span class="error-span" *ngIf="!this.validateForm.controls['mail'].valid && this.validateForm.controls['mail'].touched">{{'popover_error_mail' | translate}}</span>
                    </div>
                    <div class="relative-container d-flex flex-column">
                      <span class="simple-title">{{'popover_contraseña'| translate}}</span>
                      <input (focus) = "this.validateForm.controls['pass'].markAsUntouched();" [formControl]="this.validateForm.controls['pass']" #pass type="password" name="" value="" class="form-control" [ngClass]="{'error-input': !this.validateForm.controls['pass'].valid && this.validateForm.controls['pass'].touched}">
                      <span class="error-span" *ngIf="!this.validateForm.controls['pass'].valid && this.validateForm.controls['pass'].touched">{{'popover_error_contraseña' | translate}}</span>
                    </div>
                    <div class="relative-container d-flex flex-column">
                      <span class="simple-title">{{'all_nombre_usuario' | translate}}</span>
                      <input (focus) = "this.validateForm.controls['user'].markAsUntouched();" [formControl]="this.validateForm.controls['user']" #user type="text" name="" value="" class="form-control" [ngClass]="{'error-input': !this.validateForm.controls['user'].valid && this.validateForm.controls['user'].touched}">
                      <span class="error-span" *ngIf="!this.validateForm.controls['user'].valid && this.validateForm.controls['user'].touched">{{'popover_error_nombre' | translate}}</span>
                    </div>

                  </div>
                  <div class="d-flex flex-column" *ngIf="this.view==='login'">
                    <div class="relative-container d-flex flex-column">
                      <span class="simple-title">{{'all_nombre_usuario' | translate}}</span>
                      <input (focus) = "this.validateForm.controls['user'].markAsUntouched();" [formControl]="this.validateForm.controls['user']" #user type="text" name="" value="" class="form-control" [ngClass]="{'error-input': !this.validateForm.controls['user'].valid && this.validateForm.controls['user'].touched}">
                      <span class="error-span" *ngIf="!this.validateForm.controls['user'].valid && this.validateForm.controls['user'].touched">{{'popover_error_nombre' | translate}}</span>
                    </div>
                    <div class="relative-container d-flex flex-column">
                      <span class="simple-title">{{'popover_contraseña'| translate}}</span>
                      <input (focus) = "this.validateForm.controls['pass'].markAsUntouched();" [formControl]="this.validateForm.controls['pass']" #pass type="password" name="" value="" class="form-control" [ngClass]="{'error-input': !this.validateForm.controls['pass'].valid && this.validateForm.controls['pass'].touched}">
                      <span class="error-span" *ngIf="!this.validateForm.controls['pass'].valid && this.validateForm.controls['pass'].touched">{{'popover_error_contraseña' | translate}}</span>
                    </div>
                  </div>
                </div>

                <div class="button-grid d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center justify-content-between" style="width:100%;">
                   <div class="button d-flex justify-content-center" style="width:45%;" *ngIf="this.view==='login'" (click)="login()">
                     <span *ngIf="!loading">Iniciar sesión</span>
                     <i *ngIf="loading" class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                     <span class="sr-only">Loading...</span>
                   </div>
                    <div *ngIf="this.view==='register'" style="width:45%;" class="button-2 d-flex justify-content-center" (click)="changeView('login')" [hidden]="this.view==='login'">
                      <span>Iniciar seión</span>
                    </div>
                    <div *ngIf="this.view==='login'" style="width:45%;"class="button-2 d-flex justify-content-center" (click)="changeView('register')" [hidden]="this.view==='register'">
                      <span>Registrarse</span>
                     </div>
                    <div class="button d-flex justify-content-center" style="width:45%;" (click)="register()" *ngIf="this.view==='register'">
                      <span *ngIf="!loading">Registrarse</span>
                      <i *ngIf="loading" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <!-- final de acceso -->

  <!-- inicio del footer -->
  <section class="footer-final">

    <!-- <div class="footer-crea">
    </div> -->

    <div class="container" style="z-index:99 !important; padding:0 !important;">

      <div class="row">
        <div class="col-12">
          <div class="d-flex flex-row">
            <div class="f-flex flex-column parte-izquierda" style="width:50%;">
              <div class="d-flex flex-row justify-content-between">
                <div class="d-flex flex-column" style="width:18%;">
                  <div class="footer-titulo">
                    LOREM IPSUM
                  </div>
                  <div class="footer-contenido">
                    Lorem ipsum
                    Lorem ipsum
                    Lorem ipsum
                    Lorem ipsum
                    Lorem ipsum
                    Lorem ipsum
                    Lorem ipsum
                  </div>
                </div>
                <div class="d-flex flex-column" style="width:18%;">
                  <div class="footer-titulo">
                    LOREM IPSUM
                  </div>
                  <div class="footer-contenido">
                    Lorem ipsum
                    Lorem ipsum
                    Lorem ipsum
                    Lorem ipsum
                    Lorem ipsum
                    Lorem ipsum
                    Lorem ipsum
                  </div>
                </div>
                <div class="d-flex flex-column" style="width:18%;">
                  <div class="footer-titulo">
                    LOREM IPSUM
                  </div>
                  <div class="footer-contenido">
                    Lorem ipsum
                    Lorem ipsum
                    Lorem ipsum
                    Lorem ipsum
                    Lorem ipsum
                    Lorem ipsum
                    Lorem ipsum
                  </div>
                </div>
              </div>
            </div>

            <div class="d-flex flex-column justify-content-center ml-auto" style="width:20%; margin-right:70px;">
              <!-- <div class="f-flex flex-row justify-content-center"> -->
                <img  alt="" class="mt-auto align-self-center" height="55" src="assets/images/Logo Walnov-04.svg" width="110">
                <div  class="Walnov align-self-center">
                  Walnov
                </div>
                <div class="contacto align-self-center">
                  info@walnov.com
                </div>
                <div class="contacto align-self-center">
                  +34 000 000 000
                </div>
                <div class="d-flex mt-auto align-self-center redes" style="width:65%;">
                  <div class="d-flex flex-row justify-content-between" style="width:100%;">
                    <div class="Ovalo-redes">
                      <i class="fa fa-facebook" aria-hidden="true"></i>
                    </div>
                    <div class="Ovalo-redes">
                      <i class="fa fa-twitter" aria-hidden="true"></i>
                    </div>
                    <div class="Ovalo-redes">
                      <i class="fa fa-google-plus" aria-hidden="true"></i>
                    </div>
                    <div class="Ovalo-redes">
                      <i class="fa fa-instagram" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              <!-- </div> -->
            </div>
          </div>

          <div class="d-flex flex-row justify-content-center">
            <div class="Line-4">
            </div>
          </div>

          <div class="d-flex flex-row justify-content-between pie-de-pagina">
            <div class="d-flex flex-column">
              © 2017 Walnov
            </div>
            <div class="d-flex flex-column" style="width:40%;">
              <div class="d-flex flex-row justify-content-around">
                <div class="enlace">
                  Aviso legal
                </div> |
                <div class="enlace">
                  Privacidad
                </div> |
                <div class="enlace">
                  Términos y condiciones
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </section>
  <!-- final del footer -->
</div>

<!--======== end intro =========-->
<!--======== support =========-->
<!-- <section class="support margenes">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-md-4">
            <div class="media">
              <div class="media-left media-middle">
                <i class="fa fa-windows"></i>
              </div>
              <div class="media-body">
                <h3>Windows</h3>
                <p>Lorem ipsum dolor sit amet</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="media">
              <div class="media-left media-middle">
                <i class="fa fa-android"></i>
              </div>
              <div class="media-body">
                <h3>Android</h3>
                <p>Lorem ipsum dolor sit amet</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="media">
              <div class="media-left media-middle">
                <i class="fa fa-apple"></i>
              </div>
              <div class="media-body">
                <h3>Apple</h3>
                <p>Lorem ipsum dolor sit amet</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!--======== end support =========-->

<!--======== Our Services =========-->
<!-- <section id="service" class="service margenes">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1 class="section-title">Our Services</h1>
          <p class="section-para">Lorem ipsum dolor sit amet reprehenderit, enim eiusmod high life accusamus terry richardson ad
            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod cusamus terry.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="media">
              <div class="media-left">
                <i class="lnr lnr-screen"></i>
              </div>
              <div class="media-body">
                <h3 class="media-heading">Bootstrap</h3>
                <p>Lorem Ipsum adalah text contoh dikan didalam industri pencet typesetting pabila pencetak yang.</p>
              </div>
            </div>

            <div class="media">
              <div class="media-left">
                <i class="lnr lnr-screen"></i>
              </div>
              <div class="media-body">
                <h3 class="media-heading">Wordpress</h3>
                <p>Lorem Ipsum adalah text contoh dikan didalam industri pencet typesetting pabila pencetak yang.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="media">
              <div class="media-left">
                <i class="lnr lnr-laptop-phone"></i>
              </div>
              <div class="media-body">
                <h3 class="media-heading">Font Awesome</h3>
                <p>Lorem Ipsum adalah text contoh dikan didalam industri pencet typesetting pabila pencetak yang.</p>
              </div>
            </div>
            <div class="media">
              <div class="media-left">
                <i class="lnr lnr-screen"></i>
              </div>
              <div class="media-body">
                <h3 class="media-heading">Responsive</h3>
                <p>Lorem Ipsum adalah text contoh dikan didalam industri pencet typesetting pabila pencetak yang.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="media">
              <div class="media-left">
                <i class="lnr lnr-tablet"></i>
              </div>
              <div class="media-body">
                <h3 class="media-heading">Frash & Clean </h3>
                <p>Lorem Ipsum adalah text contoh dikan didalam industri pencet typesetting pabila pencetak yang.</p>
              </div>
            </div>
            <div class="media">
              <div class="media-left">
                <i class="lnr lnr-screen"></i>
              </div>
              <div class="media-body">
                <h3 class="media-heading">HTML & CSS3</h3>
                <p>Lorem Ipsum adalah text contoh dikan didalam industri pencet typesetting pabila pencetak yang.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="media">
              <div class="media-left">
                <i class="lnr lnr-laptop"></i>
              </div>
              <div class="media-body">
                <h3 class="media-heading">Drupal</h3>
                <p>Lorem Ipsum adalah text contoh dikan didalam industri pencet typesetting pabila pencetak yang.</p>
              </div>
            </div>
            <div class="media">
              <div class="media-left">
                <i class="lnr lnr-screen"></i>
              </div>
              <div class="media-body">
                <h3 class="media-heading">Joomla</h3>
                <p>Lorem Ipsum adalah text contoh dikan didalam industri pencet typesetting pabila pencetak yang.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!--======== end Our Services =========-->

<!--======== about us =========-->
<!-- <section class="about-us margenes">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-xs-12">
        <div class="about-content">
          <h1 class="section-title">About Us</h1>
          <p>Lorem ipsum dolor sit amet reprehenderit, enim eiusmod high life
            accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
            dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Haccusamus terry richardson ad squid. pwolf moon
            officia aute, non cupidatat skateboard. Wolf moon officia aute, non cupidatat skateboard
            dolor brunch. Food truck quinoa nesciunt cusamus terry richardson ad squid.</p>
          <a class="btn btn-default" href="#" role="button">Download <i class="lnr lnr-arrow-right"></i></a>
        </div>
      </div>
      <div class="col-md-7 col-xs-12">
        <div class="about-img"><img class="img-responsive" src="assets/images/landing/about-us.png" alt="about us image" /></div>
      </div>
    </div>
  </div>
</section> -->
<!--======== end about us =========-->

<!--======== Our portfolio =========-->
<!-- <section id="portfolio" class="work margenes">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1 class="section-title">Our Portfolio</h1>
          <p class="section-para">Lorem ipsum dolor sit amet reprehenderit, enim eiusmod high life accusamus terry richardson ad
            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod cusamus terry.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-3">
          <div class="single-work"><img src="assets/images/landing/work-1.jpg" alt="">
            <div class="service-overflow">
              <ul class="list-inline work-links text-center">
                <li><i class="lnr lnr-magnifier"></i></li>
                <li><i class="lnr lnr-link"></i></li>
                <li><i class="lnr lnr-thumbs-up"></i></li>
              </ul>
            </div>
          </div>

          <div class="single-work"><img src="assets/images/landing/work-2.jpg" alt="">
            <div class="service-overflow">
              <ul class="list-inline work-links text-center">
                <li><i class="lnr lnr-magnifier"></i></li>
                <li><i class="lnr lnr-link"></i></li>
                <li><i class="lnr lnr-thumbs-up"></i></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="single-work"><img src="assets/images/landing/work-2.jpg" alt="">
            <div class="service-overflow">
              <ul class="list-inline work-links text-center">
                <li><i class="lnr lnr-magnifier"></i></li>
                <li><i class="lnr lnr-link"></i></li>
                <li><i class="lnr lnr-thumbs-up"></i></li>
              </ul>
            </div>
          </div>

          <div class="single-work"><img src="assets/images/landing/work-1.jpg" alt="">
            <div class="service-overflow">
              <ul class="list-inline work-links text-center">
                <li><i class="lnr lnr-magnifier"></i></li>
                <li><i class="lnr lnr-link"></i></li>
                <li><i class="lnr lnr-thumbs-up"></i></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="single-work"><img src="assets/images/landing/work-1.jpg" alt="">
            <div class="service-overflow">
              <ul class="list-inline work-links text-center">
                <li><i class="lnr lnr-magnifier"></i></li>
                <li><i class="lnr lnr-link"></i></li>
                <li><i class="lnr lnr-thumbs-up"></i></li>
              </ul>
            </div>
          </div>

          <div class="single-work"><img src="assets/images/landing/work-2.jpg" alt="">
            <div class="service-overflow">
              <ul class="list-inline work-links text-center">
                <li><i class="lnr lnr-magnifier"></i></li>
                <li><i class="lnr lnr-link"></i></li>
                <li><i class="lnr lnr-thumbs-up"></i></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="single-work"><img src="assets/images/landing/work-2.jpg" alt="">
            <div class="service-overflow">
              <ul class="list-inline work-links text-center">
                <li><i class="lnr lnr-magnifier"></i></li>
                <li><i class="lnr lnr-link"></i></li>
                <li><i class="lnr lnr-thumbs-up"></i></li>
              </ul>
            </div>
          </div>

          <div class="single-work"><img src="assets/images/landing/work-1.jpg" alt="">
            <div class="service-overflow">
              <ul class="list-inline work-links text-center">
                <li><i class="lnr lnr-magnifier"></i></li>
                <li><i class="lnr lnr-link"></i></li>
                <li><i class="lnr lnr-thumbs-up"></i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!--======== end Our Work =========-->

<!--======== our Team =========-->
<!-- <section id="team" class="our-experts margenes">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1 class="section-title">Our Team</h1>
          <p class="section-para">Lorem ipsum dolor sit amet reprehenderit, enim eiusmod high life accusamus terry richardson ad
            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod cusamus terry.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="expert-box">
          <img src="assets/images/landing/team-1.jpg" alt="">
          <div class="expert-overflow">
            <ul class="list-inline text-center">
              <li><i class="fa fa-facebook"></i></li>
              <li><i class="fa fa-twitter"></i></li>
              <li><i class="fa fa-google-plus"></i></li>
            </ul>
          </div>
          <div class="name-plate text-center">
            <h3 class="expert-name">Peter Bruke</h3>
            <strong class="expert-tag">Founder / CEO</strong>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="expert-box">
          <img src="assets/images/landing/team-2.jpg" alt="">
          <div class="expert-overflow">
            <ul class="list-inline text-center">
              <li><i class="fa fa-facebook"></i></li>
              <li><i class="fa fa-twitter"></i></li>
              <li><i class="fa fa-google-plus"></i></li>
            </ul>
          </div>
          <div class="name-plate text-center">
            <h3 class="expert-name">Jack alfred </h3>
            <strong class="expert-tag">Co - founder</strong>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="expert-box">
          <img src="assets/images/landing/team-3.jpg" alt="">
          <div class="expert-overflow">
            <ul class="list-inline text-center">
              <li><i class="fa fa-facebook"></i></li>
              <li><i class="fa fa-twitter"></i></li>
              <li><i class="fa fa-google-plus"></i></li>
            </ul>
          </div>
          <div class="name-plate text-center">
            <h3 class="expert-name">Neal Potter</h3>
            <strong class="expert-tag">Co - founder</strong>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="expert-box">
          <img src="assets/images/landing/team-2.jpg" alt="">
          <div class="expert-overflow">
            <ul class="list-inline text-center">
              <li><i class="fa fa-facebook"></i></li>
              <li><i class="fa fa-twitter"></i></li>
              <li><i class="fa fa-google-plus"></i></li>
            </ul>
          </div>
          <div class="name-plate text-center">
            <h3 class="expert-name">Neal Potter</h3>
            <strong class="expert-tag">Co - founder</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!--======== end our Genius =========-->

<!--======== extra featrue =========-->
<!-- <section class="extra-feature margenes">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1 class="section-title">Promo Compatibility</h1>
          <p class="section-para">Lorem ipsum dolor sit amet reprehenderit, enim eiusmod high life accusamus terry richardson ad
            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod cusamus terry.</p>
          <ul class="list-inline platform text-center">
            <li><i class="lnr lnr-screen"></i><span>Relability</span></li>
            <li><i class="lnr lnr-laptop-phone"></i><span>Responsive</span></li>
            <li><i class="lnr lnr-smartphone"></i><span>Comfortable</span></li>
          </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="e-feature">
          <img class="feature-img" src="assets/images/landing/compatibility-img.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section> -->
<!--======== end extra featrue =========-->

<!--======== our sponsors =========-->
<!-- <section id="clients" class="our-sponsors margenes">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1 class="section-title">Trusted By People</h1>
          <p class="section-para">Lorem ipsum dolor sit amet reprehenderit, enim eiusmod high life accusamus terry richardson ad
            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod cusamus terry.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="list-inline sponsor-logo text-center">
          <li><img class="img-responsive" src="assets/images/landing/microsoft.png" alt="client log" /></li>
          <li><img class="img-responsive" src="assets/images/landing/instagram.png" alt="client log" /></li>
          <li><img class="img-responsive" src="assets/images/landing/google.png" alt="client log" /></li>
          <li><img class="img-responsive" src="assets/images/landing/converse.png" alt="client log" /></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="people">
          <p>Lorem ipsum dolor sit amet reprehenderit, enim eiusmod high life accusamus terry richardson ad
            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
          <div class="media">
            <div class="media-left">
              <img class="media-object" src="assets/images/landing/client-1.png" alt="sponsor image">
            </div>
            <div class="media-body">
              <h3 class="media-heading">K.Dutchmane</h3>
              <strong>Co-Founder- ThemeForest</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="people">
          <p>Lorem ipsum dolor sit amet reprehenderit, enim eiusmod high life accusamus terry richardson ad
            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
          <div class="media">
            <div class="media-left">
              <img class="media-object" src="assets/images/landing/client-1.png" alt="sponsor image">
            </div>
            <div class="media-body">
              <h3 class="media-heading">K.Dutchmane</h3>
              <strong>Co-Founder- ThemeForest</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="people">
          <p>Lorem ipsum dolor sit amet reprehenderit, enim eiusmod high life accusamus terry richardson ad
            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
          <div class="media">
            <div class="media-left">
              <img class="media-object" src="assets/images/landing/client-1.png" alt="sponsor image">
            </div>
            <div class="media-body">
              <h3 class="media-heading">K.Dutchmane</h3>
              <strong>Co-Founder- ThemeForest</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!--======== end recent evnt =========-->

<!--======== contact =========-->
<!-- <section id="contact" class="contact margenes">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1 class="section-title">Contact Us</h1>
          <p class="section-para">Lorem ipsum dolor sit amet reprehenderit, enim eiusmod high life accusamus terry richardson ad
            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod cusamus terry.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="sr-only" for="exampleInputEmail1">Your Name</label>
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Your Name">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label class="sr-only" for="exampleInputEmail2">Your Email</label>
              <input type="Email" class="form-control" id="exampleInputEmail2" placeholder="Your Email">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label class="sr-only" for="exampleInputEmail3">Phone</label>
              <input type="tel" class="form-control" id="exampleInputEmail3" placeholder="Phone">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="sr-only" for="exampleInputEmail3">Massage</label>
              <textarea class="form-control textarea" rows="5" placeholder="Massage"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="form-group text-center">
              <button type="submit" class="btn btn-default ">Send Massage</button>
            </div>
          </div>
        </div>
        <ul class="list-inline social-links text-center">
          <li><i class="fa fa-facebook"></i></li>
          <li><i class="fa fa-twitter"></i></li>
          <li><i class="fa fa-google-plus"></i></li>
          <li><i class="fa fa-dribbble"></i></li>
        </ul>
      </div>
    </div>
  </div>
</section> -->
<!--======== end contact =========-->

<!--======== footer =========-->
<!-- <footer class="footer margenes">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-md-12 text-center">
        <p>Designed By <a href="http://scripteden.com">Free Website Template</a> | Copyright 2016 | All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer> -->
<!--======== end footer =========-->
