<div class="Rectangle-3-Copy-7">
  <div class="Relato-Title">
    {{relato.titulo}}
  </div>
  <div class="Rectangle-5">
    <img  class="Imagen-Relato" src={{relato.urlImagen}} alt="">
    <div class="Fondo-Imagen">
    </div>
    <div class="Degradado-Imagen" [ngStyle] = "{'background-image': getBackgroundImage()}">
    </div>
    <div class="d-flex flex-row justify-content-center Relato-Estadisticas">
      <div class="d-flex flex column" style="margin-right:7px;">
        <div class="Oval-Copy">
          <i class="fa fa-eye" aria-hidden="true" style="margin-top:5px;"></i>
        </div>
      </div>
      <div class="d-flex flex column" style="margin-right:15px; margin-top:2px;">
       {{getNumber(relato?.estadistica?.vecesVisto)}}
      </div>
      <div class="d-flex flex column" style="margin-right:7px;">
        <div class="Oval">
          <i class="fa fa-heart-o" aria-hidden="true" style="margin-top:6px;"></i>
        </div>
      </div>
      <div class="d-flex flex column" style="margin-top:2px;">
        {{getNumber(relato?.estadistica?.likes)}}
      </div>
    </div>
  </div>
  <div class="Relato-Content">
    {{relato.texto}}
  </div>
  <div class="d-flex flex-row justify-content-end Botones">
    <div *ngIf="!soyAutor()" (click)='anyadirRelatoToBiblioteca()' class="d-flex flex-column" style="margin-right:7px;margin-top:3px;cursor:pointer;">
      <i class="fa" aria-hidden="true" [ngClass]="{'fa-plus':!addedBiblioteca, 'fa-times':addedBiblioteca}"></i>
    </div>
    <div *ngIf="!soyAutor()" (click)='anyadirRelatoToBiblioteca()' class="d-flex flex-column" style="margin-right:50px;cursor:pointer;">
      <span *ngIf="!addedBiblioteca">{{'relatos_añadir' | translate}}</span>
      <span *ngIf="addedBiblioteca">{{'relatos_eliminar' | translate}}</span>
    </div>
    <div (click)='like()' class="d-flex flex-column" style="margin-right:7px;margin-top:3px;cursor:pointer;">
      <i class="fa" aria-hidden="true" [ngClass]="{'fa-heart-o':!liked(),'fa-heart':liked()}"></i>
    </div>
    <div (click)='like()' class="d-flex flex-column" style="margin-right:50px;cursor:pointer;">
      {{'all_like' | translate}}
    </div>
    <div class="d-flex flex-column" style="margin-right:7px;margin-top:3px;cursor:pointer;">
      <i class="fa fa-share" aria-hidden="true"></i>
    </div>
    <div class="d-flex flex-column" style="cursor:pointer;">
      {{'all_compartir' | translate}}
    </div>
  </div>
  <app-dejar-comentario (userOut) = 'setOpinionWriter($event)' (comentario)='addComent($event)'></app-dejar-comentario>
  <app-opinion-usuario [usuario] = 'this.opinionWriter' [opiniones] = 'this.comentarios'></app-opinion-usuario>
</div>
