@import 'main';

.fondo {
  background-color: #fafa;
}

.Rectangle-3-Copy-3 {
  border-radius: 8px;
  background-color: #ffffff;
  background-color: $grey-1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
}

.Check-Label-Copy-10 {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: #4a4a4a;
  color: var($grey-8);
}

.Check-Label-Copy-6 {
  width: 127.9px;
  height: 16px;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: $grey-1;
}

.Check-Label-Copy-7 {
  width: 140.1px;
  height: 28px;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 600;
  text-align: left;
  // color: $grey-1;
}

.Input-Background-Copy-3 {
  border-radius: 3px;
  background-color: #ffffff;
  background-color: var($grey-1);
  border: solid 1px #c0c0c0;
  border: solid 1px var($grey-5);
}

.Actual {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  color: #4a4a4a;
  color: var($grey-8);
}

.layer {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  color: #4a4a4a;
  color: var($grey-8);
}


.chip {
  display: inline-block;
  padding: 0 25px;
  height: 22px;
  font-size: 18px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.closebtn {
  padding-left: 10px;
  color: #888;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.closebtn:hover {
  color: #000;
}
.Creacin-de-Wall {
  font-family: Raleway;
  font-size: 16px;
  text-align: left;
  color: #4d1274;
  color: var($main-2);
}

.Ttulo-del-wall {
  font-family: Maven Pro;
  font-size: 26px;
  font-weight: 500;
  //text-align: left;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  color: var($grey-1);
}
.Ttulo-del-wall:hover{
  cursor: pointer;
}

.Rectangle-5-image{
  width: 100%;
  *height: 19.1%;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  //width: 756.5px;
  //height: 128.6px;
  // margin-left: 24px;
  //margin-right: 38px;
  background: var($grey-1);
  background-image: url('https://lorempixel.com/757/200/');
}

.Rectangle-5 {
  width: 100%;
  *height: 19.1%;
  //width: 756.5px;
  //height: 128.6px;
  // margin-left: 24px;
  // margin-right: 38px;
  background: var($grey-1);
  padding:20px;
  background-image: linear-gradient(to bottom, rgba(41, 186, 111, 0), $cat-2);
}

.Rectangle-3-Copy-8 {
  padding: 24px 24px;
  border-radius: 8px;
  background-color: #fdfdfd;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
}

.lapiz {
  padding-left: 40px;
}

.categoria-titulo {
 color: white;
}

.cambiar-imagen {
  color: white;
  width: 110px;
}

.imagen-categoria-seleccion {
  padding-left: 30px;
  display: inline-flex;
  padding-top: 30px;
  width: 100%;
}

textarea::placeholder{
  font-style: italic;
}

.Rectangle-7 {
  height:3em;
  line-height: 3em;
  border-radius: 4px;
  background-color: $main-1;
  text-align: center;
}

.Radio-Label {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: $grey-1;
}

.tituloWall br{
  display: none;
}

.tituloWall:focus + .lapiz{
  display:none;
}

/*
  Hide radio button (the round disc)
  we will use just the label to create pushbutton effect
*/
label input[type="radio"] {
  display: none;
}


label .radio{
  width: 16px;
  height: 16px;
  background-color: $grey-1;
  border: solid 1px #979797;
  border-radius: 50%;
}

label input[type="radio"]:checked+.radio {
  border: solid 0.3em #7b48a0;
}

label .radio-text{
  padding-left: 1em;
}

.row-margin-top{
  margin-top: 1em;
}

.etiqueta-form{

  font-family: Raleway;
  font-size: 1em;
  font-weight: 600;
  text-align: left;
  color: $grey-8;
}

.etiqueta-form-padding{
    padding:1rem 1.5rem;
}

.vista-previa{
  line-height: 3em;
  font-family: Raleway;
  font-size: 1em;
  font-weight: bold;
  text-align: left;
  color: $main-1;
}

.vista-previa:hover{
  cursor: pointer;
  text-decoration: underline;
}

.fa-4{
  font-size: 3em !important;
  vertical-align: middle;
}

.unestyled{
  background: 0;
  border: 0;
}

.change-img:hover{
  cursor: pointer;
}

.change-img:focus{
  background-color: gray;
}

.change-img{
  padding: 1em 3em;
  // background-color:white;
  color: gray !important;
  padding-top: 1em;
  position: absolute;
  width: 100%;
  height: 8em;
  border-radius: 0.8em;
  color: white !important;
  padding-left: 1.2em;
}
