<div class="container-fluid">
  <div class="row">
    <div class="col-2 cols-no-padding">
      <app-card-informativo></app-card-informativo>
    </div>
    <!-- /.col -->
    <div class="col-8">
      <div class="card Rectangle-3-Copy-8">
        <h3 class="Creacin-de-Wall">Creación de Wall</h3>

        <div class="Rectangle-5">
          <div class="Ttulo-del-wall" contenteditable="true">
            Título del Wall <i class="fa fa-pencil lapiz"></i>
          </div>
          <div class="imagen-categoria-seleccion">
            <i class="fa fa-image fa-lg fa-2x fa-inverse"></i>
            <div class="cambiar-imagen">Cambiar Imagen</div>
            <div class="categoria-titulo">Categoría</div>

            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categorías
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" *ngFor="let categoria of categorias">{{ categoria }}</a>
              </div>
            </div>

          </div>
        </div>

        <label for="exampleTextarea">Escribe tu inicio de historia</label>
        <textarea class="form-control" id="exampleTextarea" rows="5"
                  placeholder="Texto Máximo 750 caracteres"></textarea>

        <fieldset class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1"
                     checked>
              Wall Público
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
              Wall Privado
            </label>
          </div>
        </fieldset>

        <div class="form-group">
          <label for="dedicatoria">¿Quiéres dedicar tu Wall?</label>
          <input type="email" class="form-control" id="dedicatoria" aria-describedby="emailHelp"
                 placeholder="nombre@mail.com; @nombreusuario; ...">
          <a>Vista Previa</a>
          <button>Publicar</button>
        </div>

      </div>
    </div>
    <!-- /.col -->
    <div class="col-2 hidden-md-down cols-no-padding">
      <app-card-tags></app-card-tags>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
