<div class="container-fluid">
  <div class="row">
    <div class="col-2 cols-no-padding">
      <app-card-informativo [view]="'crear-wall'"></app-card-informativo>
    </div>
    <!-- /.col -->
    <div class="col-8">
      <div class="Rectangle-3-Copy-8">

        <div class="row">
          <div class="col-lg-12">
            <h3 class="Creacin-de-Wall">Creación de Wall</h3>
          </div>
        </div>

        <div class="row row-margin-top">
          <div class="col-lg-12">

            <div #image class="Rectangle-5-image">
              <div class="Rectangle-5" id="category-filter">
                <div class="Ttulo-del-wall row no-padding padding-title-row padding-title-left">
                  <span contenteditable="true" id="titulo-wall" class="tituloWall" (keydown.enter)="focusOutTitle($event)">Título del Wall </span><i id="titulo-pencil" class="fa fa-pencil lapiz" (click)="focusTitle()"></i>
                </div>
                <div class="row no-padding">
                  <div class="col-lg-12">
                    <div class="row height-img-picker">
                      <div class="col-lg-7 no-padding no-relative padding-title-left height-img-picker">
                        <app-image-picker [white]=true (imageUploaded)="changeImage($event,image)"></app-image-picker>

                      </div>

                      <div class="col-lg-5 no-padding">
                        <div class="row no-padding padding-bottom-3">
                          <div class="col-lg-4">
                            <div class="Check-Label-Copy-6">Categoría</div>
                          </div>
                          <div class="col-lg-8">
                            <!-- <div class="dropdown">
                              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Categorías
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#" *ngFor="let categoria of categorias">{{ categoria }}</a>
                              </div>
                            </div> -->
                            <div class="form-group">
                              <select class="form-control" id="sel1" (change)="onChange($event)">

                                <option *ngFor="let categoria of this.categorias" value="{{categoria.color}}">{{ categoria.nombre }}</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="imagen-categoria-seleccion"> -->

                  <!-- </div> -->
                </div>

              </div>

            </div>
          </div>
        </div>

        <div class="row row-margin-top">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-12">
                <label for="exampleTextarea" class="etiqueta-form">Escribe tu inicio de historia</label>
                <textarea class="form-control" id="exampleTextarea" rows="5"
                          placeholder="Texto Máximo 750 caracteres" spellcheck="false"></textarea>
              </div>
            </div>
            <div class="row row-margin-top">
              <div class="form-check col-lg-3 form-inline">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1"
                         checked>
                  <div class="radio"></div>
                  <span class="radio-text">Wall Público</span>
                </label>
              </div>
              <div class="form-check col-lg-3 form-inline">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                    <div class="radio"></div>
                    <span class="radio-text">Wall Privado</span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row" id="target" class="collapse">
          collapsable div executed by the radio input
        </div>

      <div class="row row-margin-top">
        <div class="col-lg-12">
          <div class="row">
            <span class="etiqueta-form etiqueta-form-padding">¿Quiéres dedicar tu Wall?</span>
          </div>
          <div class="row">
            <div class="col-lg-5">

              <input type="email" class="form-control " id="dedicatoria" aria-describedby="emailHelp"
                     placeholder="nombre@mail.com; @nombreusuario; ...">
            </div>
            <div class="col-lg-3">

            </div>
            <div class="col-lg-4">
              <div class="row align-down">
                <div class="col-lg-6">
                  <span class="vista-previa">Vista Previa</span>
                </div>
                <div class="col-lg-6">
                  <!--<div class="Rectangle-7"><span class="Radio-Label">Publicar</span></div>-->
                  <app-register-popover></app-register-popover>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      </div>
    </div>
    <!-- /.col -->
    <div class="col-2 hidden-md-down cols-no-padding">
      <app-card-tags [view]="'Wall'" [tags]="this.wall.tags"></app-card-tags>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
