<div class="Rectangle-7-Copy-5 d-flex flex-row">
  <div class="d-flex flex-column Rectangle-5">
    <img  class="Imagen-Relato" src={{this.relato.imagen_url}} alt="">
    <div class="Fondo-Imagen">
    </div>
    <div class="Degradado-Imagen" [ngStyle] = "{'background-image': getBackgroundImage()}">
    </div>
    <div class="Titulo-Categoria Rectangle-7-Copy-10" [style.backgroundColor] = 'getColor()'>
      {{this.relato.categoria.nombre}}
    <div class="d-flex flex-row Usuario-Relato">
      <div class="d-flex flex-column">
        <img class="Imagen-Usuario" src={{this.relato.userImage}} alt={{this.relato.userName}}>
      </div>
      <div class="d-flex flex-column">
        <div class="Nombre-Usuario ellipsis" title="{{this.relato.userName}}">
          {{this.relato.userName}}
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="d-flex flex-column align-items-start" style="padding-left:19px; max-width:250px;">
    <div class="d-flex flex-row Titulo-Relato">
      {{this.relato.titulo}}
    </div>
    <div class="d-flex flex-row Resumen-Relato">
      {{this.relato.resumen}}
    </div>
    <div class="d-flex flex-row mt-auto Relato-Estadisticas">
      <div class="d-flex flex column" style="margin-right:25px;">
        <i class="fa fa-eye" aria-hidden="true" style="margin-top:3px; margin-right:2px;"></i>
        {{getNumber(this.relato.views)}}
      </div>
      <div class="d-flex flex column" style="margin-right:25px;">
        <i class="fa fa-heart-o" aria-hidden="true" style="margin-top:2px; margin-right:2px;"></i>
        {{getNumber(this.relato.likes)}}
      </div>
      <div class="d-flex flex column">
        <i class="fa fa-comment-o" aria-hidden="true" style="margin-top:1px; margin-right:2px;"></i>
        {{getNumber(this.relato.coments)}}
      </div>
    </div>
  </div>
</div>
