<div [ngSwitch]="vista">
  <div *ngSwitchCase="'buscador'" (click)="handleClick($event)" class="Rectangle-7-Copy-5">
    <div class=" d-flex flex-row">
          <div class="d-flex flex-column" style="margin-right:19px;">
            <div class="Rectangle-5">
              <img class="Imagen-Relato" src="{{relato.urlImagen}}" alt="">
              <div class="Fondo-Imagen">
              </div>
              <div class="Degradado-Imagen" [ngStyle] = "{'background-image': getBackgroundImage()}">
              </div>
              <div class="Titulo-Categoria Rectangle-7-Copy-10" [style.backgroundColor] = 'getColor()'>
                {{relato.categoria | translate}}
                <div class="d-flex flex-row Usuario-Relato">
                  <div class="d-flex flex-column">
                    <img class="Imagen-Usuario" src={{relato.autor.perfil.foto_perfil}} alt={{relato.autorNombre}}>
                  </div>
                  <div class="d-flex flex-column">
                    <div (click)="goToUser()" class="Nombre-Usuario ellipsis" title="{{relato.autorNombre}}">
                    {{relato.autorNombre}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex flex-column align-items-start">
            <div class="d-flex flex-row Titulo-Relato">
              {{relato.titulo}}
            </div>
            <div class="d-flex flex-row Resumen-Relato">
              {{relato.texto | slice:0:140}}...
            </div>
            <div class="d-flex flex-row mt-auto ml-auto Relato-Estadisticas">
              <div class="d-flex flex column" style="margin-right:25px;">
                <i class="fa fa-eye" aria-hidden="true" style="margin-top:3px; margin-right:2px;"></i>
                {{getNumber(relato.estadistica?.vecesVisto)}}
              </div>
              <div #likeButton class="d-flex flex column like-button" (click)="like()" style="margin-right:25px;">
                <i class="fa" aria-hidden="true" [ngClass]="{'fa-heart-o':!liked(),'fa-heart':liked()}" style="margin-top:2px; margin-right:2px;"></i>
                {{getNumber(relato.estadistica?.likes)}}
              </div>
              <div class="d-flex flex column">
                <i class="fa fa-comment-o" aria-hidden="true" style="margin-top:1px; margin-right:2px;"></i>
                {{getNumber(relato.opiniones?.length)}}
              </div>
            </div>
          </div>
    </div>
    <div class=" d-flex flex-row align-items-center justify-content-end" *ngIf="showAnyadirToBiblioteca()" [ngClass]="{'user-relato': checkUserRelato()}">
      <div #addButton class="library-button d-flex align-items-center justify-content-center" [ngClass]="{'added': inLibrary}" (click)="addToLibrary($event)">
        {{ !this.inLibrary ? "Añadir a la biblioteca" : "Añadido" }}
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'guardado'" class="Rectangle-7-Copy-6 d-flex flex-row">
    <div class="d-flex flex-column" style="margin-right:19px;">
      <div class="Rectangle-5">
        <img  class="Imagen-Relato " src={{relato.urlImagen}} alt="">
        <div class="Fondo-Imagen">
        </div>
        <div class="Degradado-Imagen" [ngStyle] = "{'background-image': getBackgroundImage()}">
        </div>
        <div class="Titulo-Categoria Rectangle-7-Copy-10" [style.backgroundColor] = 'getColor()'>
          {{relato.categoria | translate}}
        </div>
      </div>
    </div>
    <div class="d-flex flex-column align-items-start Rectangle-8">
      <div class="d-flex flex-row Titulo-Relato" style="margin-right:15px;">
        {{relato.titulo}}
      </div>
      <div class="d-flex flex-row Resumen-Relato" style="margin-right:15px;">
        {{relato.texto | slice:0:140}}...
      </div>
      <div class="d-flex flex-row mt-auto ml-auto Relato-Estadisticas">
        <div class="d-flex flex column" style="margin-right:70px;">
          <i class="fa fa-eye" aria-hidden="true" style="margin-top:3px; margin-right:2px;"></i>
          {{getNumber(relato.estadistica?.vecesVisto)}}
        </div>
        <div class="d-flex flex column" style="margin-right:70px;">
          <i class="fa fa-heart-o" aria-hidden="true" style="margin-top:2px; margin-right:2px;"></i>
          {{getNumber(relato.estadistica?.likes)}}
        </div>
        <div class="d-flex flex column">
          <i class="fa fa-comment-o" aria-hidden="true" style="margin-top:1px; margin-right:2px;"></i>
          {{getNumber(relato.opiniones?.length)}}
        </div>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'userProfile'" class="Rectangle-7-Copy-7 d-flex flex-row">
    <div class="d-flex flex-column" style="margin-right:19px;">
      <div class="Rectangle-5">
        <img  class="Imagen-Relato " src={{relato.urlImagen}} alt="">
        <div class="Fondo-Imagen">
        </div>
        <div class="Degradado-Imagen" [ngStyle] = "{'background-image': getBackgroundImage()}">
        </div>
        <div class="Titulo-Categoria Rectangle-7-Copy-10" [style.backgroundColor] = 'getColor()'>
          {{relato.categoria | translate}}
        </div>
      </div>
    </div>
    <div class="d-flex flex-column align-items-start Rectangle-8">
      <div class="d-flex flex-row Titulo-Relato" style="margin-right:15px;">
        {{relato.titulo}}
      </div>
      <div class="d-flex flex-row Resumen-Relato" style="margin-right:15px;">
        {{relato.texto | slice:0:140}}...
      </div>
      <div class="d-flex flex-row mt-auto ml-auto Relato-Estadisticas">
        <div class="d-flex flex column" style="margin-right:70px;">
          <i class="fa fa-eye" aria-hidden="true" style="margin-top:3px; margin-right:2px;"></i>
          {{getNumber(relato.estadistica?.vecesVisto)}}
        </div>
        <div class="d-flex flex column" style="margin-right:70px;">
          <i class="fa fa-heart-o" aria-hidden="true" style="margin-top:2px; margin-right:2px;"></i>
          {{getNumber(relato.estadistica?.likes)}}
        </div>
        <div class="d-flex flex column">
          <i class="fa fa-comment-o" aria-hidden="true" style="margin-top:1px; margin-right:2px;"></i>
          {{getNumber(relato.opiniones?.length)}}
        </div>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'mis-relatos'" class="Rectangle-7-Copy-8 d-flex flex-row">
    <div class="d-flex flex-column" style="margin-right:19px;">
      <div class="Rectangle-5">
        <img  class="Imagen-Relato " src={{relato.urlImagen}} alt="">
        <div class="Fondo-Imagen">
        </div>
        <div class="Degradado-Imagen" [ngStyle] = "{'background-image': getBackgroundImage()}">
        </div>
        <div class="Titulo-Categoria Rectangle-7-Copy-10" [style.backgroundColor] = 'getColor()'>
          {{relato.categoria | translate}}
        </div>
      </div>
    </div>
    <div class="d-flex flex-column align-items-start Rectangle-8">
      <div class="d-flex flex-row Titulo-Relato" style="margin-right:15px;">
        {{relato.titulo}}
      </div>
      <div class="d-flex flex-row Resumen-Relato" style="margin-right:15px;">
        {{relato.texto | slice:0:140}}...
      </div>
      <div class="d-flex flex-row mt-auto ml-auto Relato-Estadisticas">
        <div class="d-flex flex column" style="margin-right:70px;">
          <i class="fa fa-eye" aria-hidden="true" style="margin-top:3px; margin-right:2px;"></i>
          {{getNumber(relato.estadistica?.vecesVisto)}}
        </div>
        <div class="d-flex flex column" style="margin-right:70px;">
          <i class="fa fa-heart-o" aria-hidden="true" style="margin-top:2px; margin-right:2px;"></i>
          {{getNumber(relato.estadistica?.likes)}}
        </div>
        <div class="d-flex flex column">
          <i class="fa fa-comment-o" aria-hidden="true" style="margin-top:1px; margin-right:2px;"></i>
          {{getNumber(relato.opiniones?.length)}}
        </div>
      </div>
    </div>
  </div>
</div>
