@import "main";

// @media screen and (min-width: 768px) and (max-width: 991px) {
//   .Rectangle-7-Copy-5 {
//     width: 150% !important;
//   }
// }

.fa-heart-o {
  // margin-top: 3px;
  // margin-right: 5px;
  color: $grey-6;
}

.fa-heart{
  color:$main-1;
}
.Rectangle-7-Copy-5 {
  width: 440px;
  height: 172px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 16px;
  padding-right: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  //background-color: #ffffff;
  background-color: $grey-1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  &:hover {
    background-color: $grey-3;
    cursor: pointer;
  }
}

.Rectangle-5 {
  position: relative;
  width: 158px;
  height: 129px;
  z-index: 0;
}

.Imagen-Relato {
  position: absolute;
  z-index: 1;
  top:0;
  width: 158px;
  height: 129px;
  //height: 100%;
  //width: 100%;
  border-radius: 8px;

}

.Rectangle-7-Copy-10 {
  position: absolute;
  z-index: 4;
  top:19px;
  width: 56px;
  height: 12px;
}

.Titulo-Categoria {
  text-transform: uppercase;
  font-family: Raleway;
  font-size: 8px;
  font-weight: bold;
  text-align: center;
  color: $grey-1;

}

.Fondo-Imagen {
  position: absolute;
  z-index: 2;
  top:0;
  width: 158px;
  height: 129px;
  background-color: #000000;
  opacity: 0.5;
  border-radius: 8px;

}

.Degradado-Imagen {
  position: absolute;
  z-index: 3;
  top:0;
  width: 158px;
  height: 129px;
  border-radius: 8px;

}

.Usuario-Relato {
  position: absolute;
  left: 19px;
  top:75px;
  z-index: 5;
}

.Imagen-Usuario {
  border-radius: 50%;
  width: 22px;
  height: 22px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

}

.Nombre-Usuario {
  max-width: 105px;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-transform: capitalize;
  font-weight: lighter;
  //height: 14px;
  font-family: Raleway;
  font-size: 12px;
  text-align: left;
  //color: #ffffff;
  color: $grey-1;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }

}

.Titulo-Relato {
  font-family: 'Maven Pro';
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: $grey-8;
  margin-bottom: 15px;
  line-height: 1.2;
}

.Resumen-Relato {
  font-family: 'Maven Pro';
  font-size: 14px;
  text-align: left;
  color: $grey-10;
  line-height: 1.2;
}

.Relato-Estadisticas {
  margin-left: 60px;
  font-family: Raleway;
  font-size: 12px;
  text-align: left;
  color: $grey-6;
}

@media (min-width: 768px) and (max-width: 991px) {
  .Rectangle-7-Copy-6 {
    margin-right: 24px !important;
  }

  .Rectangle-7-Copy-8 {
    width: 100% !important;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .Rectangle-7-Copy-5 {
    width: 95% !important;
  }

}

.Rectangle-7-Copy-6 {
  //width: 100%;
  //height: 172px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 16px;
  padding-right: 10px;
  margin-left: 20px;
  margin-right: 71px;
  margin-bottom: 20px;
  border-radius: 8px;
  //background-color: #ffffff;
  background-color: $grey-1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
}

.Rectangle-8 {
  width: 100%;
  // margin-left: 40px;

}

.Rectangle-7-Copy-7 {
  width: 95%;
  //height: 172px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 16px;
  padding-right: 10px;
  margin-top: 18px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  //background-color: #ffffff;
  background-color: $grey-1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
}

.Rectangle-7-Copy-8 {
  width: 100%;
  //height: 172px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 16px;
  padding-right: 10px;
  //margin-top: 18px;
  //margin-left: 19px;
  // margin-right: 58px;
  margin-bottom: 21px;
  border-radius: 8px;
  //background-color: #ffffff;
  background-color: $grey-1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
}
