@import "main";

.Rectangle-2 {
  width: 100%;
  height: 100%;
  background-color: $main-1;
  margin-top: -1.2em;
  border-radius: 0;
  padding-top: 34px;
  padding-bottom: 34px;
  margin-bottom: 0;
}

.Rectangle-6 {
  margin-right: 30px;
  margin-left: 30px;
  //margin-top: 34px;
  height: 132px;
  border-radius: 8px;
  background-image: linear-gradient(to right, $main-1, #ba4fe1 52%, $main-1);
}

@media (min-width: 768px) and (max-width: 991px) {
    .header-1 {
      max-width: 150px !important;
      margin-left: 40px !important;
    }

    .header-2 {
      max-width: 190px !important;
      margin-right: -20px !important;
    }

    .margen-ingles {
      margin-right: 30px !important;
    }

    // .Oval-3 {
    //   margin-left:55px !important;
    // }

  }

@media (min-width: 992px) and (max-width: 1199px) {
    .header-2 {
      max-width: 285px !important;
    }

    .header-1 {
    margin-left: 80px !important;
    }

    // .Oval-3 {
    //   margin-left:0px !important;
    // }
}

.header-1 {
  max-width: 298px;
  font-family: Raleway;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: $grey-1;
}

.header-2 {
  max-width: 336px;
  // height: 40px;
  font-family: Raleway;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: left;
  color: $grey-1;
  z-index: 5;
}

.semicircle{
  width:100%;
  height:50%;
  position:absolute;
  background-color: $main-2;
  bottom:0;
  left:50%;
  transform:translate(-50%,50%);
}

.img-profile-2{
  width:122px;
  height: 122px;
  border-radius: 50%;
  background-image: url(https://www.lorempixel.com/1200/1600);
  background-size: cover;
  position: absolute;
  top: 5px;
  left: 5px;
  // transform: translateX(-50%);
  z-index: 2;
  overflow:hidden;
}

.Oval-3 {
  width: 132px;
  height: 132px;
  background-size: cover;
  position: relative;
  // transform: translateX(-50%);
  box-shadow: 0 0 27px 0 $grey-1;
  background-image: linear-gradient(to bottom, #e1ba4f, $main-1);
  border-radius: 50%;
  z-index: 1;
}

.Tipo-Usuario {
  position: absolute;
  top: 3px;
  // left:25px;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  // color: #ffffff;
  color: $grey-1;

}

.shape-1{
  position: absolute;
  top: -4px;
  left: 45px;
  width: 0;
  border-style: solid;
  border-width: 0 4px 6px 4px;
  border-color: transparent transparent #d191ff transparent;
  transform: rotate(-16deg);
  opacity: 0.37;
}

.shape-2{
  position: absolute;
  top: -15px;
  left: 90px;
  width: 0;
  border-style: solid;
  border-width: 0 10px 16px 10px;
  border-color: transparent transparent $main-2 transparent;
  // -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}

.shape-3{
  position: absolute;
  top: 60px;
  left: -40px;
  width: 0;
  border-style: solid;
  border-width: 0 15px 24px 15px;
  border-color: transparent transparent $main-2 transparent;
  // -webkit-transform: rotate(15deg);
  transform: rotate(154deg);
  opacity: 0.37;
}

.shape-4{
  position: absolute;
  top: 155px;
  left: 52px;
  width: 0;
  border: 2.5px solid $main-2;
  border-radius: 50%;
  opacity: 0.45;
}

.shape-5{
  position: absolute;
  top: -20px;
  left: 130px;
  width: 0;
  border-style: solid;
  border-width: 0 20px 30px 20px;
  border-color: transparent transparent #d191ff transparent;
  // -webkit-transform: rotate(-50deg);
  opacity: 0.37;
  transform: rotate(-192deg);
}

.shape-6{
  position: absolute;
  top: 96px;
  left: 175px;
  width: 0;
  border-style: solid;
  border-width: 0 18px 33px 18px;
  border-color: transparent transparent $main-2 transparent;
  // -webkit-transform: rotate(15deg);
  transform: rotate(96deg);
  opacity: 0.37;
}


.shape-7{
  position: absolute;
  top: 55px;
  left: 155px;
  width: 0;
  border: 5px solid $main-2;
  border-radius: 50%;
  opacity: 0.45;
}

.shape-8{
  position: absolute;
  top: 45px;
  left: 166px;
  width: 0;
  border: 3.5px solid $main-2;
  border-radius: 50%;
  opacity: 0.45;
}

.shape-9{
  position: absolute;
  top: -28px;
  left: 90px;
  width: 0;
  border: 5px solid $main-2;
  border-radius: 50%;
  opacity: 0.35;
}

.shape-10{
  position: absolute;
  top: 145px;
  left: -60px;
  width: 0;
  border: 5px solid $main-2;
  border-radius: 50%;
  opacity: 0.45;
}

.shape-11{
  position: absolute;
  top: 120px;
  left: -52px;
  width: 0;
  border-style: solid;
  border-width: 0 20px 30px 20px;
  border-color: transparent transparent #d191ff transparent;
  // -webkit-transform: rotate(-50deg);
  opacity: 0.37;
  transform: rotate(-43deg);
}

.shape-12{
  position: absolute;
  top: 130px;
  left: 12px;
  width: 0;
  border-style: solid;
  border-width: 0 12px 20px 12px;
  border-color: transparent transparent #d191ff transparent;
  // -webkit-transform: rotate(-50deg);
  opacity: 0.37;
  transform: rotate(338deg);
}

.shape-13{
  position: absolute;
  top: 10px;
  left: -70px;
  width: 0;
  border-style: solid;
  border-width: 0 12px 20px 12px;
  border-color: transparent transparent #d191ff transparent;
  // -webkit-transform: rotate(-50deg);
  opacity: 0.37;
  transform: rotate(383deg);
}


.Oval-5 {
  width: 52px;
  height: 52px;
  background-color: $grey-1;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.18);
  border-radius: 50%;
  position: absolute;
  z-index: 3;
  top:15%;
  right: 85%;
}

.shape-14{
  position: absolute;
  top: 19px;
  left:6px;
  width: 0;
  border-style: solid;
  border-width: 0 11px 21px 11px;
  border-color: transparent transparent $main-2 transparent;
  // -webkit-transform: rotate(15deg);
  transform: rotate(180deg);
  // opacity: 0.37;
}

.shape-15{
  position: absolute;
  top: 19px;
  left: 22px;
  width: 0;
  z-index: -1;
  border-style: solid;
  border-width: 0 11px 21px 11px;
  border-color: transparent transparent $cat-4 transparent;
  // -webkit-transform: rotate(15deg);
  transform: rotate(180deg);
  // opacity: 0.37;
}

.shape-16 {
  position: absolute;
  top: 17px;
  left: 19px;
  width: 21px;
  // height: 1px;
  border: solid 1px $grey-1;
  transform: rotate(117deg);

}

.shape-17 {
  width: 5px;
  height: 5px;
  background-color: $grey-1;
  border-radius: 50%;
  position: absolute;
  top:10px;
  left: -2.5px;

}

.shape-18 {
  width: 5px;
  height: 5px;
  background-color: $grey-1;
  border-radius: 50%;
  position: absolute;
  top:10px;
  left: -2.6px;

}

.shape-19 {
  width: 5px;
  height: 5px;
  background-color: $main-2;
  border-radius: 50%;
  position: absolute;
  bottom:12px;
  left: 43.4%;

}

.btn-sol {
  // width: 167px;
  // height: 15px;
  font-family: Raleway;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  color: $grey-1;
}

.Rectangle-7-Copy-5 {
  width: 829px;
  // height: 411px;
  margin-top: 45px;
  // margin-left: 230px;
  // margin-right: 220px;
  padding: 25px 30px 33px 30px;
  border-radius: 16px;
  background-color: $grey-1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
}

.title-prueba {
  margin-bottom: 33px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.28;
  text-align: center;
  color: $main-3;
}

.Datos {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: $grey-8;

}

.Invisible {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: $grey-1;

}

input {
  font-family: Raleway;
  font-size: 14px;
  border-radius: 3px;
  background-color: $grey-1;
  border: solid 1px $grey-5;
  height: 36px;
  &::placeholder{
    font-family: Raleway;
    font-size: 14px;
    font-style: italic;
    text-align: left;
    color: $grey-6;
  }
}

.Visa-dark {
  width: 33px;
  height: 19px;
  object-fit: contain;
}

.MasterCard-dark {
  width: 33px;
  height: 19px;
  object-fit: contain;
}

.Discover-dark {
  width: 33px;
  height: 19px;
  object-fit: contain;
}

.payText {
  font-family: Raleway;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: $main-1;
}

.Rectangle-1 {
  width: 45px;
  height: fit-content;
  margin-top: 5px;
  padding-bottom: 3px;
  border-radius: 2.3px;
  background-color: $grey-1;
  border: solid 0.9px #eef2f4;
}

.Pay {
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  color: #003087;

}

.Pal {
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  color: #009cde;
  margin-left: -3.5px;

}

.Name {
  width: 300px;
}

.Card {
  width: 220px;
}

.seleccion {
  font-family: Raleway;
  font-size: 14px;
  font-style: italic;
  text-align: left;
  color: $grey-6;
  border-radius: 3px;
  background-color: $grey-1;
  border: solid 1px $grey-5;
  height: 36px !important;
}

option {
  color: $grey-8 !important;
  font-style: normal !important;

}

.Code {
  width: 65px;
}

.Year {
  // margin-top:7.8px;
  // margin-left:-10px;
  width: 134px;

}

.Month {
  width: 134px;

}

.Lastname {
  width: 138px;

}

.SecurityCode {
  width: 39px;
  height: 23px;
  object-fit: contain;
  position: relative;
  bottom: 20px;
  left: 80px;
}

.Propietario {
  width: 390px;

}

.Info-final {
  font-family: Raleway;
  font-size: 10px;
  font-weight: 600;
  text-align: left;
  color: $grey-6;
}


.custom-control-indicator {
  position: initial;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background-color: $grey-1;
  border: solid 1px #979797;
  margin-right: 5px;

}

label input[type="checkbox"] {
  display: none;

}

label input[type="checkbox"]:checked+.custom-control-indicator {
  border: solid 1px #979797;
  background-color: $main-3;
}

.fa-check {
  color: #ffffff;
  margin-top: 2px;
  margin-left: 1px;
  display: block;

}

.custom-control-description {
  max-width: 240px;
  font-family: Raleway;
  font-size: 14px;
  text-align: left;
  color: $grey-8;

}

.Rectangle-7-Copy-6 {
  height: fit-content;
  padding: 5px 20px 5px 20px;
  border-radius: 4px;
  background-color: $main-1;
}

@media (min-width: 768px) and (max-width: 991px) {
  .Rectangle-7-Copy-5 {
    width: 100% !important;
  }

  .fila1-col1 {
    margin-right: 0 !important;
  }

  .fila1-col2 {
    margin-right: 0 !important;

  }

  .fila1-col3 {
    margin-right: 0 !important;

  }

  .fila2-col2 {
    margin-left: 0 !important;

  }

  .fila2-col3 {
    margin-left: 0 !important;

  }

  .fila2-col4 {
    margin-top: 26.5px !important;
    margin-left: -60px !important;

  }

  .Lastname {
    width: 110px !important;
  }

  .Lastname2 {
    width: 120px !important;

  }

  .Name {
    width: initial;

  }

  .Month {
    width: 80px !important;
  }

  .Year {
    width: 80px !important;

  }

  .Invisible {
    display: none;
  }

}

.margen-ingles {
  margin-right: 115px;
}
