@import 'main';

.miniatura-wall{
    width: 290px;
    height: 253px;
    border-radius: 8px;
    background-color: $grey-1;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
    margin-right: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}

.wrapper-header{
    position: relative;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 80px;
    width: 290px;
}

.header{
    position: absolute;
    z-index: 2;
    top: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 80px;
    width: 290px;
}

.header-filtro{
    background-color: rgba(0,0,0,0.5);
    height: 80px;
    width: 290px;
    opacity: 0.5;
    position: absolute;
    z-index: 3;
    top: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.header-filtro2{
    height: 80px;
    width: 290px;
    opacity: 0.5;
    position: absolute;
    z-index: 4;
    top: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.titulo{
    position: absolute;
    font-family: 'Maven Pro';
    font-size: 15px;
    font-weight: bold;
    color: $grey-1;
    z-index: 4;
    top: 12px;
    left: 20px;
    width: 250px;
}

.categoria{
    position: absolute;
    z-index:4;
    padding-left: 10px;
    padding-right: 10px;
    color: $grey-1;
    min-width: 56px;
    text-align: center;
    font-family: Raleway;
    font-size: 8px;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;
    left: 20px;
    top: 62px;
}

.wrapper-imagen-autor{
    position:absolute;
    z-index: 4;
    left: 20px;
    top: 100px;
}

.nombre-autor{
    font-family: Raleway;
    font-size: 12px;
    text-align: left;
    color: $grey-1;
    line-height: 35px;
    margin-left: 10px;
}

.imagen-autor{
     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
     width:35px;
     height: 35px;
     border-radius: 50%;
}

.imagen_editar{
    position: absolute;
    width: 80px;
    height: 80px;
    z-index: 4;
    left: calc(50% - 40px);
    top: 140px;
}

.texto{
  font-family: 'Maven Pro';
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: $grey-10;
  margin: 20px;
}

.separador{
    width: 117.4px;
    margin-top: 33px;
}

.numero-historias{
    font-family: Raleway;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    color: #6c626f;
    margin-top: 10px;
}
