<div  class="container" style="padding:0;">
  <div  class="row">
    <div  class="col-sm-12">

        <div  class="Path-3 d-flex flex-column justify-content-center">
          <img  alt="" class="d-flex flex-row align-self-center" height="55" src="assets/images/Logo Walnov-04.svg" width="110">
          <div  class="d-flex flex-row align-self-center Walnov">
            Walnov
          </div>
          <div  class=" d-flex flex-row align-self-center mensaje">
            Leave your mark
          </div>
          <div  class=" d-flex flex-row align-self-center" style="margin-top:50px;">
            <!-- <div  class="d-flex flex-column" style="width:50%;"> -->
              <img  class="app" src="assets/images/google-play-badge.png">
            <!-- </div> -->
            <!-- <div  class="d-flex flex-column" style="width:50%;">
              <img  class="app" src="assets/images/app-store-es.png">
            </div> -->
          </div>
          <div  class=" d-flex flex-row align-self-center mensaje-2">
            Descarga la app en tu móvil
          </div>
        </div>


    </div>
