<div class="ui fixed menu">
    <div class="ui container">
        <a routerLink="/home" routerLinkActive="active" class="header item">
            <img class="logo" src="assets/images/logo.png"> Walnov
        </a>
        <a routerLink="/inicio" routerLinkActive="active" class="item">Inicio</a>
        <a href="#" class="item">Walls</a>
        <a href="#" class="item">Chat Stories</a>
        <a href="#" class="item">Relatos</a>
        <div class="right menu">
            <div class="item">
                <div class="ui icon input">
                    <input type="text" placeholder="Search...">
                    <i class="search icon"></i>
                </div>
            </div>
            <a class="item">
                <i class="bell icon"></i>
            </a>
            <a class="item">
                <i class="mail icon"></i>
            </a>
            <a class="item">
                <img src="assets/images/square-image.png" class="ui avatar image">
            </a>
            <a class="item">Log In</a>
            <div class="item">
                <button class="ui labeled icon button">
            <i class="book icon"></i>
            Crear Wall
          </button>
            </div>
        </div>
    </div>
</div>