@import 'main';

.card-block {
  padding: 0;

}

.Rectangle-3-Copy-2 {
  border-radius: 8px;
  padding: 24px 4px 8px 4px;
  //background-color: #ffffff;
  background-color: $grey-1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
}

.Card-title {
  font-family: Raleway;
  font-size: 1.125em;
  font-weight: 500;
  text-align: center;
  //color: #808080;
  color: $grey-7;

}

.Input-Background-Copy-3-fuera {
  margin-top: 14px;
  margin-left: 15px;
  margin-right: 18px;
  height: 36px;
  border-radius: 3px;
  //background-color: #ffffff;
  background-color: $grey-1;
  //border: solid 1px #c0c0c0;
  border: solid 1px $grey-5;

}

.Input-Background-Copy-3-dentro {
  width: 100%;
  height: 36px;
  border: 0;
  background: 0;
  outline: none;
  cursor: pointer;
}

.Input-Background-Copy-3-dentro:focus {
  cursor: pointer;

}

.Drop-title {
  padding-left: 10px;
  font-family: Raleway;
  font-size: 1.125em;
  font-weight: 500;
  line-height: 1.43;
  text-align: left;
  //color: #4a4a4a;
  color: $grey-8;

}

select:focus {
  outline: none;
  cursor: pointer;
}

select:hover {
  cursor: pointer;

}

select {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;

}

.fa-sort {

  font-size: 1.4em;
  color: $grey-7;
  float: right;
  position: relative;
  top:-26px;
  right: 10px;

}

.fa-sort:hover {
  cursor: pointer;

}

.Rectangle-3-Copy-3 {
  min-width: 100%;
  max-height: 400px;
  margin-top: 15px;
  padding: 10px 7px 20px;
  border-radius: 8px;
  //background-color: #f0f0f0;
  background-color: $grey-3;
  //background-color: red;
  overflow-y: auto;
}

.Rectangle-3-Copy-3::-webkit-scrollbar {
  display: none;

}



.Rectangle-3-Copy-4 {
  border-radius: 8px;
  padding-left: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 8px;
  //background-color: #ffffff;
  background-color: $grey-1;
  border: solid 1px #e0e0e0;
}

.Chat-Image {
  border-radius: 5px;
  height: 73px;
  width: 46px;

}

.Chat-Title {
  font-family: 'Maven Pro';
  font-size: 1.125em;
  font-weight: bold;
  text-align: left;
  //color: #000000;
  color: $grey-10;
  margin-bottom: -2px;
  margin-top: 10px;
  max-width: 100%;
  margin-right: 5px;
  //max-height: 3em;
}

// .block-with-text {
//   overflow: hidden;
//   position: relative;
//   //line-height: 1.2em;
//   max-height: 3em;
//   text-align: left;
//   //margin-right: -1em;
//   margin-right: 1.2em;
//   padding-right: 1em;
// }
//
// .block-with-text:before {
//   content: '...';
//   position: absolute;
//   right: 0.2em;
//   bottom: 0;
// }
// .block-with-text:after {
//   content: '';
//   position: absolute;
//   font-weight: bold;
//   right: 0.2em;
//   width: 1em;
//   height: 1em;
//   margin-top: 0.2em;
//   // bottom: 0;
//   background: white;
// }
//
// .block-with-text-2 {
//   overflow: hidden;
//   position: relative;
//   //line-height: 1.2em;
//   max-height: 3em;
//   text-align: left;
//   //margin-right: -1em;
//   margin-right: 1.2em;
//   padding-right: 1em;
// }
// .block-with-text-2:before {
//   content: '...';
//   position: absolute;
//   right: 0.2em;
//   bottom: 0;
// }
// .block-with-text-2:after {
//   content: '';
//   position: absolute;
//   font-weight: bold;
//   right: 0.2em;
//   width: 1em;
//   height: 1em;
//   margin-top: 0.2em;
//   // bottom: 0;
//   background: #4d1274;
// }

.Rectangle-7-Copy-4 {
  padding: 1px 5px;
  height: 14px;
  margin-top: 10px;
  margin-right: 15px;
}

.Categoria{
  font-family: Raleway;
  font-size: 0.6em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  //color: #e65e20;
  //color: $cat-1;
}

.Chat-Estadisticas {
  margin-top: 2px;

}
.Chat-Views {
  margin-right: 15px;
  font-family: Arial;
  //Fuente real(Falta añadir): .SFNSText
  font-size: 0.92em;
  padding-left: 0 !important;
  text-align: left;
  //color: #9b9b9b;
  color: $grey-6;

}

.Chat-Likes {
  font-family: Arial;
  //Fuente real(Falta añadir): .SFNSText
  font-size: 0.92em;
  text-align: left;
  //color: #9b9b9b;
  color: $grey-6;

}

.fa-eye {
  margin-top: 3px;
  margin-right: 4px;

}

.fa-heart-o {
  margin-top: 3px;
  margin-right: 4px;
}

.Chat-Message {
  font-family: 'Maven Pro';
  font-size: 1.125em;
  font-style: italic;
  text-align: center;
  //color: #000000;
  color: $grey-10;

}
