<div class="Rectangle-5" *ngIf='categoria'>
  <img class="Img-Categorias" src="https://lorempixel.com/957/72" alt="">
  <div class="Fondo-Imagen">
  </div>
  <div class="Degradado-Imagen" [ngStyle] = "{'background-image': getBackgroundImage()}">
  </div>
  <div class="d-flex flex-row justify-content-start align-items-center Detalles-Categoria">
    <div class="Titulo-Categoria">
      {{categoria.nombre | translate}}
    </div>
  </div>
</div>
<div #contenedorBiblioteca>
  <div  class="d-flex justify-content-center flex-row flex-wrap Limite" *ngIf="bibliotecaLoaded">
      <div *ngFor= "let relato of repositorio.paginadorCardsRelatos.paginador">
          <app-card-relato [vista] = "'buscador'" [relato] = 'relato'></app-card-relato>
        </div>
  </div>
</div>
