.outside-container{
  padding: 2.5em;
  border-radius: 8px;
  background-color: #fdfdfd;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
}

.fixed-title{
  font-family: Raleway;
  font-size:1.5em;
}

.fixed-title-2{
  font-family: Raleway;
  font-size:1.2em;
}

.row-margin-top{
  margin-top: 2em !important;
}

.no-padding{
  margin:0;
  padding:0;
}

.width-50{
  width: 50%;
}
