<div class="container">
  <div class="row">
    <div class="link" (click)="changeView('actividad-reciente')" [ngClass]="{'selected': this.router.url==='/home/actividad-reciente'}">
      Actividad Reciente
    </div>
  </div>
  <div class="row">
    <div class="link" (click)="changeView('mis-walls')" [ngClass]="{'selected': this.router.url==='/home/mis-walls'}">
      Mis Walls
    </div>
  </div>
  <div class="row">
    <div class="link" (click)="changeView('mis-relatos')" [ngClass]="{'selected': this.router.url==='/home/mis-relatos'}">
      Mis Relatos
    </div>
  </div>
  <div class="row">
    <div class="link" (click)="changeView('mis-chatstories')" [ngClass]="{'selected': this.router.url==='/home/mis-chatstories'}">
      Mis Chatstories
    </div>
  </div>
  <div class="row">
    <div class="link" (click)="changeView('guardado')" [ngClass]="{'selected': this.router.url==='/home/guardado'}">
      Guardado
    </div>
  </div>
</div>
