<div class="c-popover"
     [ngClass]="{'visible': visible, 'down': direction==='down', 'up': direction==='up'}">
  <div class="simple-container">
    <div class="title d-flex flex-row align-items-center">
      <span>{{'popover_unirse' | translate}}</span>
      <span class="fa fa-times ml-auto" (click)="close()"></span>
    </div>
    <div class="alternatives d-flex flex-column" style="min-width:100px;">
      <div class="d-flex flex-column">
        <span class="simple-title">{{'popover_registro' | translate}}</span>
        <div class="icon facebook" (click)="doSocialLogin('/apiv1/users/oauth/facebook?url=')">
          <span class="fa fa-facebook mr-auto"></span>
          <span>FACEBOOK</span>
        </div>
        <div class="icon twitter" (click)="doSocialLogin('/apiv1/users/oauth/twitter?url=')">
          <span class="fa fa-twitter mr-auto"></span>
          <span>TWITTER</span>
        </div>
        <div class="icon google" (click)="doSocialLogin('/apiv1/users/oauth/google?url=')">
          <span class="fa fa-google-plus mr-auto"></span>
          <span>GOOGLE</span>
        </div>
      </div>
    </div>
    <!-- VISTA REGISTRO-->
    <div class="register-form d-flex flex-column" [ngClass]="{'account-problems' : view==='problemas'}">
      <div class="d-flex flex-column" *ngIf="view==='register'">
        <div class="relative-container d-flex flex-column">
          <span class="simple-title">Email</span>
          <input [formControl]="validateForm.controls['mail']" #mail type="text" name="" value=""
                 class="form-control"
                 [ngClass]="{'error-input': !validateForm.controls['mail'].valid && validateForm.controls['mail'].touched}">
          <span class="error-span"
                *ngIf="!validateForm.controls['mail'].valid && validateForm.controls['mail'].touched">{{'popover_error_mail' | translate}}</span>
        </div>
        <div class="relative-container d-flex flex-column">
          <span class="simple-title">{{'popover_contraseña'| translate}}</span>
          <input [formControl]="validateForm.controls['pass']" #pass type="password" name="" value=""
                 class="form-control"
                 [ngClass]="{'error-input': !validateForm.controls['pass'].valid && validateForm.controls['pass'].touched}">
          <span class="error-span"
                *ngIf="!validateForm.controls['pass'].valid && validateForm.controls['pass'].touched">{{'popover_error_contraseña' | translate}}</span>
        </div>
        <div class="relative-container d-flex flex-column">
          <span class="simple-title">{{'all_nombre_usuario' | translate}}</span>
          <input [formControl]="validateForm.controls['user']" #user type="text" name="" value=""
                 class="form-control"
                 [ngClass]="{'error-input': !validateForm.controls['user'].valid && validateForm.controls['user'].touched}">
          <span class="error-span"
                *ngIf="!validateForm.controls['user'].valid && validateForm.controls['user'].touched">{{'popover_error_nombre' | translate}}</span>
        </div>
        <div class="link" (click)="changeView('problemas')">
          {{'popover_problemas' | translate}}
        </div>
      </div>

      <!-- VISTA LOGIN-->
      <div class="d-flex flex-column" *ngIf="view==='login'">
        <div class="relative-container d-flex flex-column">
          <span class="simple-title">{{'all_nombre_usuario' | translate}}</span>
          <input [formControl]="validateForm.controls['user']" #user type="text" name="" value=""
                 class="form-control"
                 [ngClass]="{'error-input': !validateForm.controls['user'].valid && validateForm.controls['user'].touched}">
          <span class="error-span"
                *ngIf="!validateForm.controls['user'].valid && validateForm.controls['user'].touched">{{'popover_error_nombre' | translate}}</span>
        </div>
        <div class="relative-container d-flex flex-column">
          <span class="simple-title">{{'popover_contraseña'| translate}}</span>
          <input [formControl]="validateForm.controls['pass']" #pass type="password" name="" value=""
                 class="form-control"
                 [ngClass]="{'error-input': !validateForm.controls['pass'].valid && validateForm.controls['pass'].touched}">
          <span class="error-span"
                *ngIf="!validateForm.controls['pass'].valid && validateForm.controls['pass'].touched">{{'popover_error_contraseña' | translate}}</span>
        </div>
        <div class="link" (click)="changeView('problemas')">
          {{'popover_problemas' | translate}}
        </div>
      </div>

      <!-- VISTA DE PROBLEMAS QUE REDIRIGE A PASSWORD RESET, ACTIVATION LINK RE REQUEST Y USER NAME REMIND -->
      <div class="d-flex flex-column button-grid" *ngIf="view==='problemas'" style="align-items: center">
        <div class="relative-container d-flex flex-column">
          <div class="button d-flex align-items-center" (click)="changeView('passwordResetRequest')" style="margin-bottom: 1.4em; margin-top: 1.3em">
            <span>{{'popover_error_olvidada' | translate}}</span>
          </div>

        </div>
        <div class="relative-container d-flex flex-column">
          <div class="button d-flex align-items-center" (click)="changeView('userNameRemindRequest')" style="margin-bottom: 1.4em">
            <span>{{'popover_error_user_name_olvidado' | translate}}</span>
          </div>
        </div>
        <div class="relative-container d-flex flex-column">
          <div class="button d-flex align-items-center" (click)="changeView('activacion')" style="margin-bottom: 1.4em">
            <span>{{'popover_request_account_activation_link' | translate}}</span>
          </div>
        </div>
      </div>

      <!-- VISTA PEDIR NUEVO LINK PARA ACTIVAR CUENTA-->
      <div class="d-flex flex-column" *ngIf="view==='activacion'">
        <div class="relative-container d-flex flex-column">
          <span class="simple-title">Email</span>
          <input [formControl]="validateForm.controls['mail']" #mail type="text" name="" value=""
                 class="form-control"
                 [ngClass]="{'error-input': !validateForm.controls['mail'].valid && validateForm.controls['mail'].touched}">
          <span class="error-span"
                *ngIf="!validateForm.controls['mail'].valid && validateForm.controls['mail'].touched">{{'popover_error_mail' | translate}}</span>
        </div>
      </div>

      <!-- VISTA CONTRASEÑA PERDIDA-->
      <div class="d-flex flex-column" *ngIf="view==='passwordResetRequest'">
        <div class="relative-container d-flex flex-column">
          <span class="simple-title">Email</span>
          <input [formControl]="validateForm.controls['mail']" #mail type="text" name="" value=""
                 class="form-control"
                 [ngClass]="{'error-input': !validateForm.controls['mail'].valid && validateForm.controls['mail'].touched}">
          <span class="error-span"
                *ngIf="!validateForm.controls['mail'].valid && validateForm.controls['mail'].touched">{{'popover_error_mail' | translate}}</span>
        </div>
      </div>

      <!-- VISTA NOMBRE USUARIO PERDIDO-->
      <div class="d-flex flex-column" *ngIf="view==='userNameRemindRequest'">
        <div class="relative-container d-flex flex-column">
          <span class="simple-title">Email</span>
          <input [formControl]="validateForm.controls['mail']" #mail type="text" name="" value=""
                 class="form-control"
                 [ngClass]="{'error-input': !validateForm.controls['mail'].valid && validateForm.controls['mail'].touched}">
          <span class="error-span"
                *ngIf="!validateForm.controls['mail'].valid && validateForm.controls['mail'].touched">{{'popover_error_mail' | translate}}</span>
        </div>
      </div>

      <div *ngIf="showAlert" class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="dismissAlert()">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ alertMessage }}
      </div>
    </div>
    <div class="button-grid d-flex justify-content-end align-items-center">
      <div class="d-flex align-items-center justify-content-end">
        <div class="link" (click)="changeView('login')" [hidden]="view==='login'">
          {{'popover_ya_registrado' | translate}}
        </div>
        <div class="link" (click)="changeView('register')" [hidden]="view==='register'">
          {{'popover_no_registrado' | translate}}
        </div>
        <div class="button d-flex align-items-center" (click)="register()" *ngIf="view==='register'">
          <span *ngIf="!loading">{{'popover_unirse_2' | translate}}</span>
          <i *ngIf="loading" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
          <span class="sr-only">Loading...</span>
        </div>
        <div class="button d-flex align-items-center" *ngIf="view==='login'" (click)="login()">
          <span *ngIf="!loading">{{'popover_entrar' | translate}}</span>
          <i *ngIf="loading" class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
          <span class="sr-only">Loading...</span>
        </div>
        <div class="button d-flex align-items-center" *ngIf="view==='activacion'"
             (click)="reRequestAccountActivationLink()">
          <span *ngIf="!loading">{{'popover_activacion' | translate}}</span>
          <i *ngIf="loading" class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
          <span class="sr-only">Loading...</span>
        </div>
        <div class="button d-flex align-items-center" *ngIf="view==='passwordResetRequest'"
             (click)="requestPasswordReset()">
          <span *ngIf="!loading">{{'popover_activacion' | translate}}</span>
          <i *ngIf="loading" class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
          <span class="sr-only">Loading...</span>
        </div>
        <div class="button d-flex align-items-center" *ngIf="view==='userNameRemindRequest'"
             (click)="userNameRemindRequest()">
          <span *ngIf="!loading">{{'popover_activacion' | translate}}</span>
          <i *ngIf="loading" class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>
