<div #div class="paginador d-flex flex-wrap">
  <app-card-chatstory *ngFor="let chatstory of this.paginador?.paginador" [chatstory]="chatstory" [allowLibrary]="library"></app-card-chatstory>
</div>
<div class="d-flex flex-row align-items-center justify-content-center">
  <div class="load-more-button d-flex align-items-center justify-content-center" *ngIf="this.paginador?.final" (click)="loadMore()"><span class="fa fa-plus"></span></div>
  <div class="load-more-button d-flex align-items-center justify-content-center" *ngIf="!this.paginador?.inicio" (click)="scrollTop()"><span class="fa fa-chevron-up"></span></div>
</div>
