<div class="container-fluid outside-container">
  <div class="row">
    <div class="col-2 cols-no-padding">
      <app-card-informativo [view] = "'chat-story'"></app-card-informativo>
    </div>
    <!-- /.col -->
    <div class="col-8">
      <app-crear-chatstory-middle-component></app-crear-chatstory-middle-component>
    </div>
    <!-- /.col -->
    <div class="col-2 hidden-md-down cols-no-padding">
      <app-mis-chatstories></app-mis-chatstories>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
