@import 'main';
.outside-container{
  padding: 2.5em;
  border-radius: 8px;
  background-color: #fdfdfd;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
}

.text-invalid{
  position: absolute;
    color: red;
    font-family: RaleWay;
    top:100%;
}

.input-invalid{
  border-color:red;
}

.form-right{
  position: absolute;
  right: 1em;
}

.fixed-title{
  font-family: Raleway;
  font-size:1.5em;
}

input{
  font-family: Raleway;
  font-size: 1.1em;
}

input:focus{
    border-color: $main-1;
}

option{
  font-family: Raleway;
  font-size: 1.1em;
}
select{
  font-family: Raleway;
  height: 100%;
}
select:focus{
  border-color: $main-1;
}


input::placeholder{
  font-family: Raleway;
  font-size: 1.1em;
  font-style: italic;
  text-align: left;
  color: $grey-6;
}

.img-preview{
  // position: absolute !important;
  // top: 0;
  background-size: cover;
  min-height: 0px;
  border-radius: 8px;
}


.description-box{
  display: flex;
  flex-direction: column;
  height: 115%;
    position:absolute;
    right:28px;
    top:-31%;
    width:60%;
}

textarea{
  font-family: Raleway;
  font-size: 1.1em;
  resize: none;
  box-sizing: border-box;
  height: 100%;
}

textarea::placeholder{
  font-family: Raleway;
  font-size: 1.1em;
  font-style: italic;
  text-align: left;
  color: $grey-6;
}

.fixed-title-2{
  font-family: Raleway;
  font-size:1.05em;
}

.row-margin-top-4{
  margin-top: 4em !important;
}

.row-margin-top{
  margin-top: 2em !important;
}

.no-padding{
  margin:0;
  padding:0;
}

.no-relative{
  position: initial;
}

.relative{
  position: relative;
}

.width-50{
  width: 50%;
}

.height-img-picker{
  height: 5em;
  margin-left: 1.15em;
}

.btn-hecho{
  padding: 0.5em 1em;
  border-radius: 0.3em;
  background-color: $main-1;
  font-family: Raleway;
  font-size: 1.05em;
  font-weight: bold;
  text-align: center;
  color: $grey-1;
}

.btn-hecho:hover{
  cursor: pointer;
  background-color: $main-2;
}

.relative{
  position: relative;
}


.vertical-center{
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);

  font-family: Raleway;
  font-size: 1em;
  font-style: italic;
  text-align: right;
  color: $grey-6;
}

.input-character{
  position: relative;
  padding: 0 !important;
  // padding-left: 1em;
  // padding-right: 1em;
  width: 50%;
  border-radius: 3px;
  background-color: $grey-1;
  border: solid 1px $grey-5;
}
.input-character input{
  // width: 90%;
  line-height: inherit;
}

.input-character .fa{
  line-height: inherit;
  font-size: 1.5em;
  color:$main-1;
  position: absolute;
  right: .5em;
  top: 50%;
  transform: translateY(-50%);
}

.input-character .fa:hover{
  cursor: pointer;
  color: $main-2;
}
.input-character input::placeholder{
  font-style: italic;
  color:$grey-6;
}

.input-character input{
  background: 0;
  border: 0;
}

label input[type="checkbox"] {
  display: none;
}


label .radio{
  width: 16px;
  height: 16px;
  background-color: $grey-1;
  border: solid 1px #979797;
  border-radius: 50%;
}

label input[type="checkbox"]:checked+.radio {
  border: solid 0.3em #7b48a0;
}

label .radio-text{
  padding-left: 1em;
}
