<div class="container-fluid">
  <div class="row">
    <div class="col-2 cols-no-padding">
      <app-card-informativo [view] = "'chat-story'"></app-card-informativo>
    </div>
    <!-- /.col -->
    <div class="col-8">
      <div class="card">
        <h3>Creación de Chatstories</h3>
        <app-image-picker></app-image-picker>
        <app-crear-personaje-chatstory></app-crear-personaje-chatstory>
      </div>
    </div>
    <!-- /.col -->
    <div class="col-2 hidden-md-down cols-no-padding">
      <div class="card">
        <app-mis-chatstories></app-mis-chatstories>
      </div>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
