<div class="Rectangle-3-Copy-2" *ngIf = "this.chatstory">
  <div class="Card-Title">
    {{'chatstories_card_info' | translate}}
  </div>
  <div class="Line">
  </div>
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-row Rectangle-7-Copy-15" [style.border] = 'getBorder()' [style.color] = 'getColor()'>
      <div class="d-flex flex-column align-items-center Categoria">
        {{chatstory.categoria?.nombre | translate}}
      </div>
    </div>
  </div>
  <div class="Relato-Estadisticas">
    <div style="margin-bottom:2px;">
      {{this.chatstory.personajes.length}} {{'chatstories_card_info_personajes' | translate}}
    </div>
    <div style="margin-bottom:2px;">
      {{this.formatearNumero(this.chatstory.estadistica?.likes)}} Likes
    </div>
    <div>
      {{this.formatearNumero(this.chatstory.estadistica?.vecesVisto)}} {{'all_visualizaciones' | translate}}
    </div>
  </div>
  <div class="Line-2">
  </div>
  <div class="Card-Title">
    Autor
  </div>
  <div class="Rectangle-3">
    <div class="d-flex justify-content-center flex-row">
      <img class="Oval-2" src={{chatstory.autor?.perfil.foto_perfil}} alt={{chatstory.autor?.perfil.nombre}}>
    </div>
    <div class="Usuario-Nombre ellipsis" (click) = "goToUser()" style="cursor: pointer;" title={{chatstory.autor?.perfil.nombre}}>
      {{chatstory.autor?.perfil.nombre}}
    </div>
    <div class="Usuario-Estadisticas">
      <div>{{chatstory.autor?.perfil.numWallsCreated}} Walls</div>
      <div>{{chatstory.autor?.perfil.numChatStoriesCreated}} Chatstories</div>
      <div>{{chatstory.autor?.perfil.numRelatosCreated}} {{'all_relatos_cortos' | translate}}</div>
    </div>
    <div *ngIf ="!checkUser()" class="d-flex flex-row  justify-content-center" style="height: 30px;">
      <div class="d-flex flex-column align-self-end">
        <button *ngIf="!isAlreadyFollowed()" type="button" class="btn-usuario d-flex" name="button" (click)="follow()">{{'all_seguir' | translate}}</button>
        <button *ngIf="isAlreadyFollowed()" type="button" class="btn-usuario d-flex" name="button" (click)="unFollow()">{{'all_siguiendo' | translate}}</button>
      </div>
    </div>
  </div>
</div>
