<div class="container-outside">
  <div class="row row-flanges">
    <div class="flange" (click)="changeView('walls')" [ngClass]="{'flange-selected': this.router.url == '/home/guardado/walls'}">
      Walls
    </div>
    <div class="flange" (click)="changeView('relatos')" [ngClass]="{'flange-selected': this.router.url == '/home/guardado/relatos'}">
      {{'all_relatos_cortos' | translate}}
    </div>
    <div class="flange" (click)="changeView('chatstories')" [ngClass]="{'flange-selected': this.router.url == '/home/guardado/chatstories'}">
      Chatstories
    </div>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
    <!-- <app-guardado-chatstories *ngSwitchCase="'chatstories'"></app-guardado-chatstories>
    <app-guardado-relatos *ngSwitchCase="'relatos'"></app-guardado-relatos> -->
  </div>
</div>
