<div class="outside-container d-flex flex-column align-items-center">
  <div class="user-img" [ngStyle]="{'background-image': 'url('+(this.user?.perfil.foto_perfil ? this.user.perfil.foto_perfil : 'www.lorempixel.com/1600/1200')+')'}">

  </div>
  <div class="title" (click)="goToUser()">
    {{this.user?.perfil.display_name ? this.user.perfil.display_name : 'unknown'}}
  </div>
  <div class="inside-info d-flex flex-column align-items-center">
    <span class="info">{{this.user?.perfil?.numWallsCreated}} Walls</span>
    <span class="info">{{this.user?.perfil?.numChatStoriesCreated}} Chatstories</span>
    <span class="info">{{this.user?.perfil?.numRelatosCreated}} {{'all_relatos_cortos' | translate}} </span>
  </div>
  <div class="follow d-flex align-items-center justify-content-center" [ngClass]="{'selected': this.seguido, 'invisible': this.invisible}" (click)="this.seguido = !this.seguido" (click)="follow()">
    <span *ngIf="this.seguido" (click)="unfollow()"><span class="fa fa-check"></span> {{'all_siguiendo' | translate}}</span>
    <span *ngIf="!this.seguido" (click)="follow()">{{'all_seguir' | translate}}</span>
  </div>
</div>
