@import "main";

.outside-container{
  padding:3em 1.5em 1.5em 1.5em;
  position: relative;
  border-radius: 8px;
  background-color: $grey-1;
  border: solid 1px #e0e0e0;
  margin: .5em;
  margin-bottom:3em;
  min-width: 180px;
}

.user-img{
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top:-20%;
  width: 40%;
  padding-top:40%;
  border-radius: 50%;

}

.title{
  font-family: Raleway;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.28;
    text-align: center;
    color: $main-3;
    &:hover{
      cursor: pointer;
      text-decoration: underline;
    }
}

.inside-info{
  margin-top: 1em;
  & .info{
    font-family: Raleway;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    color: #6c626f;
  }
}

.follow{
  margin-top:1em;
  border-radius: 4px;
  border: solid 2px $main-1;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: $main-1;
  padding:.2em .5em;
  transition: background-color .1s linear;
  min-width: 60px;
  min-height: 32px;
  &:hover{
    cursor: pointer;
    background-color: $main-1;
    color: white;
  }
  &.selected{
    background-color: transparent;
    color:$main-1;
    border: 0;
    &:hover{
      color: $main-2;
    }
  }
}
