<div #div class="paginador d-flex flex-wrap" >
  <app-card-chatstory *ngFor="let chatstory of this.paginador?.paginador" [chatstory]="chatstory" [allowLibrary]="false"></app-card-chatstory>
</div>
<!-- <div class="empty-title d-flex align-items-center justify-content-center" *ngIf="this.paginador?.paginador.length < 1">
  <span>{{'alert_home_chatstories' | translate}}<span class="empty-title-link" routerLink="/crear-chatstory">{{'alert_home_chatstories2' | translate}}</span></span>
</div> -->
<div class="d-flex flex-row align-items-center justify-content-center">
  <div class="load-more-button d-flex align-items-center justify-content-center" *ngIf="this.paginador?.final" (click)="loadMore()"><span class="fa fa-plus"></span></div>
</div>
