<div class="Rectangle-6 popup" [hidden]="popoverDisplay">
  <div class="card-title">Únete para poder publicar</div>
  <div class="row">
    <div class="col">
      <div class="card-text">Regístrate con:</div>
      <a class="btn btn-primary btn-block" (click)="registerFacebook()">FACEBOOK</a>
      <a href="/users/oauth/twitter?url=/crear-wall" class="btn btn-primary btn-block">TWITTER</a>
      <a href="/users/oauth/google?url=/crear-wall" class="btn btn-primary btn-block">GOOGLE</a>
    </div>
    <div class="col">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
        <div class="form-group" [ngClass]="{'has-danger':!registerForm.controls['email'].valid && registerForm.controls['email'].touched && registerForm.controls['email'].dirty}">
          <label class="form-control-label" for="emailInput">Email</label>
          <input type="email" class="form-control" id="emailInput" [formControl]="registerForm.controls['email']">
          <div class="form-control-feedback" *ngIf="!registerForm.controls['email'  ].valid && registerForm.controls['email'].touched && registerForm.controls['email'].dirty">Sorry, that username's taken. Try another?</div>
        </div>
        <div class="form-group" [ngClass]="{'has-danger':!registerForm.controls['password'].valid && registerForm.controls['password'].touched && registerForm.controls['password'].dirty}">
          <label for="passwordInput">Contraseña</label>
          <input type="password" class="form-control" id="passwordInput" [formControl]="registerForm.controls['password']">
          <div class="form-control-feedback" *ngIf="!registerForm.controls['password'].valid && registerForm.controls['password'].touched && registerForm.controls['password'].touched">Sorry, that username's taken. Try another?</div>
        </div>
        <div class="form-group" [ngClass]="{'has-danger':!registerForm.controls['login'].valid && registerForm.controls['login'].touched && registerForm.controls['login'].dirty}">
          <label for="usernameInput">Nombre de Usuario</label>
          <input class="form-control" id="usernameInput" [formControl]="registerForm.controls['login']">
          <div class="form-control-feedback" *ngIf="!registerForm.controls['email'].valid && registerForm.controls['login'].touched && registerForm.controls['login'].dirty">Sorry, that username's taken. Try another?</div>
        </div>
        <!--<br>{{ registerForm.valid }}-->
        <!--<br>{{ registerForm.value | json }}-->

        <div class="form-group row">
          <button class="btn btn-primary" [disabled]="!registerForm.valid">Unirme</button>
        </div>
      </form>
    </div>
  </div>
  <div [hidden]="!loading">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div>
</div>

  <div class="btn-hecho" (click)="togglePopover()">
    {{textoBoton}}
  </div>

