@import 'main';

.btn-hecho {
  width: 122px;
  height: 30px;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  background-color: $main-1;
  font-family: Raleway;
  font-size: 1.05em;
  font-weight: bold;
  text-align: center;
  color: $grey-1;
}

.popup {
  position: absolute;
  top: 38px;
  left: -250px;
  width: 413px;
  height: 337px;
}

.popup:after {
  content: " ";
  border-top: 11px solid #222;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: relative;
  top: 111px;
  right: -140px;
}

.Rectangle-6 {
  width: 413px;
  height: 337px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255) !important;
  background-color: var(--grey-1);
  box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.24);
}



