@import 'main';

.Rectangle-7 {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 18px;
  width: 295px;
  // min-height:191px;
  border-radius: 8px;
  padding: 10px 15px 20px 11px;
  //background-color: #ffffff;
  background-color: $grey-1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  &:hover {
    background-color: #d8d8d8;
  }
  &:hover .Fade-Black {
    visibility: initial;
  }
}

.Chat-Image {
  border-radius: 8px;
  border-radius: 8px;
  height: 8em;
  width: 6em;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  &:hover{
    cursor: pointer;
  }
}

.Chat-Filter{
  height: 100%;
  width: 100%;
}

.Fade-Black {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  font-size: 2em;
  & i{
    color:white;
    margin:0;
  }
}

.Rectangle-7-Copy-3 {
  width: 56px;
  //background-color: #29ba6f;
  //background-color: $cat-2;
  &.margin-top{
    margin-top:1em;
  }
}

.Categoria {
  //width: 46.3px;
  //height: 10px;
  font-family: Raleway;
  font-size: 8px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  //color: #ffffff;
  color: $grey-1;
}

.Chat-Title {
  //width: 213px;
  //height: 34px;
  font-family: 'Maven Pro';
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  //color: #4a4a4a;
  color: $grey-8;
}

.autor-title {
  color: $main-1;
  font-size:.8em;
  &:hover {
    text-decoration: underline;
    cursor:pointer;
  }
}

.Chat-Descripcion {
  //width: 218.5px;
  //height: 119px;
  font-family: 'Maven Pro';
  font-size: 14px;
  line-height: 1.1;
  text-align: left;
  //color: #000000;
  color: $grey-10;
  overflow: hidden;
    max-height: 5.5em;
}

.Rectangle-7-Copy-4 {
  width: 127px;
  height: 20px;
  border-radius: 4px;
  color:$main-1;
  //border: solid 1px #8427bf;
  border: solid 1px $main-1;
  // position: absolute;
  // bottom: 20px;
  &:hover{
    cursor: pointer;
    color: $grey-1;
    background-color: $main-1;
  }
}

.user-chatstory {
  visibility: hidden;
}

button {
  outline: none;
  border:0;
  background-color: inherit;

}


.btn-details {
  //width: 106.2px;
  //height: 11px;
  font-family: Raleway;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  //color: #8427bf;
  color: inherit;
}

.Rectangle-7-Copy-4-2 {
  width: 127px;
  height: 20px;
  border-radius: 4px;
  //border: solid 1px #8427bf;
  border: solid 1px $main-1;
  background-color: $main-1;
  color:white;
  // position: absolute;
  // bottom: 20px;
  &:hover{
    cursor: pointer;
    background-color: $grey-1;
    color: $main-1;
  }
}

.btn-details-2 {
  //width: 106.2px;
  //height: 11px;
  font-family: Raleway;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  //color: #8427bf;
  color: $grey-1;
}

.Chat-Views {
  margin-left: 46px;
  margin-right: 12px;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  color: $grey-6;

}

.Chat-Likes {
  font-family: Raleway;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  color: $grey-6;
  &:hover{
    cursor: pointer;
  }
  & .fa{
    &:hover{
      color:$main-1;
    }
  }
}

.fa-eye {
  margin-top: 3px;
  margin-right: 5px;
  color: $grey-6;
}

.fa-heart-o {
  margin-top: 3px;
  margin-right: 5px;
  color: $grey-6;
}

.fa-heart{
  color:$main-1;
}
