@import 'main';

.Rectangle-7 {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 18px;
  width: 295px;
  height: 248px;
  border-radius: 8px;
  padding: 10px 15px 20px 11px;
  //background-color: #ffffff;
  background-color: $grey-1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
}

.Chat-Image {
  border-radius: 8px;
  border-radius: 8px;
  height: 8em;
  width: 6em;
  background-size: cover;
  background-position: center;
}

.Rectangle-7-Copy-3 {
  margin-top: 14px;
  padding-top: 0.2px;
  width: 56px;
  height: 12px;
  //background-color: #29ba6f;
  //background-color: $cat-2;
}

.Categoria {
  //width: 46.3px;
  //height: 10px;
  font-family: Raleway;
  font-size: 8px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  //color: #ffffff;
  color: $grey-1;
}

.Chat-Title {
  //width: 213px;
  //height: 34px;
  font-family: 'Maven Pro';
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  //color: #4a4a4a;
  color: $grey-8;
}

.Chat-Descripcion {
  //width: 218.5px;
  //height: 119px;
  font-family: 'Maven Pro';
  font-size: 14px;
  line-height: 1.1;
  text-align: left;
  //color: #000000;
  color: $grey-10;
}

.Rectangle-7-Copy-4 {
  width: 127px;
  height: 20px;
  border-radius: 4px;
  //border: solid 1px #8427bf;
  border: solid 1px $main-1;
  // position: absolute;
  // bottom: 20px;
}

button {
  outline: none;
  border:0;
  background-color: inherit;

}

.btn-details {
  //width: 106.2px;
  //height: 11px;
  font-family: Raleway;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  //color: #8427bf;
  color: $main-1;
}

.Rectangle-7-Copy-4-2 {
  width: 127px;
  height: 20px;
  border-radius: 4px;
  //border: solid 1px #8427bf;
  border: solid 1px $main-1;
  background-color: $main-1;
  // position: absolute;
  // bottom: 20px;
}

.btn-details-2 {
  //width: 106.2px;
  //height: 11px;
  font-family: Raleway;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  //color: #8427bf;
  color: $grey-1;
}

.Chat-Views {
  margin-left: 46px;
  margin-right: 12px;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  color: $grey-6;

}

.Chat-Likes {
  font-family: Raleway;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  color: $grey-6;

}

.fa-eye {
  margin-top: 3px;
  margin-right: 5px;
  color: $grey-6;
}

.fa-heart-o {
  margin-top: 3px;
  margin-right: 5px;
  color: $grey-6;
}
