<div class="d-flex Rectangle-7" (click)="loadChatstory($event)">
  <div class="d-flex flex-row">
    <div class="d-flex flex-column">
      <div class="d-flex flex-row">
        <div [ngStyle]="{'background-image': 'url('+this.chatstory.urlImagen+')'}" class="Chat-Image">
        </div>
      </div>
      <div class="d-flex flex-row justify-content-center">
        <div class="Rectangle-7-Copy-3" [style.backgroundColor] = 'getColor()'>
          <div class="Categoria">
            {{this.chatstory.categoria}}
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column" style="margin-left:11px;">
      <div class="d-flex flex-row">
        <div class="Chat-Title">
          {{this.chatstory.titulo}}
        </div>
      </div>
      <div class="d-flex flex-row" style="margin-top:10px;">
        <div class="Chat-Descripcion">
          {{this.checkDescription(chatstory)}}
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex flex-row" style="position:absolute; bottom:20px;">
    <div  #addButton class="d-flex flex-column">
      <button *ngIf= '!this.chatstory.added' type="button" class="Rectangle-7-Copy-4" (click)='addBiblioteca()' name="button" style="cursor:pointer;">
        <div class="btn-details">
          {{'chatstorie_add_biblioteca' | translate}}
        </div>
      </button>
      <button *ngIf= 'this.chatstory.added' type="button" class="Rectangle-7-Copy-4-2" (click)='addBiblioteca()' name="button" style="cursor:pointer;">
        <div class="btn-details-2">
          {{'chatstorie_added_biblioteca' | translate}}
        </div>
      </button>
    </div>
    <div class="d-flex flex-colum">
      <div class="Chat-Views">
        <i class="fa fa-eye" aria-hidden="true"></i>
        {{this.chatstory.estadistica?.vecesVisto}}
      </div>
      <div #likeButton class="Chat-Likes" (click)="this.like()">
        <i class="fa" aria-hidden="true" [ngClass]="{'fa-heart-o':!liked(),'fa-heart':liked()}"></i>
        {{this.chatstory.estadistica?.likes}}
      </div>
    </div>
  </div>
</div>
