<div class="d-flex flex-column Rectangle-7" (click)="loadChatstory($event)">
  <div class="d-flex flex-row">
    <div class="d-flex flex-column">
      <div class="d-flex flex-row">
        <div [ngStyle]="{'background-image': 'url('+this.chatstory.urlImagen+')'}" class="Chat-Image">
        </div>
      </div>
      <div class="d-flex flex-row justify-content-center" *ngIf="this.allowLibrary">
        <div class="Rectangle-7-Copy-3 margin-top" [style.backgroundColor] = 'getColor()'>
          <div class="Categoria">
            {{this.chatstory.categoria | translate}}
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column" style="margin-left:11px;">
      <div class="d-flex flex-row">
        <div class="Chat-Title">
          {{this.chatstory.titulo}}
        </div>
      </div>
      <div class="d-flex flex-row" *ngIf="this.chatstory.autor" (click)="goToUser()">
        <div class="autor-title">
          {{this.chatstory.autor.perfil.display_name}}
        </div>
      </div>
      <div class="d-flex flex-row" style="margin-top:10px;">
        <div class="Chat-Descripcion">
          {{this.chatstory.descripcion}}
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex flex-row align-items-center" style="margin-top:1em">
    <div  #addButton class="d-flex flex-column align-items-center" *ngIf="this.allowLibrary" [ngClass]="{'user-chatstory': checkUserChatstory()}">
      <button type="button" [ngClass]="{'Rectangle-7-Copy-4': !this.inLibrary, 'Rectangle-7-Copy-4-2': this.inLibrary}" (click)='addToLibrary()' name="button" style="cursor:pointer;">
        <div class="btn-details">
          {{this.addLibraryText()}}
        </div>
      </button>
    </div>
    <div class="d-flex flex-column align-items-center" *ngIf="!this.allowLibrary">
      <div class="Rectangle-7-Copy-3" [style.backgroundColor] = 'getColor()'>
        <div class="Categoria">
          {{this.chatstory.categoria | translate}}
        </div>
      </div>
    </div>
    <div class="d-flex flex-colum ml-auto">
      <div class="Chat-Views">
        <i class="fa fa-eye" aria-hidden="true"></i>
        {{this.chatstory.estadistica?.vecesVisto}}
      </div>
      <div #likeButton class="Chat-Likes" (click)="this.like()">
        <i class="fa" aria-hidden="true" [ngClass]="{'fa-heart-o':!liked(),'fa-heart':liked()}"></i>
        {{this.chatstory.estadistica?.likes}}
      </div>
    </div>
  </div>
</div>
