@import "main";

.Rectangle-9 {
  // width: 565px;
  height: 155px;
  padding: 22px 25px 18px 18px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 9px;
  border-radius: 8px;
  background-color: $grey-1;
  border: solid 1px #dadada;
}

@media (min-width: 768px) and (max-width: 991px) {
  .Rectangle-9 {
    margin-left: 12px;
    margin-right: 12px;
    height: 145px;
  }

}
.fa-star {
  font-size: 28px;
  // margin-right: 5px;
  color: $main-3;
  position: relative;
  top:4px;
}

.Numero {
  font-family: Raleway;
  font-size: 13px;
  font-weight: 500;
  text-align: left;
  color: $grey-1;
  position: absolute;
  top: 7px;
  left: 10px;
}

.fa-star-o {
  font-size: 28px;
  // margin-right: 5px;
  color: $main-3;
  position: relative;
  top:4px;
}

.Numero-2 {
  font-family: Raleway;
  font-size: 13px;
  font-weight: 600;
  text-align: left;
  color: $main-3;
  position: absolute;
  top: 6px;
  left: 9.5px;
}

.Numero-3 {
  font-family: Raleway;
  font-size: 13px;
  margin-left: 2px;
  font-weight: 600;
  text-align: left;
  color: $grey-7;
}

.Titulo {
  font-family: 'Maven Pro';
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: $grey-8;
}

.Titulo .text-style-2 {
  font-family: Raleway;
  font-size: 13px;
  font-weight: normal;
  color: $grey-8 !important;
  margin-left: 5px;
}

.Titulo .text-style-3 {
  font-family: Raleway;
  font-size: 13px;
  font-weight: normal;
  // color: #e65e20;
  color: $cat-1;
}

.Content {
  margin-top: 14px;
  margin-right: 55px;
  font-family: 'Maven Pro';
  font-size: 14px;
  line-height: normal;
  text-align: left;
  color: $grey-10;
}

.Likes {
  font-family: Raleway;
  font-size: 13px;
  color: $grey-7;
}

.shape-1 {
  width: 0;
  border-style: solid;
  border-width: 0 5px 8px 5px;
  border-color: transparent transparent #808080 transparent;
  transform: rotate(-45deg);
  position: relative;
}

.circle {
  width: 3px;
  height: 3px;
  top: 3.5px;
  left: -2px;
  border-radius: 50%;
  position: absolute;
  background-color: #ffffff;
}

.ground {
 width: 6.5px;
 height: 1.1px;
 opacity: 0.8;
 border-radius: 43px;
 background-color: $grey-4;
 border: solid 1px $grey-7;
 position: absolute;
 transform: rotate(45deg);
 bottom: -11px;
 right: 2px;
}

.stats {
  font-family: Raleway;
  font-size: 13px;
  text-align: left;
  // color: #808080;
  color: $grey-7;

}

.Posicion {
  position: relative;
  top:-34px;

}
