<div class="header d-flex align-items-center">
  <div class="img" [ngStyle]="{'background-image': 'url('+this.auth.getUser().perfil.foto_perfil+')'}">

  </div>
  <div class="profile-name">
    {{this.auth.getUser().perfil.nombre}}
  </div>

  <div class="triangle-lg triangle-1"></div>
  <div class="triangle-lg triangle-2"></div>
  <div class="triangle-lg triangle-3"></div>
  <div class="triangle-lg triangle-4"></div>
  <div class="triangle-lg triangle-5"></div>
  <div class="triangle-lg triangle-6"></div>

  <div class="triangle-md triangle-1"></div>
  <div class="triangle-md triangle-2"></div>
  <div class="triangle-md triangle-3"></div>
  <div class="triangle-md triangle-4"></div>

  <div class="triangle-sm triangle-1"></div>
  <div class="triangle-sm triangle-2"></div>
  <div class="triangle-sm triangle-3"></div>
  <div class="triangle-sm triangle-4"></div>

  <div class="circle circle-1"></div>
  <div class="circle circle-2"></div>
  <div class="circle circle-3"></div>
  <div class="circle circle-4"></div>
  <div class="circle circle-5"></div>
  <div class="circle circle-6"></div>
  <div class="circle circle-7"></div>
  <div class="circle circle-8"></div>
  <div class="circle circle-9"></div>
  <div class="circle circle-10"></div>
  <div class="circle circle-11"></div>
  <div class="circle circle-12"></div>
</div>
