<div class="full-outside-container">
  <app-profile-header></app-profile-header>
  <div class="outside-container d-flex flex-column">
    <div class="thin-title">
      Mis datos
    </div>
    <div class="d-flex flex-row flex-wrap">
      <div class="input">
        <div class="title">
            Nombre de usuario
        </div>
        <input type="text" class="form-control" name="" value="" placeholder="Nombre de usuario">
      </div>
      <div class="input">
        <div class="title">
            Fecha de nacimiento
        </div>
        <input #date type="date" class="form-control" name="" value="yyyy-mm-dd " placeholder="dd/mm/yyyy">
      </div>
      <div class="input">
        <div class="title">
            Nombre
        </div>
        <input type="text" class="form-control" name="" value="" placeholder="Nombre">
      </div>
      <div class="input">
        <div class="title">
            Apellidos
        </div>
        <input type="text" class="form-control" name="" value="" placeholder="Apellidos">
      </div>
      <div class="input">
        <div class="title">
            País
        </div>
        <input type="text" class="form-control" name="" value="" placeholder="País">
      </div>
      <div class="input">
        <div class="title">
            Sexo
        </div>
        <select class="form-control" name="">
          <option value="mujer">Mujer</option>
          <option value="hombre">Hombre</option>
        </select>
      </div>
      <div class="input">
        <div class="title">
            Idioma
        </div>
        <app-language-select></app-language-select>
      </div>
    </div>
  </div>
</div>
