
<div class="full-outside-container">
  <app-profile-header></app-profile-header>
  <div class="outside-container d-flex flex-column">
    <div class="thin-title">
      Descripción
    </div>
    <textarea class="form-control" [(ngModel)]="this.auth.getUser().perfil.descripcion"></textarea>
  </div>
  <div class="outside-container d-flex flex-column">
    <div class="thin-title">
      Mis datos
    </div>
    <div class="d-flex flex-row flex-wrap">
      <div class="input">
        <div class="title">
            Nombre de usuario
        </div>
        <input type="text" class="form-control" name="" value="" placeholder="Nombre de usuario" [(ngModel)]="this.auth.getUser().perfil.display_name">
      </div>
      <div class="input">
        <div class="title">
            Fecha de nacimiento
        </div>
        <input #date type="date" class="form-control" name="" value="yyyy-mm-dd " placeholder="dd/mm/yyyy">
      </div>
      <div class="input">
        <div class="title">
            Nombre
        </div>
        <input type="text" class="form-control" name="" value="" placeholder="Nombre" [(ngModel)]="this.auth.getUser().perfil.nombre">
      </div>
      <div class="input">
        <div class="title">
            Apellidos
        </div>
        <input type="text" class="form-control" name="" value="" placeholder="Apellidos" [(ngModel)]="this.auth.getUser().perfil.apellidos">
      </div>
      <div class="input">
        <div class="title">
            País
        </div>
        <input type="text" class="form-control" name="" value="" placeholder="País">
      </div>
      <div class="input">
        <div class="title">
            Sexo
        </div>
        <select class="form-control" name="" [(ngModel)]="this.auth.getUser().perfil.sexo">
          <option value="female">Mujer</option>
          <option value="male">Hombre</option>
        </select>
      </div>
      <div class="input">
        <div class="title">
            Idioma
        </div>
        <app-language-select [languages]="languages" [placeholder]="'Idiomas'"></app-language-select>
      </div>
      <div class="input">
        <div class="title">
            Teléfono
        </div>
        <input type="tel" class="form-control" name="" value="" placeholder="665654564">
      </div>
      <div class="input">
        <div class="title">
            Blog
        </div>
        <input type="text" class="form-control" name="" value="" placeholder="Blog">
      </div>
      <div class="input">
        <div class="title">
            Intereses
        </div>
        <app-language-select [languages]="interests" [placeholder]="'Intereses'"></app-language-select>
      </div>
    </div>
  </div>
  <div class="outside-container d-flex flex-row justify-content-around">
    <div class="links d-flex flex-column align-items-center justify-content-center">
      <div class="share facebook d-flex flex-column align-items-center justify-content-center">
        <span class="fa fa-facebook"></span>
      </div>
      <input type="text" class="form-control" placeholder="Facebook" name="" value="">
    </div>
    <div class="links d-flex flex-column align-items-center justify-content-center">
      <div class="share google d-flex flex-column align-items-center justify-content-center">
        <span class="fa fa-google-plus"></span>
      </div>
      <input type="text" class="form-control" placeholder="Google+" name="" value="">
    </div>
    <div class="links d-flex flex-column align-items-center justify-content-center">
      <div class="share twitter d-flex flex-column align-items-center justify-content-center">
        <span class="fa fa-twitter"></span>
      </div>
      <input type="text" class="form-control" placeholder="Twitter" name="" value="">
    </div>

  </div>
</div>
