@import "main";

.full-outside-container{
  padding: 0 1em;
}

.outside-container{
  margin-top: 1em;
  width: 100%;
  border-radius: 8px;
  background-color: #fdfdfd;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  padding: 2em;
}

.profile-header{
  width: 100%;
  border-radius: 8px;
  background-color: #fdfdfd;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  padding: 2em;
  & .img{
      height:70px;
      width: 70px;
      background-image: url('http://www.lorempixel.com/1600/1200');
      border-radius: 50%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
  }

  & .profile-name{
    font-family: Raleway;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    color: $main-1;
    margin-left: 1em;
    position: relative;
  }
}

.thin-title{
  font-family: Raleway;
  font-size: 18px;
  text-align: left;
  color: $grey-8;
  margin-bottom:1em;
  padding-left: 1em;
}

.input{
  width: 50%;
  margin: 1em 0;
  padding: 0 1em;
  & .title{
    font-family: Raleway;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    color: $grey-8;
  }
  & input{
    max-height: 34px;
    border-radius: 3px;
    background-color: $grey-1;
    border: solid 1px $grey-5;
    font-family: Raleway;
    font-size: 14px;
    text-align: left;
    color: $grey-8;
    &::placeholder{
      font-style: italic;
      color: $grey-6;
    }
    &:focus{
      border-color:$main-1;
    }
  }
  & select{
    height:100%;
    width:100%;
    max-height: 34px;
    border-radius: 3px;
    background-color: $grey-1;
    border: solid 1px $grey-5;
    font-family: Raleway;
    font-size: 14px;
    text-align: left;
    color: $grey-8;
    padding:0 .5em;
    &:focus{
      border-color:$main-1;
    }
  }
}
