<div class="walnov-card-container">
  <div class="walnov-pass-container d-flex justify-content-center">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" style="min-width:362px">
      <div class="d-flex flex-column form-group walnov-title d-flex flex-row align-items-center">
        <span>{{'cambio_password_title' | translate}}</span>
      </div>

      <div class="d-flex flex-column form-group" [ngClass]="{'has-danger': !form.controls.password.valid && form.controls.password.touched}" style="margin: 5px">
        <label class="form-control-label" for="password">{{'popover_contraseña'| translate}}</label>
        <input id="password" formControlName="password" type="password"
               class="form-control" [formGroup]="form"
               [ngClass]="{'form-control-danger': !form.controls.password.valid && form.controls.password.touched}">
        <div class="form-control-feedback" *ngIf="!form.controls.password.valid && form.controls.password.touched">{{'popover_error_contraseña' | translate}}</div>
      </div>

      <div class="d-flex flex-column form-group" [ngClass]="{'has-danger': !form.controls.password.valid && form.controls.password.touched}" style="margin: 5px">
        <label class="form-control-label" for="confirmPassword">{{'popover_confirmar_contraseña'| translate}}</label>
        <input id="confirmPassword" formControlName="confirmPassword" type="password"
               class="form-control" [formGroup]="form"
               [ngClass]="{'form-control-danger': !form.controls.confirmPassword.valid && form.controls.confirmPassword.touched}">
        <div class="form-control-feedback" *ngIf="form.controls.confirmPassword.errors?.minlength && form.controls.confirmPassword.touched">{{'popover_error_contraseña' | translate}}</div>
        <div class="d-flex flex-column form-control-feedback form-control-danger" style="" *ngIf="form.controls.confirmPassword.errors?.MatchPassword">{{'popover_error_pass_missmatch' | translate}}</div>
      </div>

      <input type="submit" class="d-flex flex-column walnov-button" value="{{'popover_activacion' | translate}}" >
    </form>
  </div>
</div>
