@import "main";

.walnov-card-container{
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: #fdfdfd;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.18);
  padding: 2em 0em;
}

.walnov-pass-container {
  margin-top: 50px;
}

input.error-input{
  border-color:red;
}

.walnov-title{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #faf1ff;
  color: $main-3;
  display: flex;
  align-items: center;
  padding: .5em 1.5em;
}

.walnov-button{
  font-family: Raleway;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  color: $grey-1;
  background-color: $main-1;
  border-radius: .4em;
  padding: .3em 2em;
  border-style: none;
  float:right;
  &:hover{
    cursor: pointer;
    background-color: $main-2;
  }
}
