<div class="container padding-box">
  <div class="row row-margin-top-1">
    <div class="col-lg-12">
      <div class="info-box">
          Para poder subir imágenes debes ser un Usuario Verificado
      </div>
    </div>
  </div>
  <div class="row row-margin-top-1">
    <div class="col-12">
      <div class="row">
        <div class="col-6">
          <div class="row no-padding-margin">
            <span class="fixed-title">
              Nombre
            </span>
          </div>
          <div class="row no-padding-margin">
            <input type="text" class="form-control" name="" value="">
          </div>
        </div>

        <div class="col-6">
          <div class="row no-padding-margin">
            <span class="fixed-title">
              Apellidos
            </span>
          </div>
          <div class="row no-padding-margin">
            <input type="text" class="form-control" name="" value="">
          </div>
        </div>
      </div>
      <div class="row row-margin-top-1">
        <div class="col-4">
          <div class="row no-padding-margin">
            <span class="fixed-title">
              Edad
            </span>
          </div>
          <div class="row no-padding-margin">
            <input type="date" class="form-control" name="" value="">
          </div>
        </div>
        <div class="col-4">
          <div class="row no-padding-margin">
            <span class="fixed-title">
              Idioma
            </span>
          </div>
          <div class="row no-padding-margin">
            <select class="form-control" name="">

            </select>
          </div>
        </div>
        <div class="col-4">
          <div class="row no-padding-margin">
            <span class="fixed-title">
              País
            </span>
          </div>
          <div class="row no-padding-margin">
            <select class="form-control" name="">

            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-margin-top-1">
    <div class="col no-padding">
      <div class="btn-hecho margin-left pull-right" (click)="verify()">Verificarme</div>
      <div class="btn-cancelar pull-right" (click)="cancel()">Cancelar</div>

    </div>
  </div>

</div>
