<div class="container padding-box">
  <div class="row row-margin-top-1">
    <div class="col-lg-12">
      <div class="info-box">
          {{'shared_verify_user' | translate}}
      </div>
    </div>
  </div>
  <div class="row row-margin-top-1">
    <div class="col-12">
      <div class="row">
        <div class="col-6">
          <div class="row no-padding-margin">
            <span class="fixed-title">
              {{'forms_nombre' | translate}}
            </span>
          </div>
          <div class="row no-padding-margin">
            <input type="text" class="form-control" name="" value="" placeholder="{{'forms_username' | translate}}" [(ngModel)]="user().perfil.display_name">
          </div>
        </div>

        <div class="col-6">
          <div class="row no-padding-margin">
            <span class="fixed-title">
              {{'forms_apellidos' | translate}}
            </span>
          </div>
          <div class="row no-padding-margin">
            <input type="text" class="form-control" name="" value="" placeholder="{{'forms_apellidos' | translate}}" [(ngModel)]="user().perfil.apellidos">
          </div>
        </div>
      </div>
      <div class="row row-margin-top-1">
        <div class="col-4">
          <div class="row no-padding-margin">
            <span class="fixed-title">
              {{'forms_fecha_nacimiento'  | translate}}
            </span>
          </div>
          <div class="row no-padding-margin">
            <input type="date" class="form-control" name="" value="" placeholder="dd/mm/yyyy" [(ngModel)]="user().perfil.fechaNacimiento">
          </div>
        </div>
        <div class="col-4">
          <div class="row no-padding-margin">
            <span class="fixed-title">
              {{'forms_idioma' | translate}}
            </span>
          </div>
          <div class="row no-padding-margin">
            <select class="form-control" name="">

            </select>
          </div>
        </div>
        <div class="col-4">
          <div class="row no-padding-margin">
            <span class="fixed-title">
              {{'forms_pais' | translate}}
            </span>
          </div>
          <div class="row no-padding-margin">
            <select class="form-control" name="">

            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-margin-top-1">
    <div class="col no-padding">
      <div class="btn-hecho margin-left pull-right" (click)="verify()">{{'forms_verificar' | translate}}</div>
      <div class="btn-cancelar pull-right" (click)="cancel()">{{'forms_cancelar' | translate}}</div>

    </div>
  </div>

</div>
