<div class="d-flex flex-row justify-content-center flex-wrap">
  <div class="d-flex flex-column">
    <div class="Rectangle-3-Copy-8">
      <div class="title">
        Contacta con nosotros
      </div>
      <div class="d-flex flex-row">
        <form style="width:100%;">
          <div class="d-flex flex-row">
            <div class="form-group" style="width:100%;">
              <label class="Datos" for="exampleInputName">Nombre*</label>
              <input type="text" class="form-control" id="exampleInputName" placeholder="Escriba su nombre">
            </div>
          </div>
          <div class="d-flex flex-row" style="margin-top:20px;">
            <div class="form-group" style="width:100%;">
              <label class="Datos" for="exampleInputEmail">Email*</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Introduce tu email">
            </div>
          </div>
          <div class="d-flex flex-row" style="margin-top:20px;">
            <div class="form-group" style="width:100%;">
              <label class="Datos" for="exampleInputAsunto">Asunto*</label>
              <input type="text" class="form-control" id="exampleInputAsunto" placeholder="Escriba un asunto">
            </div>
          </div>
          <div class="d-flex flex-row" style="margin-top:20px;">
            <div class="form-group" style="width:100%;">
              <label class="Datos" for="exampleInputMensaje">Mensaje*</label>
              <textarea rows=8 class="Comment-Box Input-Background" type="text" placeholder="Escribe tu mensaje"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="d-flex flex-row">
        <div class="d-flex ml-auto">
          <div class="Rectangle-7" style="cursor:pointer;">
            <div class="btn-content">
              Enviar
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column">
    <div class="Rectangle-3-Copy-9">
      <div class="title">
        Puedes encontrarnos en:
      </div>
      <div class="Adress">
        Calle Pedro Duque, Valencia
      </div>
      <div class="Adress" style="margin-bottom:32px;">
        Edificio 9B, despacho 19
      </div>
      <agm-map class="Bitmap" [latitude]="lat" [longitude]="lng" [zoom] = "15">
        <agm-marker class="Bitmap" [latitude]="lat" [longitude]="lng">
        </agm-marker>
      </agm-map>
    </div>
  </div>
</div>
