<div [ngSwitch]="this.tipo">
  <div *ngSwitchCase="'otros'">
    <div class="Rectangle-3-Copy-7">
      <div class="d-flex flex-row">
        <div class="d-flex flex-column mr-auto">
          <div class="Contenido-Copy">
            <span>GustavoManuel</span>
            <span class="text-style-1">ha participado en tu Wall</span>
            <span>‘Las Increíbles historias de Nurum Itzar’</span>
          </div>
        </div>
        <div class="d-flex flex-column ml-auto align-self-end" style="width:20%">
          <div class="time">
            hace 1 minuto
          </div>
        </div>
      </div>
      <div class="Rectangle-4">
        <div class="d-flex flex-row">
          <div class="d-flex flex-column" style="margin-right:25px;">
            <div class="d-flex align-self-center">
              <img class="user-image" src="https://lorempixel.com/30/30" alt="">
            </div>
            <div class="d-flex align-self-center mt-auto">
              <i id="heart" (click) = "meGusta()" class="fa fa-heart-o" aria-hidden="true" style="cursor:pointer;"></i>
            </div>
          </div>
          <div class="d-flex flex-column">
            <div class="titulo">
              Camino al Bosque Perdido
            </div>
            <div class="Notification-Content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras accumsan, nisl et eleifend porttitor, odio nulla condimentum lorem, quis pellentesque mauris diam et urna. Ut augue nisi, convallis eu dui vitae, pulvinar fringilla quam. Integer nunc nibh, ultrices vitae elit sed, eleifend congue ex. Praesent interdum ante ac sapien rhoncus, ac lacinia odio suscipit.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="'logros'">
    <div class="Rectangle-3-Copy-9">
      <div class="d-flex flex-row">
        <div class="d-flex flex-column mr-auto">
          <div class="Contenido">
            <span class="text-style-1">¡Tu Wall</span>
            <span>'Las increíbles historias de Nurum Itzar'</span>
            <span class="text-style-1">Ha superado los</span>
            <span class="text-style-2">20k 'loves'!</span>
          </div>
        </div>
        <div class="d-flex flex-column ml-auto align-self-end" style="width:20%">
          <div class="time">
            hace 1 minuto
          </div>
        </div>
      </div>
      <div class="d-flex flex-row" style="margin-top:17px;">
        <div class="d-flex flex-column" style="margin-right:8px;">
          <div class="Oval">
            <i class="fa fa-heart-o fa-heart-o-Copy" aria-hidden="true"></i>
          </div>
        </div>
        <div class="d-flex flex-column align-self-center">
          <div class="comunity">
            ¡La comunidad te adora!
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
