<div #relcontainer class="rel-container">
  <div class="button d-flex" (click)="this.visible = !this.visible" [ngClass]="{'placeholder': this.languagesSel.length < 1, 'visible': this.visible}">
    <span class="truncate">{{this.ph | translate}}</span>
    <div class="ml-auto d-flex flex-column align-items-center justify-content-center">
      <span class="fa fa-sort-asc arrow-top"></span>
      <span class="fa fa-sort-desc"></span>
    </div>
  </div>
  <div class="counter" *ngIf="this.languagesSel.length > 0">
    {{this.languagesSel.length}} {{this.languagesSel.length > 1 ? 'seleccionados' : 'seleccionado'}}
  </div>
  <div class="full-container" [ngClass]="{'hidden': !this.visible}">
    <div class="item d-flex align-items-center" *ngFor="let l of languages" (click)="select(l)" [ngClass]="{'selected': l.selected}">
      <div class="selector d-flex align-items-center justify-content-center" [ngClass]="{'selected': l.selected}">
        <span class="fa fa-check" *ngIf="l.selected"></span>
      </div>
      <div class="text">
        {{l.text | translate}}
      </div>
    </div>
  </div>
</div>
