<div class="container-fluid">
  <div class="row">
    <div class="col-2 cols-no-padding">

    </div>
    <!-- /.col -->
    <div class="col-7 cols-no-padding">
      <app-home-mis-chatstories></app-home-mis-chatstories>
    </div>
    <div class="col-3 cols-no-padding">
      <app-card-usuario-tendencia></app-card-usuario-tendencia>
      <app-card-wall-relevante></app-card-wall-relevante>
      <app-card-publicidad></app-card-publicidad>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
