<div class="container-fluid">
  <div class="row">
    <div class="col-2 cols-no-padding">
      <app-card-categorias></app-card-categorias>
    </div>
    <!-- /.col -->
    <div class="col cols-no-padding Combined-Shape">
      <div class="row-fluid entrada">
        <div class="card-deck">
          <div class="card Rectangle-7-Copy-5">
            <img class="card-img-top Rectangle-5" src="https://lorempixel.com/275/78" alt="Card image cap">
            <div class="card-img-overlay">
              <div class="row-fluid">
                <h4 class="Titulo">Card title</h4>
              </div>
              <footer class="Category">
                <div class="row-fluid">
                  <button type="button" name="button" class="Candado">
                    <i class="fa fa-unlock" aria-hidden="true"></i>
                  </button>
                </div>
                <div class="row-fluid">
                  <!-- <footer class="Category"> -->
                    <div class="Rectangle-7-Copy-10 Contenido">
                      Terror
                    </div>
                  <!-- </footer> -->
                </div>
              </footer>
            </div>
            <div class="card-block">
            </div>
          </div>
          <div class="card Rectangle-7-Copy-5">
            <div class="card-img-top Rectangle-5">
              <div class="row-fluid">
                <div class="col cols-no-padding">
                  <h4 class="Titulo">Card title</h4>
                </div>
              </div>
              <div class="row-fluid">
                <button type="button" name="button" class="Candado">
                  <i class="fa fa-unlock" aria-hidden="true"></i>
                </button>
              </div>
              <div class="row-fluid">
                <footer class="Category">
                  <div class="Rectangle-7-Copy-10 Contenido">
                    Terror
                  </div>
                </footer>
              </div>
            </div>
            <div class="card-block">
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
