@import 'main';

.Rectangle-3-Copy-4 {
  border-radius: 8px;
  background-color: $grey-1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
}

.Card-title {
  padding-top: 8.5px;
  padding-bottom: 20px;
  font-family: Raleway;
  font-size: 1.2em;
  font-weight: 500;
  text-align: center;
  color: $grey-7;
}

.Rectangle-3 {
  border-radius: 8px;
  background-color: $grey-1;
  border: solid 1px #e0e0e0;
  margin-bottom: 10px;
  cursor: pointer;
  cursor: hand;
}

.Story-title {

  padding-top: 11.5px;
  padding-left: 7px;
  font-family: 'Maven Pro';
  font-size: 1.08em;
  font-weight: 500;
  text-align: left;
  color: #3a204c;

}

.layer {
  margin-top: 14px;
  padding-left: 7px;
  padding-bottom: 15.4px;
  font-family: Raleway;
  font-size: 9px;
  font-weight: 500;
  letter-spacing: 0.6px;
  text-align: left;
  color: $grey-8;
}

.Card3 {
  border-radius: 8px;
  background-color: $main-3;
}

.Message {
  font-family: 'Maven Pro';
  font-size: 1.08em;
  font-weight: 200;
  text-align: center;
  font-style: italic;
  color: $grey-8;
}
