<div class="card Rectangle-3-Copy-4">
  <div class="card-block">
    <h4 class="Card-title">{{'home_card_navegacion_4' | translate}}</h4>
    <div *ngIf="showMessage">
      <div class="Message">{{'mis_chatstories_message' | translate}}</div>
      <div class="Message">{{'mis_chatstories_message_2' | translate}}</div>
    </div>
    <div class="Rectangle-3" *ngFor="let story of chatStories" [routerLink]="['/chatstory', story.id]">
      <h4 class="Story-title">{{story.titulo}}</h4>
      <footer class="layer">Última act. {{story.fechaCreacion | date: 'dd/MM/yy'}}</footer>
    </div>
  </div>
</div>
