<!-- <div class="outside-container">
  <div class="route">
    <span class="link">Relatos</span>
    <span class="fa fa-chevron-right"></span>
    <span class="link">Romance</span>
    <span class="fa fa-chevron-right"></span>
    <span class="link last">El relato de Dios</span>
  </div>
  <div class="content-container">
    <div class="title">El titulo de Dios</div>
  </div>
</div> -->

<div class="outside-container">
  <div class="title-info">
    Creación de Relato Corto
  </div>

  <div class="row no-padding section">
    <div class="col-4 no-padding">
      <div class="section">

        <div class="img-picker">
          <div class="img-filter" [ngStyle]="{'background-image': 'linear-gradient(to bottom, rgba(222, 25, 109, 0), '+this.relato.categoria.color+')'}">

          </div>
          <div class="img-picker-div">
            <app-image-picker [white]="true"></app-image-picker>
          </div>
        </div>
      </div>
      <div class="section">
        <span class="section-title">¿Quieres dedicar tu Wall?</span>
        <input class="form-control" type="text" name="" value="" placeholder="nombre@mail.com; @usuario…">
      </div>
      <div class="section">
        <span class="section-title">Invita a tus amigos</span>
        <div class="friends-container">
          <div class="friends-fields">
            <div class="friends-input d-flex align-items-center justify-content-end">
                <input type="text" class="form-control" name="" value="" placeholder="@Nombreamigo">
                <span class="fa fa-plus-circle"></span>
            </div>
            <!-- <div class="friend-field">
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col no-relative">
      <div class="rel-title">
        <input placeholder="Título del Relato" maxlength="30" class="span-title" contenteditable="true" #spanTitle> <span class="fa fa-pencil" (click)="spanTitle.focus()"></span>
      </div>
      <div class="section">
        <div class="d-flex align-items-center justify-content-end">
            <span class="pull-right">Categoria</span>
            <select class="form-control cats" name="" [(ngModel)]="this.relato.categoria">
              <option *ngFor="let cat of this.repositorio.categoriasAL" [ngValue]="cat">{{cat.nombre}}</option>
            </select>
        </div>
      </div>
      <div class="section">
        <textarea class="form-control" name="name" placeholder="Texto máximo 3000 caracteres"></textarea>
      </div>
      <div class="section d-flex align-items-center justify-content-end">
        <div class="link">
          Vista Previa
        </div>
        <div class="button">
          Publicar
        </div>
      </div>
    </div>

  </div>
</div>
