@import "main";

.Limite {
  height: 600px;
  overflow-y: auto;
}

.Limite::-webkit-scrollbar {
  display: none;
}

.load-more-button{
  color: black;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  border-radius: 50%;
  height: 20px;
  width: 20px;
  &:hover{
    cursor: pointer;
    background-color: $grey-4;
  }
}
