@import "main";


.outside-container{
  position: relative;
  padding-bottom: 125px;
}

.triangle-lg{
  position: absolute;
  width: 0;
  height: 0;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-bottom: 2em solid #e2cbf0;
  &.triangle-1{
    top: 0;
    left: 5%;
    transform: rotate(35deg);
  }
  &.triangle-2{
    top: 0;
    left: 25%;
    transform: rotate(20deg);
  }
  &.triangle-3{
    top: 50%;
    left: 39%;
    transform: rotate(-30deg);
  }
  &.triangle-4{
    top: 10%;
    left: 65%;
    transform: rotate(50deg);
  }
  &.triangle-5{
    top: 45%;
    left: 60%;
    transform: rotate(115deg);
  }
  &.triangle-6{
    top: 0;
    left: 85%;
    transform: rotate(25deg);
  }
}

.triangle-md{
  position: absolute;
  width: 0;
  height: 0;
  border-left: .7em solid transparent;
  border-right: .7em solid transparent;
  border-bottom: 1.4em solid #e2cbf0;
  &.triangle-1{
    top: 55%;
    left: 10%;
    transform: rotate(-10deg);
  }
  &.triangle-2{
    top: 5%;
    left: 56%;
    transform: rotate(180deg);
  }
  &.triangle-3{
    top: 60%;
    left: 70%;
    transform: rotate(-10deg);
  }
}

.triangle-sm{
  position: absolute;
  width: 0;
  height: 0;
  border-left: .5em solid transparent;
  border-right: .5em solid transparent;
  border-bottom: 1em solid #e2cbf0;
  &.triangle-1{
    top: 40%;
    left: 18%;
    transform: rotate(35deg);
  }
  &.triangle-2{
    top: 60%;
    left: 31%;
    transform: rotate(70deg);
  }
  &.triangle-3{
    top: 5%;
    left: 37%;
    transform: rotate(150deg);
  }
  &.triangle-4{
    top: 40%;
    left: 78%;
    transform: rotate(53deg);
  }
  &.triangle-5{
    top: 60%;
    left: 91%;
    transform: rotate(-39deg);
  }
}

.circle{
  position: absolute;
  width: .4em;
  height: .4em;
  border-radius: 50%;
  background-color: #e2cbf0;
  &.circle-1{
    top: 30%;
    left: 10%;
  }
  &.circle-2{
    top: 75%;
    left: 16%;
  }
  &.circle-3{
    top: 10%;
    left: 18%;
  }
  &.circle-4{
    top: 57%;
    left: 26%;
  }
  &.circle-5{
    top: 5%;
    left: 34%;
  }
  &.circle-6{
    top: 60%;
    left: 35%;
  }
  &.circle-7{
    top: 15%;
    left: 43%;
  }
  &.circle-8{
    top: 0;
    left: 52%;
  }
  &.circle-9{
    top: 40%;
    left: 58%;
  }
  &.circle-10{
    top: 40%;
    left: 69%;
  }
  &.circle-11{
    top: 78%;
    left: 76%;
  }
  &.circle-12{
    top: 15%;
    left: 77%;
  }
  &.circle-13{
    top: 65%;
    left: 85%;
  }
  &.circle-14{
    top: 10%;
    left: 94%;
  }

}



.check-circle{
  color: white;
  padding: .5em;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  background-color: #8427bf;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 3em;
  z-index: 10;
}
