<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-3 col cols-no-padding">
      <app-card-info-relato></app-card-info-relato>
    </div>
    <div class="col-lg-7 col-md-9 cols-no-padding">
      <app-ver-relato [relato]="relato"></app-ver-relato>
    </div>
    <div class="col-lg-3 hidden-md-down" style="padding-left:0px;">
      <app-card-usuario-tendencia></app-card-usuario-tendencia>
      <app-card-wall-relevante></app-card-wall-relevante>
      <app-card-publicidad></app-card-publicidad>
    </div>
  </div>
</div>
