<div class="container-fluid Rectangle-2">
  <div class="d-flex flex-row justify-content-between Rectangle-6">
    <div class="d-flex flex-column align-self-center header-1 mr-auto" style="margin-left:120px;">
      <div class="d-flex">
      Pásate a Premium
      </div>
    </div>
    <div class="d-flex flex-column Oval-3 mr-auto ml-auto">
      <div class="shape-1"></div>
      <div class="shape-2"></div>
      <div class="shape-3"></div>
      <div class="shape-4"></div>
      <div class="shape-5"></div>
      <div class="shape-6"></div>
      <div class="shape-7"></div>
      <div class="shape-8"></div>
      <div class="shape-9"></div>
      <div class="shape-10"></div>
      <div class="shape-11"></div>
      <div class="shape-12"></div>
      <div class="shape-13"></div>
      <div class="Oval-5">
        <div class="shape-14">
          <div class="shape-17"></div>
        </div>
        <div class="shape-15">
          <div class="shape-18"></div>
        </div>
        <div class="shape-16"></div>
        <div class="shape-19"></div>
      </div>
      <div class="img-profile-2">
        <div class="semicircle d-flex justify-content-center">
          <div class="Tipo-Usuario">
            Premium
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column d-flex align-self-center header-2 ml-auto">
      <div class="d-flex">
        Apoya a la mayor Comunidad de Escritura Colaborativa para que siga creciendo y generando contenidos alucinantes
      </div>
    </div>
  </div>
  <div class="d-flex flex-row" style="margin-left:30px; margin-right:30px;">
    <div class="d-flex flex-colum mr-auto panel-1">
      <div class="Rectangle-7">
        <div class="title">
          Plan mensual
        </div>
        <div class="d-flex justify-content-center">
          <div class="Line-Copy">
          </div>
        </div>
        <div class="title" style="margin-top:22px;">
          5.99€/mes
        </div>
        <div class="info">
          I.V.A. incluido
        </div>
        <div class="d-flex justify-content-center">
          <div class="info-2">
            Podrás cancelar tu suscripción en cualquier momento
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="Line-Copy" style="margin-bottom:13px;">
          </div>
        </div>
        <div class="Detalles">
          <ul style="list-style: none; padding:0;">
            <li><i class="fa fa-check" aria-hidden="true"></i>Leer chatstories desde PC sin límites</li>
            <li><i class="fa fa-check" aria-hidden="true"></i>Leer chatstories desde móvil sin límites</li>
            <li><i class="fa fa-check" aria-hidden="true"></i>Navegar sin publicidad en la web/app</li>
            <li><i class="fa fa-check" aria-hidden="true"></i>Libros y ebooks gratis</li>
            <li><i class="fa fa-check" aria-hidden="true"></i>Chatstories/walls/relatos exclusivos</li>
            <li><i class="fa fa-check" aria-hidden="true"></i>Descargar historias de forma offline en el app.</li>
            <li><i class="fa fa-check" aria-hidden="true"></i>Acceso anticipado a contenido.</li>
            <li><i class="fa fa-check" aria-hidden="true"></i>Suscripción al 50% a una persona cada mes.</li>
          </ul>
        </div>
        <div class="d-flex justify-content-center">
          <div class="Rectangle-7-Copy-3 btn" style="cursor:pointer;">
            ¡Lo quiero!
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-colum ml-auto mr-auto panel-2">
      <div class="Rectangle-7-Copy">
        <div class="title">
          Plan anual
        </div>
        <div class="d-flex justify-content-center">
          <div class="Line-Copy">
          </div>
        </div>
        <div class="title" style="margin-top:25px;">
          3.49€/mes
        </div>
        <div class="info-Copy">
          I.V.A. incluido
        </div>
        <div class="d-flex justify-content-center">
          <div class="info-2-Copy">
            Podrás cancelar tu suscripción en cualquier momento
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="Line-Copy" style="margin-bottom:13px;">
          </div>
        </div>
        <div class="Detalles">
          <ul style="list-style: none; padding:0;">
            <li><i class="fa fa-check" aria-hidden="true"></i>Leer chatstories desde PC sin límites</li>
            <li><i class="fa fa-check" aria-hidden="true"></i>Leer chatstories desde móvil sin límites</li>
            <li><i class="fa fa-check" aria-hidden="true"></i>Navegar sin publicidad en la web/app</li>
            <li><i class="fa fa-check" aria-hidden="true"></i>Libros y ebooks gratis</li>
            <li><i class="fa fa-check" aria-hidden="true"></i>Chatstories/walls/relatos exclusivos</li>
            <li><i class="fa fa-check" aria-hidden="true"></i>Descargar historias de forma offline en el app.</li>
            <li><i class="fa fa-check" aria-hidden="true"></i>Acceso anticipado a contenido.</li>
            <li><i class="fa fa-check" aria-hidden="true"></i>Suscripción al 50% a una persona cada mes.</li>
            <li><i class="fa fa-check" aria-hidden="true"></i>30% de descuento del precio total del plan</li>
          </ul>
        </div>
        <div class="d-flex justify-content-center">
          <div class="Rectangle-7-Copy-3 btn" style="cursor:pointer;">
            ¡Lo quiero!
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-colum ml-auto panel-3">
      <div class="Rectangle-7">
        <div class="title">
          Pago Diario
        </div>
        <div class="d-flex justify-content-center">
          <div class="Line-Copy">
          </div>
        </div>
        <div class="title" style="margin-top:22px;">
          0.99€/día
        </div>
        <div class="info">
          I.V.A. incluido
        </div>
        <div class="d-flex justify-content-center">
          <div class="info-2" style="margin-top:35px;">
            Un día completo con acceso a premium
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="Line-Copy" style="margin-bottom:13px;">
          </div>
        </div>
        <div class="Detalles">
          <ul style="list-style: none; padding:0;">
            <li><i class="fa fa-check" aria-hidden="true"></i>Leer chatstories desde PC sin límites</li>
            <li><i class="fa fa-check" aria-hidden="true"></i>Leer chatstories desde móvil sin límites</li>
            <li><i class="fa fa-check" aria-hidden="true"></i>Navegar sin publicidad en la web/app</li>
            <li><i class="fa fa-check" aria-hidden="true"></i>Libros y ebooks gratis</li>
            <li><i class="fa fa-check" aria-hidden="true"></i>Chatstories/walls/relatos exclusivos</li>
            <li><i class="fa fa-check" aria-hidden="true"></i>Descargar historias de forma offline en el app.</li>
            <li><i class="fa fa-check" aria-hidden="true"></i>Acceso anticipado a contenido.</li>
            <li><i class="fa fa-check" aria-hidden="true"></i>Suscripción al 50% a una persona cada mes.</li>
          </ul>
        </div>
        <div class="d-flex justify-content-center">
          <div class="Rectangle-7-Copy-3 btn" style="cursor:pointer;">
            ¡Lo quiero!
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-center">
    <div class="Rectangle-7-Copy-2">
      <span class="Solicitud">¡Prueba 7 días gratis y convéncete!</span>
      <span class="Rectangle-7-Copy-4 btn-sol" style="cursor:pointer;">Solicitar prueba gratuita</span>
    </div>
  </div>
</div>
