<div #div class="launcher" (click)="inicializa();">

  <div #contenedorBiblioteca class="c-popover" *ngIf="this.visible" [style.height] = "getAltura()">
    <i (click)="close();" class="fa fa-close" aria-hidden="true" style="cursor:pointer;"></i>
    <div class="d-flex flex-column align-items-start">
      <div class="d-flex flex-row justify-content-center username" style="margin-bottom:10px; width:100%;">
        {{'user_preferencias_notificaciones' | translate}}
      </div>
    </div>
    <div class="d-flex flex-row justify-content-center">
      <div class="line">
      </div>
    </div>
    <div class="Limite">
      <div class="Rectangle">
        <div *ngFor= "let entrada of this.repositorio.actRec | slice:0:10">
          <!-- <app-card-actividad-reciente [tipo] = "'logros'" [entrada] = "entrada"></app-card-actividad-reciente> -->
          <app-card-notificacion [tipo] = "'otros'" [entrada] = "entrada"></app-card-notificacion>
        </div>
      </div>

    </div>
    <div class="d-flex flex-row justify-content-center final" style="padding: 5px 15px;">
      <div class="d-flex username-2">
        {{'notificaciones_ver_todas' | translate}}
      </div>
    </div>

  </div>
</div>
