
<div class="row no-padding">
  <div class="col-12 no-padding">
    <span class="fixed-title">{{'chatstories_creacion_header' | translate}} - <b>{{'chatstories_creacion_step' | translate}} 2/2</b></span>
    <span class="click-span pull-right" (click)="getBack()">< {{'chatstories_creacion_back' | translate}} </span>
  </div>

</div>
<div class="row no-padding">

</div>

<div class="row no-padding row-margin-top">
  <div class="col-12 no-padding">
    <span class="wall-title title-error" *ngIf="!chatStory.titulo" >Sin titulo</span>
    <span class="wall-title">{{chatStory.titulo}}</span>
  </div>
</div>
<div class="row no-padding">
    <div class="category no-padding" [ngStyle]="{'background-color': this.chatStory.categoria?.color}">
      {{this.chatStory.categoria?.nombre | translate | uppercase}}
    </div>
</div>

<div class="row no-padding row-margin-top ">
  <div class="col-6 no-padding padding-right">
    <div class="chatstory-message-creator" >
      <div class="row">
        <span class="form-title">{{'chatstories_creacion_personaje' | translate}}</span>
        <select [(ngModel)]="message.personaje" class="form-control" #characterSelect required>
            <!-- <option value="" disabled selected hidden>{{'chatstories_creacion_personaje_name' | translate}}</option> -->
            <option *ngFor="let char of chatStory.personajes" value="{{char}}">{{char}}</option>
        </select>
      </div>
      <div class="row row-margin-top">
        <span class="form-title">{{'all_texto' | translate}}</span>
        <textarea #textArea [(ngModel)]="message.chat" class="form-control" rows="8" cols="80" maxlength="485" #messageText></textarea>
      </div>
      <div class="row row-margin-top">
        <div class="col-12 no-padding">
          <label>
            <input #imageInput type="file" class="form-control img-input" name="" value="" (change)="uploadImage($event, imagePlaceholder)">
            <div class="row">
              <div class="col">
                <span #imgPlaceholder class="img-placeholder vertical-center">{{'chatstories_creacion_add_image' | translate}}</span>
              </div>
              <div class="col">
                <div class="btn-img pull-right">
                  <span class="fa fa-file-image-o"></span>
                </div>
              </div>
            </div>
          </label>
          <img class="img" *ngIf="this.message.urlImagen" src="{{message.urlImagen}}" alt="" (click)="deleteImage(imageInput)">
          <span class="fa fa-times img-cross" *ngIf="this.message.urlImagen" (click)="deleteImage(imageInput)"></span>
        </div>

      </div>
      <div class="row row-margin-top">
        <div class="col-3 relative">
          <span class="time vertical-center" (click)="delayMessage()" [ngClass]="{'delay-selected': this.message.delay}">3’’ <span class="fa fa-clock-o"></span></span>
        </div>
        <div class="col no-padding">
          <div *ngIf="!this.editing" class="btn-hecho pull-right" (click)="newMessage(characterSelect, messageText, chatstoryPreview, imageInput)">{{'chatstories_creacion_add_message' | translate}}</div>
          <div *ngIf="this.editing" class="btn-hecho pull-right" (click)="forceNewMessage()">{{'chatstories_creacion_save_changes' | translate}}</div>
          <div *ngIf="this.editing" class="btn-hecho pull-right margin-top" (click)="deleteMessage()">{{'chatstories_creacion_delete_message' | translate}}</div>

        </div>
      </div>

    </div>
  </div>
  <div class="col-6 no-padding padding-right relative col-chatstory-preview">
    <div class="chatstory-preview-image" [ngStyle]="{'background-image': 'url(\''+this.chatStory.urlImagen+'\')'}"></div>
    <div id="preview" class="chatstory-preview" [ngStyle]="{'background-image': 'linear-gradient(to bottom, rgba(41, 186, 111, 0), '+this.chatStory.categoria?.color+')'}" #preview>
      <div class="row no-padding" *ngFor="let m of this.chatStory.chats">
          <app-chatstory-message [editable]='true' [big]='false' [message]="m" (click)="loadMessage(m)"></app-chatstory-message>
      </div>

    </div>
  </div>
</div>


<div class="row no-padding row-margin-top">
  <div class="col-6 relative">
    <span class="pull-right vertical-center phrase">
      {{'chatstories_creacion_publica_message' | translate}}
    </span>
  </div>
  <div class="col-3 no-padding">
    <div class="btn-hecho pull-right" (click)="guardarComoBorradorChatStory()">
      {{'chatstories_creacion_guardar_borrador' | translate}}
    </div>
  </div>
  <div class="col-3 no-padding">
    <div class="btn-hecho pull-right" (click)="publicarChatStory()">
      {{'all_publicar' | translate}} Chatstory
    </div>
  </div>
</div>
