@import "main";

textarea {
    resize: none;
    height: 233px;
}

.img{
  position: relative;
  width: 100%;
  height: auto;
}

.img:hover{
  cursor: pointer;
}
.img:hover + .img-cross{
  display: block;
}

.img-cross:hover{
  display: block;
  cursor: pointer;
}

.img-cross{
  display: none;
  position: absolute;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color:white;
  font-size:5em;
}

.img-input{
  display: none;
}

label{
  display:block;
  border-radius: 3px;
  background-color: $grey-1;
  border: solid 1px $grey-5;
  padding: .3em;
}

.img-placeholder{
  font-family: Raleway;
  font-size: 14px;
  font-style: italic;
  text-align: left !important;
  color: $grey-6;
  left:inherit !important;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.btn-img{
  border-radius: 4px;
  background-color: $grey-6;
  box-shadow: 0 1px 0 0 $grey-1;
  color: white;
  padding: .5em 1em;
  &:hover{
    cursor: pointer;
    background-color: $grey-7;
  }

}

.phrase{
  right: 5%;
  font-family: Raleway;
  font-size: 1em;
  font-style: italic;
  text-align: right;
  color: $grey-6;
}

.click-span{
  font-family: Raleway;
  font-size: 1.1em;
  font-weight: 600;
  text-align: right;
  color: $main-2;
}
.click-span:hover{
  cursor: pointer;
  text-decoration: underline;
}
.btn-hecho{
  position: relative;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  background-color: $main-1;
  font-family: Raleway;
  font-size: 1.05em;
  font-weight: bold;
  text-align: center;
  color: $grey-1;
  user-select: none;
}

.btn-hecho:hover{
  cursor: pointer;
  background-color: $main-2;
}

.relative{
  position: relative;
}
select:invalid{
  color:gray;
}

select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}

.no-padding{
  margin:0;
  padding:0;
}

.time{
  font-size: 1.1em !important;
  padding: .1em .3em;
  border-radius: 5px;
  &:hover{
    background-color: white;
    cursor: pointer;
  }
}

.delay-selected{
  background-color: $grey-7;
  color: white;
}

.vertical-center{
  position: absolute;
  top: 50%;
  left:0;
  transform: translateY(-50%);

  font-family: Raleway;
  font-size: 1em;
  text-align: right;
}

.fixed-title{
  font-family: Raleway;
  font-size:1.5em;
}

.wall-title{
  font-family: 'Maven Pro';
  font-size: 26px;
  font-weight: bold;
  text-align: left;
  color: $grey-8;
}

.row-margin-top{
  margin-top: 2em !important;
}

.category{
  width: 7em;
  font-family: Raleway;
  font-size: 8px;
  font-weight: bold;
  text-align: center;
  color: $grey-1;
  background-color: $cat-2;
}

.chatstory-message-creator{
  padding: 1em 3em;
  border-radius: 8px;
  background-color: #ededed;
}

.chatstory-preview{
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  padding: 1em 2em;
  border-radius: 8px;
  background-image: linear-gradient(to bottom, rgba(41, 186, 111, 0), $cat-2);
}

.chatstory-preview-image{
  border-radius: 8px;
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(.2em);
}

.col-chatstory-preview{
  overflow: hidden;
  border-radius: 8px;
}

.margin-top{
  margin-top: 1em;
}

.padding-right{
  padding-right: 1em !important;
}

.form-title{
  font-family: Raleway;
  font-size: 1.1em;
  font-weight: 600;
  text-align: left;
  color: $grey-8;
}

.right{
  position: absolute;
  right:0;
}

.title-error{
  color:red;
}
