<div class="card Rectangle-3-Copy-2 hidden-md-down">
  <div class="card-block">
    <h4 class="Card-title">Mi biblioteca de Chatstories</h4>
    <div class="Base-Notification-Banner" *ngIf="firstAdded">
      <div class="d-flex justify-content-center Banner-Text" style="font-weight:600">
        ¡Bien hecho!
      </div>
      <div class="d-flex justify-content-center Banner-Text">
        Has añadido tu primer chatstory a tu biblioteca
      </div>
      <div class="d-flex justify-content-center Banner-Text">
        ¡Puedes añadir más!
      </div>
    </div>
    <div *ngIf="!added">
      <div class="d-flex justify-content-center" style="margin-top:-15px;">
        <div class="d-flex flex-row">
            <div class="d-flex flex-column">
              <div class="Rectangle-2">
              </div>
              <div class="Rectangle-2">
              </div>
              <div class="Rectangle-2">
              </div>
              <div class="Rectangle-2">
              </div>
            </div>
            <div class="d-flex flex-column">
              <div class="Rectangle-2-Copy">
                <div class="Rectangle-2-Copy-4">
                </div>
                <div class="Rectangle-2-Copy-5">
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="Info">
        Añade a tu biblioteca los Chatstories que más te gusten para leerlos a tu ritmo
      </div>
    </div>
    <div class="Rectangle-3-Copy-3" #contenedorBiblioteca>
      <div *ngFor="let chatstory of paginador?.paginador">
        <div class="Rectangle-3-Copy-4">
          <div class="d-flex flex-row">
            <div class="d-flex flex-column" style="margin-right:15px;">
              <img src="{{chatstory.imagen_url}}" class="Chat-Image" alt="Chatstory">
            </div>
            <div class="d-flex flex-column" style="width:100%;">
              <div class="d-flex flex-row" title="{{chatstory.titulo}}">
                <div class="Chat-Title">
                  {{chatstory.titulo}}
                </div>
              </div>
              <div class="d-flex flex-row flex-wrap" style="margin-bottom:10px;">
                <div class="d-flex flex-colum">
                  <div class="Rectangle-7-Copy-4" [style.border] = 'getBorder(chatstory)' [style.color] = 'getColor(chatstory)'>
                    <div class="Categoria">
                      {{chatstory.categoria.nombre}}
                    </div>
                  </div>
                </div>
                <div class="d-flex flex-colum">
                  <div class="Chat-Estadisticas d-flex justify-content-end" style="padding:0;">
                    <div class="Chat-Views d-flex flex-colum mr-auto p-2">
                      <i class="fa fa-eye" aria-hidden="true"></i>
                      {{getNumber(chatstory.views)}}
                    </div>
                    <div class="Chat-Likes d-flex flex-colum p-2">
                      <i class="fa fa-heart-o" aria-hidden="true"></i>
                      {{getNumber(chatstory.likes)}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button class="Radio-Label Rectangle-7-Copy-2"  [@changeBackgroundColor]='state' type="button" name="button">
        Ir a la biblioteca
      </button>
    </div>
  </div>
</div>
