@import 'main';

.Rectangle-3-Copy-2 {
  border-radius: 8px;
  //background-color: #ffffff;
  background-color: $grey-1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
}

.Card-title {
  padding-top: 10px;
  font-family: Raleway;
  font-size: 1.125em;
  font-weight: 500;
  text-align: center;
  margin-bottom: 24px;
  //color: #808080;
  color: $grey-7;

}

.Rectangle-2 {
  width: 21px;
  height: 8px;
  //margin-left: 84px;
  margin-bottom: -10px;
  //margin-top: 21.7px;
  border-radius: 4px;
  //background-color: #d8d8d8;
  background-color: $grey-4;
}

.Rectangle-2-Copy {
  width: 83px;
  height: 40px;
  border-radius: 4px;
  margin-top: 12px;
  margin-left: 4px;
  //background-color: #d8d8d8;
  background-color: $grey-4;
}

.Rectangle-2-Copy-4 {
  width: 30px;
  height: 8px;
  margin-left: 6px;
  margin-top: 6px;
  border-radius: 4px;
  //background-color: #ffffff;
  background-color: $grey-1;
}

.Rectangle-2-Copy-5 {
  width: 48px;
  height: 17px;
  margin-left: 6px;
  margin-top: 5px;
  border-radius: 4px;
  //background-color: #ffffff;
  background-color: $grey-1;
}

.Info {
  //width: 232px;
  //height: 60px;
  font-family: Raleway;
  font-size: 1.125em;
  font-weight: 500;
  font-style: italic;
  line-height: 1.43;
  text-align: center;
  margin: 18px auto;
  //color: #984cce;
  color: $main-3;
}

.Rectangle-3-Copy-3 {
  width: 100%;
  height: 366px;
  border-radius: 8px;
  padding: 10px 7px 20px;
  //background-color: #f0f0f0;
  background-color: $grey-3;
  overflow-y: auto;
}

.Rectangle-7-Copy-2 {
  //width: 100%;
  height: 26px;
  border-radius: 4px;
  margin-top: 11px;
  padding: 0 14px;
  //background-color: #c0c0c0;
  background-color: $grey-5;
  margin-bottom: -8px;
}

.Radio-Label {
  //width: 96px;
  // height: 14px;
  font-family: Raleway;
  font-size: 0.95em;
  font-weight: bold;
  text-align: center;
  // color: #ffffff;
  border: 0;
  outline: none;
  color: $grey-1;
}

.Base-Notification-Banner {
  //width: 256px;
  height: 128px;
  background-color: #faf1ff;
  //line-height: 25px;
  padding: 15px 20px;
  margin-top: -8px;
  margin-bottom: 15px;
}

.Banner-Text {
  font-family: Raleway;
  font-size: 1.125em;
  line-height: 1.14;
  text-align: center;
  margin-bottom: 15px;
  //color: #984cce;
  color: $main-3;

}

.Rectangle-3-Copy-4 {
  //position: relative;
  //width: 253px;
  //height: 81px;
  //margin: 0px 7px;
  //width: 100%;
  border-radius: 8px;
  padding-left: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 8px;
  //background-color: #ffffff;
  background-color: $grey-1;
  border: solid 1px #e0e0e0;
}

.Chat-Image {
  border-radius: 5px;
  //margin-right: 15px;
  //margin-bottom: -35px;
  height: 100%;
  width: 45px;

}

.Chat-Title {
  font-family: 'Maven Pro';
  font-size: 1.125em;
  font-weight: bold;
  text-align: left;
  //color: #000000;
  color: $grey-10;
  margin-bottom: -2px;
  margin-top: 10px;
  max-width: 100%;
  margin-right: 5px;
  //max-height: 3em;
}

// .block-with-text {
//   overflow: hidden;
//   position: relative;
//   //line-height: 1.2em;
//   max-height: 3em;
//   text-align: left;
//   //margin-right: -1em;
//   //margin-right: 1.5em;
//   padding-right: 1em;
// }
//
// .block-with-text:before {
//   content: '...';
//   position: absolute;
//   right: 0.2em;
//   bottom: 0;
// }
// .block-with-text:after {
//   content: '';
//   position: absolute;
//   font-weight: bold;
//   right: 0.2em;
//   width: 1em;
//   height: 1em;
//   margin-top: 0.2em;
//   // bottom: 0;
//   background: white;
// }

.Rectangle-7-Copy-4 {
  //width: 100%;
  //padding: 2px 4px 0px 5px;
  padding: 1px 4px;
  height: 14px;
  //border: solid 1px #e65e20;
  //border: solid 1px $cat-1;
  //margin-left: 12px;
  margin-top: 10px;
  margin-right: 15px;
  //opacity: 0.5;
}

.Categoria {
  font-family: Raleway;
  font-size: 0.6em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  //color: #e65e20;
  //color: $cat-1;
}

.Chat-Estadisticas {
  //width: 90px;
  // position: absolute;
  // top:-17px;
  // left: 70px;
  margin-top: 2px;
  //margin-right: 5px;

}
.Chat-Views {
  margin-right: 15px;
  font-family: Arial;
  //Fuente real(Falta añadir): .SFNSText
  font-size: 0.92em;
  padding-left: 0 !important;
  text-align: left;
  //color: #9b9b9b;
  color: $grey-6;

}

.Chat-Likes {
  //margin-left: 15px;
  font-family: Arial;
  //Fuente real(Falta añadir): .SFNSText
  font-size: 0.92em;
  text-align: left;
  //color: #9b9b9b;
  color: $grey-6;

}

.fa-eye {
  margin-top: 3px;
  margin-right: 4px;

}

.fa-heart-o {
  margin-top: 3px;
  margin-right: 4px;
}
