<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-3 cols-no-padding">
      <app-card-user-account-navigate [view]="this.view" (changeView)="this.view=$event"></app-card-user-account-navigate>
      <div style="margin-top:19px;">
      </div>
      <app-card-informativo class="hidden-lg-up" [view]="'relato'"></app-card-informativo>
    </div>
    <!-- /.col -->
    <div class="col-lg-7 col-md-9 cols-no-padding">
      <router-outlet></router-outlet>
    </div>
    <!-- /.col -->
    <div class="col-lg-3 hidden-md-down" *ngIf="this.getInfoCard()" style="padding-left:0px;">
      <app-card-informativo [view]="'relato'"></app-card-informativo>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
