<button class="btn btn-primary" (click)="togglePopover()">{{ textoBoton }}</button>
<div class="card popover bottom" *ngIf="popoverDisplay">
  <div class="card-block">
    <div class="card-title">Únete para poder publicar</div>
    <div class="row">
      <div class="col">
        <div class="card-text">Regístrate con:</div>
        <a href="/oauth/facebook" class="btn btn-primary btn-block">FACEBOOK</a>
        <a href="/oauth/twitter" class="btn btn-primary btn-block">TWITTER</a>
        <a href="/oauth/google" class="btn btn-primary btn-block">GOOGLE</a>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="emailInput">Email</label>
          <input type="email" class="form-control" id="emailInput">

          <label for="passwordInput">Contraseña</label>
          <input type="password" class="form-control" id="passwordInput">

          <label for="usernameInput">Nombre de Usuario</label>
          <input type="text" class="form-control" id="usernameInput">
        </div>
        <div class="form-group row">
          <button class="btn btn-primary">Unirme</button>
        </div>
      </div>
    </div>
  </div>
</div>
