@import 'main';

.outside-container{
  border-radius: 0.5em;
  background-color: #ededed;
  padding: 0.25em;
}

.outside-container .row{
  margin-left:0em;
  margin-right:0em;
}

.character{
  background-color: #d8d8d8;
  border-radius: 0.3em;
  margin-left: 0.25em;
  margin-right: 0.25em;
  padding-left: 1em;
  height: 1.5em
}

.no-padding{
  padding:0;
}
.row-margin{
  margin-top:0.5em;
  margin-bottom: 0.5em;
}

.row-margin-top{
  margin-top: 2em !important;
}

.no-padding{
  margin:0;
  padding:0;
}

.input-character{
  position: relative;
  // padding-left: 1em;
  // padding-right: 1em;
  width: 50%;
  border-radius: 3px;
  background-color: $grey-1;
  border: solid 1px $grey-5;
}
.input-character input{
  // width: 90%;
  line-height: inherit;
}

.input-character .fa{
  line-height: inherit;
  font-size: 1.5em;
  color:$main-1;
  position: absolute;
  right: .5em;
  top: 50%;
  transform: translateY(-50%);
}

.input-character .fa:hover{
  cursor: pointer;
}
.input-character input::placeholder{
  font-style: italic;
  color:$grey-6;
}

.input-character input{
  background: 0;
  border: 0;
}
